<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<nav th:replace="~{/layoutadmin/head.html}"></nav>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    .form123{
        position: relative;
        margin-bottom: 15px;
    }
    .form123 label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 14px;
        color: black;
        padding: 0 5px;
        pointer-events: none;
        transition: .5s;
    }
    .form123 input{
        width: 100%;
        height: 45px;
        font-size: 16px;
        color: black;
        padding: 0 10px;
        background: transparent;
        outline: none;
        border-radius: 5px;
    }
    .form123 input~label{
        top: 0;
        font-size: 12px;
        background: white;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        /* Hiển thị biểu tượng bước lên/xuống mặc định */
        -moz-appearance: textfield;
    }
    .icon.active {
        fill: red; /* Thay đổi màu khi được chọn */
    }
    .sticky-thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .checkbox{
        width: 18px;
        height: 18px;
        background-color: #eee;
        border-radius: 5px;
        border: 1px solid black;
        cursor: pointer;
        -webkit-appearance: none; /* Tắt kiểu mặc định của trình duyệt cho checkbox */
        appearance: none;
        position: relative;
    }

    /* Styling the checkbox when it's checked */
    .checkbox:checked {
        background-color: rgb(249,72,42);
        border: 1px solid black;
    }
    .checkbox:checked::after {
        content: '';
        position: absolute;
        top: 2px;
        left: 6px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    .color-input {
        width: 100px;
        height: 30px; /* Điều chỉnh chiều cao của input nếu cần */
        border: none; /* Loại bỏ đường viền nếu cần */
        outline: none; /* Loại bỏ outline nếu cần */
    }
    table#productTable thead {
        background-color: rgb(249, 72, 42) !important;
        height: 50px;
        color: white !important;
    }
    table#productTable thead th {
        background-color: inherit !important; /* Kế thừa màu nền từ thead */
        color: inherit !important; /* Kế thừa màu chữ từ thead */
    }
    table#detailTable thead {
        background-color: rgb(249, 72, 42) !important;
        height: 50px;
        color: white !important;
    }
    table#detailTable thead th {
        background-color: inherit !important; /* Kế thừa màu nền từ thead */
        color: inherit !important; /* Kế thừa màu chữ từ thead */
    }


</style>
<body class="hold-transition sidebar-mini" style="font-family: 'Bahnschrift'">
<div class="wrapper">
    <!-- Navbar -->
    <nav th:replace="~{/layoutadmin/navbar.html}"></nav>
    <!-- End navbar -->

    <!--Menu bán hàng -->
    <nav th:replace="~{/layoutadmin/menu.html}"></nav>
    <!--end-->

    <!--Nội dung -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-5 mt-2">
                    <div class="col-sm-6 d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="bi bi-bookmark-dash-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6 6a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                        </svg>
                        <h1 style="margin-left: 10px;">THÊM MỚI ĐỢT GIẢM GIÁ</h1>
                    </div>
                    <div class="col-sm-6">
                        <!-- <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">QUẢN LÝ ĐỢT GIẢM GIÁ</li>
                        </ol> -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!---filter-->
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-5">
                                <form id="formThemDot" th:action="@{/admin/them-dot-giam-gia}" th:object="${dotGiamGia}" method="post" onsubmit="return validateForm()">
                                    <div class="form123 mt-5">
                                        <input id="inputTen" type="text" th:field="*{tendot}" placeholder="Tên đợt giảm giá"/>
                                        <label>Tên đợt giảm giá</label>
                                        <div style="color: red; font-weight: initial;" id="errorTen"></div>
                                    </div>
                                    <input type="hidden" name="choncheckbox" value="-1">
                                    <div class="form123 mt-5">
                                        <input id="inputGiaTri" type="number" th:field="*{giatrigiam}" placeholder="Giá trị giảm"/>
                                        <label>Giá trị giảm (%)</label>
                                        <div style="color: red; font-weight: initial;" id="errorGiaTri"></div>
                                    </div>
                                    <div class="form123 mt-5">
                                        <input onkeydown="return false" id="inputTuNgay" name="ngayBatDau" type="datetime-local"/>
                                        <label>Ngày bắt đầu</label>
                                        <div style="color: red; font-weight: initial;" id="errorTuNgay"></div>
                                    </div>
                                    <div class="form123 mt-5">
                                        <input onkeydown="return false" id="inputDenNgay" name="ngayKetThuc" type="datetime-local"/>
                                        <label>Ngày kết thúc</label>
                                        <div style="color: red; font-weight: initial;" id="errorDenNgay"></div>
                                    </div>
                                    <div class="d-flex justify-content-evenly align-items-center" style="margin-top: 15px;">
                                        <a th:href="@{/admin/hien-thi-dot-giam-gia}">
                                            <button type="button" style="background-color: black;color: white; padding: 5px 10px; width: 100px; height: 40px; border-radius: 10px; border-color: black; font-weight: bold;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
                                            </svg> Thoát
                                            </button>
                                        </a>
                                        <button onclick="layGiaTri()" type="submit" style="background-color: rgb(249,72,42);color: white; padding: 5px 10px; width: 100px; height: 40px; border-radius: 10px; border-color: rgb(249,72,42); font-weight: bold;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                        </svg> Thêm
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-7">
                                <form>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <svg style="height: 25px; width: 45px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 460 512">
                                                <path d="M220.6 130.3l-67.2 28.2V43.2L98.7 233.5l54.7-24.2v130.3l67.2-209.3zm-83.2-96.7l-1.3 4.7-15.2 52.9C80.6 106.7 52 145.8 52 191.5c0 52.3 34.3 95.9 83.4 105.5v53.6C57.5 340.1 0 272.4 0 191.6c0-80.5 59.8-147.2 137.4-158zm311.4 447.2c-11.2 11.2-23.1 12.3-28.6 10.5-5.4-1.8-27.1-19.9-60.4-44.4-33.3-24.6-33.6-35.7-43-56.7-9.4-20.9-30.4-42.6-57.5-52.4l-9.7-14.7c-24.7 16.9-53 26.9-81.3 28.7l2.1-6.6 15.9-49.5c46.5-11.9 80.9-54 80.9-104.2 0-54.5-38.4-102.1-96-107.1V32.3C254.4 37.4 320 106.8 320 191.6c0 33.6-11.2 64.7-29 90.4l14.6 9.6c9.8 27.1 31.5 48 52.4 57.4s32.2 9.7 56.8 43c24.6 33.2 42.7 54.9 44.5 60.3s.7 17.3-10.5 28.5zm-9.9-17.9c0-4.4-3.6-8-8-8s-8 3.6-8 8 3.6 8 8 8 8-3.6 8-8z"/>
                                            </svg>
                                        </span>
                                        <input type="text" id="searchInput" class="form-control" placeholder="Nhập mã hoặc tên sản phẩm" style="height: 46px;" onkeyup="filterTable()">
                                    </div>
                                </form>
                                <div class="table-responsive" style="margin-top: 10px; padding-bottom: 15px; max-height: 400px;">
                                    <table id="productTable" class="table table-bordered align-middle text-center table-hover">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>STT</th>
                                                <th>Mã sản phẩm</th>
                                                <th>Tên sản phẩm</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                 class="bi bi-card-list" viewBox="0 0 16 16">
                                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                                <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                            </svg>
                            <h5 style="margin-left: 10px; padding-top: 6px;">Danh sách chi tiết sản phẩm</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive" style="margin-top: 10px; padding-bottom: 15px; max-height: 400px;">
                                    <table id="detailTable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th style="display: table-cell; vertical-align: middle; text-align: center; padding: 0;"><input type="checkbox" class="checkbox" name="chontatcactsp" id="chontatcactsp" onchange="selectAll(this)"></th>
                                                <th style="vertical-align: middle; text-align: center;">STT</th>
                                                <th style="vertical-align: middle; text-align: center;">Ảnh</th>
                                                <th style="vertical-align: middle; text-align: center;">Tên sản phẩm</th>
                                                <th style="vertical-align: middle; text-align: center;">Size</th>
                                                <th style="vertical-align: middle; text-align: center;">Màu sắc</th>
                                                <!--                                        <th>Gioi tính</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.container-fluid -->
        </section>
    </div>
    <!--end-->
    <nav th:replace="~{/layoutadmin/footer.html}"></nav>
</div>
<script>

    let selectedProducts = new Set(); // Danh sách các sản phẩm được chọn
    let index= 0;
    let index1=0;
    // Hàm để lấy danh sách sản phẩm từ server
    async function getProducts() {
        const response = await fetch('/hien-thi-san-pham');
        return await response.json();
    }

    // Hàm để lấy chi tiết sản phẩm từ server dựa vào productId
    async function getProductDetails(Id) {
        const response = await fetch(`/hien-thi-san-pham-chi-tiet/${Id}`);
        return await response.json();
    }
    var giaTriTuCheckbox = []; // Mảng lưu trữ giá trị từ checkbox
    // Hàm để hiển thị danh sách sản phẩm
    async function displayProducts() {
        const products = await getProducts();
        const productTableBody = document.querySelector("#productTable tbody");
        products.forEach(product => {
            const row = productTableBody.insertRow();
            const checkboxCell = row.insertCell();
            const checkbox = document.createElement("input");
            checkbox.className="checkbox";
            checkbox.type = "checkbox";
            checkbox.name="chonsanpham";
            checkbox.value = product.id;
            checkbox.addEventListener("change", async function() {
                if (this.checked) {
                    selectedProducts.add(product.id);
                    const details = await getProductDetails(product.id);
                     console.log(details);
                    displayDetails(details);
                } else {
                    selectedProducts.delete(product.id);
                    hideDetails(product.id);
                }
            });
            checkboxCell.appendChild(checkbox);
            const numberCell = row.insertCell();
            numberCell.textContent = ++index; // T
            const maCell= row.insertCell();
            maCell.textContent=product.masanpham;
            const nameCell = row.insertCell();
            nameCell.textContent = product.tensanpham;
        });
    }

    // Hàm để hiển thị chi tiết sản phẩm
    function displayDetails(details) {
        const detailTableBody = document.querySelector("#detailTable tbody");
        details.forEach(detail => {
            const row = detailTableBody.insertRow();
            row.setAttribute("data-product-id", detail.sanpham.id); // Lưu productId vào data attribute
            const checkboxCell = row.insertCell();
            checkboxCell.style.display = 'table-cell';
            checkboxCell.style.verticalAlign = 'middle';
            checkboxCell.style.textAlign = 'center';
            checkboxCell.style.padding = '0';
            const checkbox = document.createElement("input");
            checkbox.className="checkbox";
            checkbox.type = "checkbox";
            checkbox.name="chonchitietsp";
            checkbox.value = detail.id;
            checkbox.onchange = function() {
                luuGiaTri(this);
            };
            checkboxCell.appendChild(checkbox);

            const numberCell = row.insertCell();
            numberCell.style.display = 'table-cell';
            numberCell.style.verticalAlign = 'middle';
            numberCell.style.textAlign = 'center';
            numberCell.style.padding = '0';

            numberCell.textContent = ++index1;

            const imageCell = row.insertCell(); // Thêm cột cho ảnh
            imageCell.style.display = 'table-cell';
            imageCell.style.verticalAlign = 'middle';
            imageCell.style.textAlign = 'center';
            imageCell.style.padding = '0';

            // Kiểm tra xem detail có danh sách ảnh không
            if (detail.anh.length > 0) {
                const image = document.createElement("img");
                image.src = '/upload' + detail.anh[0].tenanh.substring(detail.anh[0].tenanh.lastIndexOf('upload') + 6);
                image.alt = "Ảnh"; // Thiết lập thuộc tính alt của ảnh
                image.width = 110; // Đặt chiều rộng của ảnh (đơn vị là pixels)
                image.height = 75;
                imageCell.appendChild(image); // Thêm ảnh vào ô trong hàng
            }

            const nameCell = row.insertCell();
            nameCell.textContent = detail.sanpham.tensanpham;
            nameCell.style.display = 'table-cell';
            nameCell.style.verticalAlign = 'middle';
            nameCell.style.textAlign = 'center';
            nameCell.style.padding = '0';


            const sizeCell = row.insertCell();
            sizeCell.style.display = 'table-cell';
            sizeCell.style.verticalAlign = 'middle';
            sizeCell.style.textAlign = 'center';
            sizeCell.style.padding = '0';

            sizeCell.textContent = detail.kichco.ten;

            const colorCell = row.insertCell();
            colorCell.style.display = 'table-cell';
            colorCell.style.verticalAlign = 'middle';
            colorCell.style.textAlign = 'center';
            colorCell.style.padding = '0';

            // Tạo phần tử input với kiểu color
            const colorInput = document.createElement('input');
            colorInput.type = 'color';
            colorInput.value = detail.mausac.ten; // Thiết lập giá trị của input
            colorInput.className = 'color-input'; // Thêm lớp CSS nếu cần
            colorInput.disabled = true; // Đặt thuộc tính disabled nếu cần
            colorCell.appendChild(colorInput);

        });
    }

    // Hàm để ẩn chi tiết sản phẩm của sản phẩm đã bị bỏ chọn
    async function hideDetails(Id) {
        const detailRows = document.querySelectorAll(`#detailTable tbody tr[data-product-id="${Id}"]`);
        detailRows.forEach(row => row.remove());
        const details = await getProductDetails(Id);
        // Lặp qua mỗi chi tiết sản phẩm
        for (let i = 0; i < details.length; i++) {
            const detail = details[i];

            // Lặp qua mỗi giá trị trong mảng giaTriTuCheckbox
            for (let j = 0; j < giaTriTuCheckbox.length; j++) {
                const value = giaTriTuCheckbox[j];

                // So sánh chi tiết sản phẩm với giá trị từ checkbox
                if (detail.id.toString() === value) {
                    // Nếu có sự khớp, loại bỏ giá trị khỏi mảng giaTriTuCheckbox
                    giaTriTuCheckbox.splice(j, 1);
                    // Phá vòng lặp để tiết kiệm thời gian
                    break;
                }
            }
        }
    }

    // Gọi hàm để hiển thị danh sách sản phẩm khi trang được tải
    displayProducts();
    function filterTable() {
        const input = document.getElementById('searchInput');
        const filter = input.value.toLowerCase();
        const table = document.getElementById('productTable');
        const trs = table.getElementsByTagName('tr');

        for (let i = 1; i < trs.length; i++) {
            const tds = trs[i].getElementsByTagName('td');
            const name = tds[2].textContent.toLowerCase();
            const phone = tds[3].textContent.toLowerCase();
            if (name.includes(filter) || phone.includes(filter)) {
                trs[i].style.display = '';
            } else {
                trs[i].style.display = 'none';
            }
        }
    }
    function selectAll(source) {
        var checkboxes = document.getElementsByName('chonchitietsp');
        for(var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
            // Nếu checkbox được chọn, thêm giá trị của nó vào mảng giaTriTuCheckbox
            if (source.checked && giaTriTuCheckbox.indexOf(checkboxes[i].value) === -1) {
                giaTriTuCheckbox.push(checkboxes[i].value);
            } else if (!source.checked) { // Nếu checkbox không được chọn, loại bỏ giá trị của nó khỏi mảng giaTriTuCheckbox
                var index = giaTriTuCheckbox.indexOf(checkboxes[i].value);
                if (index !== -1) {
                    giaTriTuCheckbox.splice(index, 1);
                }
            }
        }
    }

    // Gắn sự kiện change cho checkbox "chontatcactsp"
    chontatcactspCheckbox.addEventListener("change", handleChonTatCaCacTSP);



    // Hàm lưu trữ giá trị từ checkbox khi thay đổi
    function luuGiaTri(checkbox) {
        if (!giaTriTuCheckbox) {
            giaTriTuCheckbox = []; // Khởi tạo biến giaTriTuCheckbox nếu nó chưa được khởi tạo
        }
        if (checkbox.checked) {
            giaTriTuCheckbox.push(checkbox.value);
        } else {
            var index = giaTriTuCheckbox.indexOf(checkbox.value);
            if (index !== -1) {
                giaTriTuCheckbox.splice(index, 1);
            }
        }
        if (giaTriTuCheckbox.length > 0) {
            console.log("Mảng có giá trị:", giaTriTuCheckbox);
        } else {
            console.log("Mảng không có giá trị.");
        }
    }

    function layGiaTri() {
        if(giaTriTuCheckbox.length>0){
            for (var i = 0; i < giaTriTuCheckbox.length; i++) {
                var input = document.createElement("input");
                input.type = "hidden";
                input.name = "choncheckbox";
                input.value= giaTriTuCheckbox[i];
                document.getElementById("formThemDot").appendChild(input);
            }
        }
    }
</script>
<script th:inline="javascript">

    /*<![CDATA[*/
    // var objectsFromController = /*[[${lstPGG}]]*/ [];
    function kiemTraCheckboxDuocChon(name) {
        var checkboxes = document.getElementsByName(name);
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                return true; // Nếu có checkbox nào được chọn, trả về true
            }
        }
        return false; // Nếu không có checkbox nào được chọn, trả về false
    }
    function checkCoKhoangTrang(str) {
        // Sử dụng biểu thức chính quy để kiểm tra có khoảng trắng giữa hai từ không
        return /\s/.test(str.trim());
    }
    function checkNhieuKhoangTrang(str) {
        // Sử dụng biểu thức chính quy để tìm các mẫu có ít nhất hai khoảng trắng liên tiếp giữa các từ
        return /\s{2,}/.test(str.trim());
    }
    function validateTenPhieuGiamBTCQ(inputString) {
        // Biểu thức chính quy cho phép các ký tự Latinh, số từ 0-9 và có độ dài từ 5 đến 15 ký tự
        const regex = /^[0-9a-zA-ZàÀảẢãÃáÁạẠăĂằẰẳẲẵẴắẮặẶâÂầẦẩẨẫẪấẤậẬèÈẻẺẽẼéÉẹẸêÊềỀểỂễỄếẾệỆìÌỉỈĩĨíÍịỊòÒỏỎõÕóÓọỌôÔồỒổỔỗỖốỐộỘơƠờỜởỞỡỠớỚợỢùÙủỦũŨúÚụỤưƯừỪửỬữỮứỨựỰýÝđĐ ]{1,50}$/;
        return regex.test(inputString);
    }
    function validateForm(){

        var inputTen=document.getElementById("inputTen").value;
        var errorTen=document.getElementById("errorTen");
        var isTenValid = true;
        if(inputTen.trim() === ""){
            errorTen.innerText = "Tên phiếu không được để trống!";
            document.getElementById("inputTen").style.border = "1.2px solid red";
            isTenValid = false;
        }
        if(inputTen.trim().length > 0){
            if(checkNhieuKhoangTrang(inputTen)){
                errorTen.innerText = "Giữa các từ không được nhiều hơn 1 khoảng trắng!";
                document.getElementById("inputTen").style.border = "1.2px solid red";
                isTenValid = false;
            }
        }
        if(inputTen.trim().length > 0){
            if(validateTenPhieuGiamBTCQ(inputTen)===false){
                errorTen.innerText = "Tên phiếu chỉ được chứa ký tự, số và tối đa 50 ký tự!";
                document.getElementById("inputTen").style.border = "1.2px solid red";
                isTenValid = false;
            }
        }
        if(isTenValid){
            document.getElementById("inputTen").style.border = "";
            errorTen.innerText = "";
        }
        var inputGiaTri=document.getElementById("inputGiaTri").value;
        var errorGiaTri=document.getElementById("errorGiaTri");
        var isGiaTriValid = true;
        if (inputGiaTri === "") {
            errorGiaTri.innerText = "Giá trị giảm không được để trống!";
            document.getElementById("inputGiaTri").style.border = "1.2px solid red";
            isGiaTriValid = false;
        }
        if(inputGiaTri < 1 || inputGiaTri > 100){
            errorGiaTri.innerText = "Phần trăm giảm phải từ 1% đến 100%!";
            document.getElementById("inputGiaTri").style.border = "1.2px solid red";
            isGiaTriValid = false;
        }
        if(isGiaTriValid){
            document.getElementById("inputGiaTri").style.border = "";
            errorGiaTri.innerText = "";
        }
        var inputTuNgay=document.getElementById("inputTuNgay").value;
        var inputDenNgay=document.getElementById("inputDenNgay").value;
        var errorDenNgay=document.getElementById("errorDenNgay");
        var errorTuNgay=document.getElementById("errorTuNgay");
        var isTuNgayValid = true;
        var isDenNgayValid = true;
        var dateNow = new Date();
        if(!inputTuNgay){
            errorTuNgay.innerText="Ngày bắt đầu không được bỏ trống!";
            document.getElementById("inputTuNgay").style.border = "1.2px solid red";
            isTuNgayValid= false;
        }
        if(inputTuNgay){
            var date1 = new Date(inputTuNgay);
            if(date1.getDate()< dateNow.getDate()){
                errorTuNgay.innerText="Ngày giờ bắt đầu phải lớn hơn ngày giờ hiện tại!";
                document.getElementById("inputTuNgay").style.border = "1.2px solid red";
                isTuNgayValid= false;
            }
        }
        if(!inputDenNgay){
            errorDenNgay.innerText="Ngày kết thúc không được bỏ trống!";
            document.getElementById("inputDenNgay").style.border = "1.2px solid red";
            isDenNgayValid= false;
        }
        if(inputTuNgay && inputDenNgay){
            var date1 = new Date(inputTuNgay);
            var date2 = new Date(inputDenNgay);
            if(date1.getTime() >= date2.getTime()){
                errorDenNgay.innerText="Ngày kết thúc phải lớn hơn ngày bắt đầu!";
                document.getElementById("inputDenNgay").style.border = "1.2px solid red";
                isDenNgayValid= false;
            }
        }
        if(isTuNgayValid){
            document.getElementById("inputTuNgay").style.border = "";
            errorTuNgay.innerText="";
        }
        if(isDenNgayValid){
            document.getElementById("inputDenNgay").style.border = "";
            errorDenNgay.innerText="";
        }
        if(isTenValid && isGiaTriValid && isTuNgayValid && isDenNgayValid){
            if(kiemTraCheckboxDuocChon("chonsanpham")===false){
                const Toast = Swal.mixin({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    }
                });

                Toast.fire({
                    icon: "error",
                    title: "Vui lòng chọn sản phẩm áp dụng!"
                });
                return false;
            }else{
                if(kiemTraCheckboxDuocChon("chonchitietsp")===false){
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });

                    Toast.fire({
                        icon: "error",
                        title: "Vui lòng chọn chi tiết sản phẩm áp dụng!"
                    });
                    return false;
                }else{
                    Swal.fire({
                        title: 'Bạn có chắc chắn muốn thêm đợt giảm giá mới không?',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Có',
                        cancelButtonText: 'Không'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Nếu người dùng nhấn Có, hiển thị thông báo thành công và chuyển hướng sau một khoảng thời gian
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 3000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });

                            // Toast.fire({
                            //     icon: "success",
                            //     title: "Thêm thành công!"
                            // });

                            setTimeout(function () {
                                document.getElementById("formThemDot").submit();
                            }, 500);
                        }
                    });
                    // Ngăn form được gửi đi ngay lập tức
                    return false;
                }
            }
        }else{
            return false;
        }
    }

    /*]]>*/
</script>
<nav th:replace="~{/layoutadmin/script.html}"></nav>
</body>
</html>
