<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<nav th:replace="~{/layoutadmin/head.html}"></nav>

<body class="hold-transition sidebar-mini">

<div class="wrapper">
    <!-- Navbar -->
    <nav th:replace="~{/layoutadmin/navbar.html}"></nav>
    <!-- End navbar -->

    <!--Menu bán hàng -->
    <nav th:replace="~{/layoutadmin/menu.html}"></nav>
    <!--end-->

    <!--Nội dung -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="text-bold">
                            THÊM ĐỢT GIẢM GIÁ
                        </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">THÊM ĐỢT GIẢM GIÁ</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!---filter-->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-header" style="height: 407px">
                                <p>
                                    Tên khuyến mại:
                                    <input class="form-control" placeholder="Tên khuyến mại">
                                </p>
                                <p>
                                    Giá trị giảm:
                                    <input class="form-control" type="number" placeholder="Giá trị giảm">
                                </p>
                                <p>
                                    Ngày bắt đầu:
                                    <input type="datetime-local" class="form-control">
                                </p>
                                <p>
                                    Ngày kết thúc:
                                    <input type="datetime-local" class="form-control">
                                </p>
                                <button class="btn btn-primary">Thêm</button>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                    <div class="col-8">
                        <div class="card">
                            <div class="card-header">
                                <table id="example2" class="table table-bordered table-hover text-center">
                                    <thead class="table table-danger">
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã Sản phẩm</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Số lượng tồn</th>
                                        <th>Trạng thái</th>
                                        <th>Hành động</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Trident</td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>Win 95+</td>
                                        <td>4</td>
                                        <td>
                                            <a href="#">Đang kinh doanh</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger">detail</a>
                                            <a th:href="@{/admin/qlchitietsanpham}" class="btn btn-warning">update</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Trident</td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>Win 95+</td>
                                        <td>4</td>
                                        <td>
                                            <a href="#">Đang kinh doanh</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger">detail</a>
                                            <a th:href="@{/admin/qlchitietsanpham}" class="btn btn-warning">update</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Trident</td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>Win 95+</td>
                                        <td>4</td>
                                        <td>
                                            <a href="#">Đang kinh doanh</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger">detail</a>
                                            <a th:href="@{/admin/qlchitietsanpham}" class="btn btn-warning">update</a>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>


                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <h3 class="text-bold text-center" style="padding-left: 15px">CHI TIẾT SẢN PHẨM</h3>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">

                                <table id="example2" class="table table-bordered table-hover text-center">
                                    <thead class="table table-primary">
                                    <tr>
                                        <th></th>
                                        <th>STT</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Giá nhập</th>
                                        <th>Giá bán</th>
                                        <th>Kích thước</th>
                                        <th>Màu sắc</th>
                                        <th>Trạng thái</th>
                                        <th>Hành động</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td>Trident</td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>
                                            <input type="number" width="50px">
                                        </td>
                                        <td>
                                            <input type="number" width="50px">
                                        </td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>
                                            <button class=" btn btn-primary btn-xs">Đang kinh doanh</button>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger">delete</a>
                                            <a th:href="@{/admin/qlchitietsanpham/sv.id}" class="btn btn-warning"
                                               data-bs-toggle="modal" data-bs-target="#detailctsp">detail</a>
                                            <!-- Modal -->
                                            <div class="modal fade" id="detailctsp" tabindex="-1"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">UPDATE
                                                                CHI TIẾT SẢN PHẨM</h1>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">THÔNG TIN SẢN PHẨM</div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Hủy
                                                            </button>
                                                            <button type="button" class="btn btn-primary">Update
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td>Trident</td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>
                                            <input type="number" width="50px">
                                        </td>
                                        <td>
                                            <input type="number" width="50px">
                                        </td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>
                                            <button class=" btn btn-primary btn-xs">Đang kinh doanh</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger">delete</button>
                                            <button class="btn btn-warning">detail</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td>Trident</td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>
                                            <input type="number" width="50px">
                                        </td>
                                        <td>
                                            <input type="number" width="50px">
                                        </td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>
                                            <button class=" btn btn-primary btn-xs">Đang kinh doanh</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger">delete</button>
                                            <button class="btn btn-warning">detail</button>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>

                            </div>

                        </div>
                        <!-- /.card -->


                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->

    </div>
    <!--end-->
    <nav th:replace="~{/layoutadmin/footer.html}"></nav>
</div>

<!--script-->
<nav th:replace="~{/layoutadmin/script.html}"></nav>
<!--end-->
</body>
</html>
