<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<nav th:replace="~{/layoutadmin/head.html}"></nav>
<style>
    .file-input-wrapper {
        position: relative;
        width: 200px; /* Độ rộng và chiều cao của hình tròn */
        height: 200px;
        border: 1px dashed #007bff; /* Viền bo có nét đứt màu xanh dương */
        border-radius: 50%; /* Tạo hình tròn */
        overflow: hidden;
    }

    .file-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .file-input-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Arial, sans-serif; /* Font chữ */
        font-size: 16px; /* Kích thước văn bản */
        color: black; /* Màu văn bản */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .file-input-label span {
        margin-top: 5px;
    }

    #uploadedImage {
        width: 100%; /* Kích thước hình ảnh sẽ phù hợp với kích thước của ô tròn */
        height: 100%;
        border-radius: 50%; /* Hình ảnh sẽ được làm tròn */
    }
</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <nav th:replace="~{/layoutadmin/navbar.html}"></nav>
    <!-- End navbar -->

    <!--Menu bán hàng -->
    <nav th:replace="~{/layoutadmin/menu.html}"></nav>
    <!--end-->

    <!--Nội dung -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-bookmark-dash-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6 6a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                            </svg>
                            THÊM KHÁCH HÀNG
                        </h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!---filter-->
        <form th:method="post" th:object="${nguoidung}" th:action="@{/khachhang/add}"
              name="addCustomerForm"
              onsubmit="return validateNguoiDung();"
              enctype="multipart/form-data">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <section class="content">
                                        <div class="container">
                                            <div class="d-flex">
                                                <div>
                                                    <p>Tên khách hàng:
                                                        <input placeholder="Tên khách hàng" class="form-control"
                                                               maxlength="50"
                                                               style="width: 550px" th:field="*{hovaten}">
                                                    </p>
                                                    <span id="tenError" style="color: red;"></span>
                                                </div>
                                                <div>
                                                    <p style="margin-left: 20px">Ngày sinh:
                                                        <input type="date" class="form-control"
                                                               style="width: 550px" id="ngaysinh" onkeydown="return false"
                                                               th:field="*{ngaysinh}">
                                                    </p>
                                                    <span id="ngaysinhError"
                                                          style="color: red; padding-left: 20px"></span>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div>
                                                    <p>Căn cước công dân:
                                                        <input placeholder="Căn cước công dân" class="form-control"
                                                               id="cccd"
                                                               style="width: 550px" th:field="*{cccd}">
                                                    </p>
                                                    <span id="cccdError" style="color: red;"></span>
                                                </div>
                                                <div>
                                                    <p style="margin-left: 20px">Giới tính:
                                                        <br>
                                                        <input type="radio" style="margin-top: 10px"
                                                               th:field="*{gioitinh}"
                                                               th:value="1" checked>Nam
                                                        <input type="radio" style="margin-left: 10px;margin-top: 10px"
                                                               th:field="*{gioitinh}" th:value="0">Nữ
                                                    </p>

                                                </div>
                                            </div>

                                            <div class="d-flex">
                                                <div>
                                                    <p>Email:
                                                        <input placeholder="Email" class="form-control" id="email"
                                                               style="width: 550px" th:field="*{email}">
                                                    </p>
                                                    <span id="emailError" style="color: red;"></span>
                                                </div>
                                                <div>
                                                    <p style="margin-left: 20px;">Số điện thoại:
                                                        <input placeholder="Số điện thoại" class="form-control" id="sodienthoai"
                                                               style="width: 550px" th:field="*{sodienthoai}">
                                                    </p>
                                                    <span id="sdtError" style="color: red; padding-left: 20px"></span>
                                                </div>
                                            </div>

                                            <div th:object="${diachi}">
                                                <div class="d-flex">
                                                    <div>
                                                        <p>Tỉnh/Thành phố:
                                                            <select th:field="*{tinhthanhpho}" class="form-select"
                                                                    id="city" style="width: 550px">
                                                                <option value="" selected>Chọn tỉnh thành</option>
                                                            </select>
                                                        </p>
                                                        <span id="tinhthanhError"
                                                              style="color: red;"></span>
                                                    </div>
                                                    <div>
                                                        <p style="margin-left: 20px">Quận/Huyện:
                                                            <select class="form-select" th:field="*{quanhuyen}"
                                                                    style="width: 550px" id="district">
                                                                <option value="" selected>Chọn quận huyện</option>
                                                            </select>
                                                        </p>
                                                        <span id="quanError"
                                                              style="color: red; padding-left: 20px"></span>
                                                    </div>
                                                </div>

                                                <div class="d-flex">
                                                    <div>
                                                        <p>Xã/Phường:
                                                            <select class="form-select" style="width: 550px" id="ward"
                                                                    th:field="*{xaphuong}">
                                                                <option value="" selected>Chọn xã phường</option>
                                                            </select>
                                                        </p>
                                                        <span id="xaError"
                                                              style="color: red;"></span>
                                                    </div>
                                                    <div>
                                                        <p style="margin-left: 20px">Số nhà/Ngõ/Đường:
                                                            <input placeholder="Số nhà/Ngõ/Đường" class="form-control"
                                                                   id="tenduong"
                                                                   style="width: 550px" th:field="*{tenduong}">
                                                        </p>
                                                        <span id="tenduongError"
                                                              style="color: red; padding-left: 20px"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Thêm khách hàng</button>
                                            <a th:href="@{/khachhang}" class="btn btn-danger">Thoát</a>
                                        </div>
                                    </section>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
        </form>

        <br>


    </div>
    <!--end-->
    <nav th:replace="~{/layoutadmin/footer.html}"></nav>
</div>
<!--script-->
<nav th:replace="~{/layoutadmin/script.html}"></nav>
<!--end-->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Thiết lập radio button mặc định khi trang tải
        document.querySelector('input[name="gioitinh"][value="1"]').checked = true;
    });
</script>
<script th:inline="javascript">
    var lstEmailFromDb = /*[[${lstEmail}]]*/ [];
    var lstSdtFromDb = /*[[${lstSdt}]]*/ [];
    var lstCccdFromDb = /*[[${lstCccd}]]*/ [];
</script>
<script>
    const specialCharPattern = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
    const numberPattern = /\d/;
    const cccdPattern = /^0[0-9]{11}$/;
    const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    const phoneNumberPattern = /^0[0-9]{9}$/;

    function validateNguoiDung() {
        var ngaySinhInput = document.getElementById('ngaysinh');
        var tenInput = document.getElementById('hovaten').value.trim();
        var cccdInput = document.getElementById('cccd').value.trim();
        var emailInput = document.getElementById('email').value.trim();
        var sdtInput = document.getElementById('sodienthoai').value.trim();
        var tinhthanhSelect = document.getElementById('city').value.trim();
        var quanhuyenSelect = document.getElementById('district').value;
        var xaphuongSelect = document.getElementById('ward').value.trim();
        var tenduongInput = document.getElementById('tenduong').value.trim();

        var ngaySinhValue = new Date(ngaySinhInput.value);
        var today = new Date();

        var ngaysinhError = document.getElementById('ngaysinhError');
        var tenError = document.getElementById('tenError');
        var cccdError = document.getElementById('cccdError');
        var emailError = document.getElementById('emailError');
        var sdtError = document.getElementById('sdtError');
        var tinhthanhError = document.getElementById('tinhthanhError');
        var quanhuyenError = document.getElementById('quanError');
        var xaphuongError = document.getElementById('xaError');
        var tenduongError = document.getElementById('tenduongError');

        var isValid = true;

        ngaysinhError.innerText = '';
        tenError.innerText = '';
        cccdError.innerText = '';
        emailError.innerText = '';
        sdtError.innerText = '';
        tinhthanhError.innerText = '';
        quanhuyenError.innerText = '';
        xaphuongError.innerText = '';
        tenduongError.innerText = '';

        var age = today.getFullYear() - ngaySinhValue.getFullYear();
        var monthDiff = today.getMonth() - ngaySinhValue.getMonth();
        if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < ngaySinhValue.getDate())) {
            age--;
        }

        if (ngaySinhInput.value === '') {
            ngaysinhError.innerText = 'Ngày sinh không được trống';
            isValid = false;
        } else if (ngaySinhValue > today) {
            ngaysinhError.innerText = 'Ngày sinh không được lớn hơn ngày hiện tại';
            isValid = false;
        } else if (age <= 16) {
            ngaysinhError.innerText = 'Tuổi phải từ 16 trở lên';
            isValid = false;
        }
        if (tenInput === '') {
            tenError.innerText = 'Họ và tên không được trống';
            isValid = false;
        } else if (specialCharPattern.test(tenInput)) {
            tenError.innerText = 'Họ và tên không được chứa ký tự đặc biệt';
            isValid = false;
        } else if (numberPattern.test(tenInput)) {
            tenError.innerText = 'Họ và tên không được chứa số';
            isValid = false;
        } else if (tenInput.length > 50) {
            tenError.innerText = 'Họ và tên không được quá 50 ký tự';
            isValid = false;
        }
        if (cccdInput === '') {
            cccdError.innerText = 'CCCD không được trống';
            isValid = false;
        } else if (!cccdPattern.test(cccdInput)) {
            cccdError.innerText = 'CCCD không hợp lệ';
            isValid = false;
        } else if (checkTrungCccd() === false) {
            cccdError.innerText = 'CCCD đã tồn tại';
            isValid = false;
        }
        if (emailInput === '') {
            emailError.innerText = 'Email không được trống';
            isValid = false;
        } else if (!emailPattern.test(emailInput)) {
            emailError.innerText = 'Email không hợp lệ';
            isValid = false;
        } else if (checkTrungEmail() === false) {
            emailError.innerText = 'Email đã tồn tại';
            isValid = false;
        }
        if (sdtInput === '') {
            sdtError.innerText = 'Số điện thoại không được trống';
            isValid = false;
        } else if (!phoneNumberPattern.test(sdtInput)) {
            sdtError.innerText = 'Số điện thoại không hợp lệ';
            isValid = false;
        } else if (checkTrungSdt() === false) {
            sdtError.innerText = 'Số điện thoại đã tồn tại';
            isValid = false;
        }
        if (tinhthanhSelect === '') {
            tinhthanhError.innerText = 'Tỉnh thành chưa được chọn';
            isValid = false;
        }
        if (quanhuyenSelect === '') {
            quanhuyenError.innerText = 'Quận huyện chưa được chọn';
            isValid = false;
        }
        if (xaphuongSelect === '') {
            xaphuongError.innerText = 'Xã phường chưa được chọn';
            isValid = false;
        }
        if (tenduongInput === '') {
            tenduongError.innerText = 'Tên đường không được trống';
            isValid = false;
        }


        if (isValid) {
            return saveCustomer();
        } else {
            return false; // Ngăn chặn form được gửi đi ngay lập tức
        }
    }

    function checkTrungCccd() {
        var cccdInput = document.getElementById('cccd').value;
        var isVaLid = true;
        for (var i = 0; i < lstCccdFromDb.length; i++) {
            if (cccdInput === lstCccdFromDb[i]) {
                isVaLid = false;
                break;
            }
        }

        return isVaLid;
    }

    function checkTrungEmail() {
        var emailInput = document.getElementById('email').value;
        var isVaLid = true;
        for (var i = 0; i < lstEmailFromDb.length; i++) {
            if (emailInput === lstEmailFromDb[i]) {
                isVaLid = false;
                break;
            }
        }

        return isVaLid;
    }

    function checkTrungSdt() {
        var sdtInput = document.getElementById('sodienthoai').value;
        var isVaLid = true;
        for (var i = 0; i < lstSdtFromDb.length; i++) {
            if (sdtInput === lstSdtFromDb[i]) {
                isVaLid = false;
                break;
            }
        }

        return isVaLid;
    }

    function saveCustomer() {
        Swal.fire({
            title: 'Bạn có muốn thêm không?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Có',
            cancelButtonText: 'Không'
        }).then((result) => {
            if (result.isConfirmed) {
                document.addCustomerForm.submit();
            }
        });
        return false;
    }
</script>
<!--xử lý việc add ảnh khách hàng-->
<script>
    document.getElementById('fileInput').addEventListener('change', function (event) {
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            var imgElement = document.getElementById('uploadedImage');
            imgElement.src = e.target.result;
            imgElement.style.display = 'block'; // Hiển thị hình ảnh
            var labelElement = document.querySelector('.file-input-label');
            labelElement.style.display = 'none'; // Ẩn phần label
        };

        reader.readAsDataURL(file);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
        method: "GET",
        responseType: "application/json",
    };
    var promise = axios(Parameter);
    promise.then(function (result) {
        renderCity(result.data);
    });

    function renderCity(data) {
        for (const x of data) {
            var opt = document.createElement('option');
            opt.value = x.Name;
            opt.text = x.Name;
            opt.setAttribute('data-id', x.Id);
            citis.options.add(opt);
        }
        citis.onchange = function () {
            districts.length = 1;
            wards.length = 1;
            if (this.options[this.selectedIndex].dataset.id != "") {
                const result = data.filter(n => n.Id === this.options[this.selectedIndex].dataset.id);

                for (const k of result[0].Districts) {
                    var opt = document.createElement('option');
                    opt.value = k.Name;
                    opt.text = k.Name;
                    opt.setAttribute('data-id', k.Id);
                    districts.options.add(opt);
                }
            }
        };
        districts.onchange = function () {
            wards.length = 1;
            const dataCity = data.filter((n) => n.Id === citis.options[citis.selectedIndex].dataset.id);
            if (this.options[this.selectedIndex].dataset.id != "") {
                const dataWards = dataCity[0].Districts.filter(n => n.Id === this.options[this.selectedIndex].dataset.id)[0].Wards;

                for (const w of dataWards) {
                    var opt = document.createElement('option');
                    opt.value = w.Name;
                    opt.text = w.Name;
                    opt.setAttribute('data-id', w.Id);
                    wards.options.add(opt);
                }
            }
        };
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/jsqr"></script>
</body>
</html>
