<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<nav th:replace="~{/layoutadmin/head.html}"></nav>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    .form123{
        position: relative;
        margin-bottom: 15px;
    }
    .form123 label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 14px;
        color: black;
        padding: 0 5px;
        pointer-events: none;
        transition: .5s;
    }
    .form123 input{
        width: 100%;
        height: 45px;
        font-size: 16px;
        color: black;
        padding: 0 10px;
        background: transparent;
        /*border: 1.2px solid black;*/
        outline: none;
        border-radius: 5px;
    }
    .form123 input~label{
        top: 0;
        font-size: 12px;
        background: white;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        /* Hiển thị biểu tượng bước lên/xuống mặc định */
        -moz-appearance: textfield;
    }
    .icon.active {
        fill: red; /* Thay đổi màu khi được chọn */
    }
    .sticky-thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .checkbox{
        width: 18px;
        height: 18px;
        background-color: #eee;
        border-radius: 5px;
        border: 1px solid black;
        cursor: pointer;
        -webkit-appearance: none; /* Tắt kiểu mặc định của trình duyệt cho checkbox */
        appearance: none;
        position: relative;
    }

    /* Styling the checkbox when it's checked */
    .checkbox:checked {
        background-color: rgb(249,72,42);
        border: 1px solid black;
    }
    .checkbox:checked::after {
        content: '';
        position: absolute;
        top: 2px;
        left: 6px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    table#bangkhachhangthem thead {
        background-color: rgb(249, 72, 42) !important;
        height: 50px;
        color: white !important;
    }
    table#bangkhachhangthem thead th {
        background-color: inherit !important; /* Kế thừa màu nền từ thead */
        color: inherit !important; /* Kế thừa màu chữ từ thead */
    }
</style>
<body class="hold-transition sidebar-mini" style="font-family: 'Bahnschrift'">
<div class="wrapper">
    <!-- Navbar -->
    <nav th:replace="~{/layoutadmin/navbar.html}"></nav>
    <!-- End navbar -->

    <!--Menu bán hàng -->
    <nav th:replace="~{/layoutadmin/menu.html}"></nav>
    <!--end-->

    <!--Nội dung -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-5 mt-2">
                    <div class="col-sm-6 d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="bi bi-bookmark-dash-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6 6a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                        </svg>
                        <h1 style="margin-left: 10px;">THÊM MỚI PHIẾU GIẢM GIÁ</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!---filter-->
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-5">
                                <form id="formThemPhieu" th:action="@{/admin/them-phieu-giam-gia}" th:object="${phieuGiamGia}" method="post" onsubmit="return validateForm(event)">
                                    <div class="form123 mb-4">
                                        <input id="inputMa" type="text" th:field="*{macode}" placeholder="Mã phiếu giảm giá"/>
                                        <label>Mã phiếu giảm giá</label>
                                        <div style="color: red; font-weight: initial;" id="errorMa"></div>
                                    </div>
                                    <div class="form123 mb-4">
                                        <input id="inputTen" type="text" th:field="*{tenphieu}" placeholder="Tên phiếu giảm giá"/>
                                        <label>Tên phiếu giảm giá</label>
                                        <div style="color: red; font-weight: initial;" id="errorTen"></div>
                                    </div>
                                    <input type="hidden" name="choncheckbox" value="-1">
                                    <input type="hidden" id="loaiphieu" value="true" name="loaiphieu">
                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="form123" style="width: 230px;">
                                            <input id="inputGiaTri" type="number" th:field="*{giatrigiam}" placeholder="Giá trị giảm"/>
                                            <label>Giá trị giảm</label>
                                            <button type="button" class="btn btn-light" style="position: absolute; right: 30px; top: 30%; transform: translateY(-50%); width: 25px; height: 25px; border-radius: 50%;" onclick="GanValue1()">
                                                <svg class="icon" id="icon1" width="25px" height="15px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" onclick="toggleIcon('icon1')" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
                                                    <path d="M374.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-320 320c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l320-320zM128 128A64 64 0 1 0 0 128a64 64 0 1 0 128 0zM384 384a64 64 0 1 0 -128 0 64 64 0 1 0 128 0z"/>
                                                </svg>
                                            </button>
                                            <button type="button" class="btn btn-light" style="position: absolute; right: 2px; top: 30%; transform: translateY(-50%); width: 25px; height: 25px; border-radius: 50%;" onclick="GanValue2()">
                                                <svg class="icon" id="icon2" width="25px" height="15px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" onclick="toggleIcon('icon2')" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
                                                    <path d="M160 0c17.7 0 32 14.3 32 32V67.7c1.6 .2 3.1 .4 4.7 .7c.4 .1 .7 .1 1.1 .2l48 8.8c17.4 3.2 28.9 19.9 25.7 37.2s-19.9 28.9-37.2 25.7l-47.5-8.7c-31.3-4.6-58.9-1.5-78.3 6.2s-27.2 18.3-29 28.1c-2 10.7-.5 16.7 1.2 20.4c1.8 3.9 5.5 8.3 12.8 13.2c16.3 10.7 41.3 17.7 73.7 26.3l2.9 .8c28.6 7.6 63.6 16.8 89.6 33.8c14.2 9.3 27.6 21.9 35.9 39.5c8.5 17.9 10.3 37.9 6.4 59.2c-6.9 38-33.1 63.4-65.6 76.7c-13.7 5.6-28.6 9.2-44.4 11V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V445.1c-.4-.1-.9-.1-1.3-.2l-.2 0 0 0c-24.4-3.8-64.5-14.3-91.5-26.3c-16.1-7.2-23.4-26.1-16.2-42.2s26.1-23.4 42.2-16.2c20.9 9.3 55.3 18.5 75.2 21.6c31.9 4.7 58.2 2 76-5.3c16.9-6.9 24.6-16.9 26.8-28.9c1.9-10.6 .4-16.7-1.3-20.4c-1.9-4-5.6-8.4-13-13.3c-16.4-10.7-41.5-17.7-74-26.3l-2.8-.7 0 0C119.4 279.3 84.4 270 58.4 253c-14.2-9.3-27.5-22-35.8-39.6c-8.4-17.9-10.1-37.9-6.1-59.2C23.7 116 52.3 91.2 84.8 78.3c13.3-5.3 27.9-8.9 43.2-11V32c0-17.7 14.3-32 32-32z"/>
                                                </svg>
                                            </button>
                                            <div style="color: red; font-weight: initial;" id="errorGiaTri"></div>
                                        </div>
                                        <div class="form123" style="width: 230px;">
                                            <input id="inputToiThieu" type="number" th:field="*{dontoithieu}" placeholder="Giá trị hóa đơn tối thiểu"/>
                                            <label>Hóa đơn tối thiểu</label>
                                            <div style="color: red; font-weight: initial;" id="errorToiThieu"></div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="form123" style="width: 230px;">
                                            <input id="inputToiDa" type="number" th:field="*{giatrigiamtoida}" placeholder="Giá tiền giảm tối đa"/>
                                            <label>Giảm tối đa</label>
                                            <div style="color: red; font-weight: initial;" id="errorToiDa"></div>
                                        </div>
                                        <div class="form123" style="width: 230px;">
                                            <input id="inputSoLuong" type="number" th:field="*{soluong}" placeholder="Số lượng"/>
                                            <label>Số lượng</label>
                                            <div style="color: red; font-weight: initial;" id="errorSoLuong"></div>
                                        </div>
                                    </div>
                                    <div class="form123 mb-4">
                                        <input onkeydown="return false" id="inputTuNgay" name="ngayBatDau" type="datetime-local"/>
                                        <label>Ngày bắt đầu</label>
                                        <div style="color: red; font-weight: initial;" id="errorTuNgay"></div>
                                    </div>
                                    <div class="form123 mb-4">
                                        <input onkeydown="return false" id="inputDenNgay" name="ngayKetThuc" type="datetime-local"/>
                                        <label>Ngày kết thúc</label>
                                        <div style="color: red; font-weight: initial;" id="errorDenNgay"></div>
                                    </div>
                                    <div class="d-flex justify-content-start mb-2">
                                        <p style="font-size: 14px; font-weight: bold">Kiểu phiếu giảm giá: </p>
                                        <div style="margin-left: 15px;" class="form-check">
                                            <input class="form-check-input" type="radio" name="kieuphieu" value="false" id="radio1" onchange="radioChanged1()" checked>
                                            <label class="form-check-label">
                                                Công khai
                                            </label>
                                        </div>
                                        <div style="margin-left: 15px;" class="form-check">
                                            <input class="form-check-input" type="radio" name="kieuphieu" value="true" id="radio" onchange="radioChanged()">
                                            <label class="form-check-label">
                                                Cá nhân
                                            </label>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-evenly align-items-center" style="margin-top: 15px;">
                                        <a th:href="@{/admin/hien-thi-phieu-giam-gia}">
                                            <button type="button" style="background-color: black;color: white; padding: 5px 10px; width: 100px; height: 40px; border-radius: 10px; border-color: black; font-weight: bold;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
                                                </svg> Thoát
                                            </button>
                                        </a>
                                        <button onclick="layGiaTri()" type="submit" style="background-color: rgb(249,72,42);color: white; padding: 5px 10px; width: 100px; height: 40px; border-radius: 10px; border-color: rgb(249,72,42); font-weight: bold;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                            </svg> Thêm
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-7">
                                <form>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <svg style="height: 25px; width: 45px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 460 512">
                                                <path d="M220.6 130.3l-67.2 28.2V43.2L98.7 233.5l54.7-24.2v130.3l67.2-209.3zm-83.2-96.7l-1.3 4.7-15.2 52.9C80.6 106.7 52 145.8 52 191.5c0 52.3 34.3 95.9 83.4 105.5v53.6C57.5 340.1 0 272.4 0 191.6c0-80.5 59.8-147.2 137.4-158zm311.4 447.2c-11.2 11.2-23.1 12.3-28.6 10.5-5.4-1.8-27.1-19.9-60.4-44.4-33.3-24.6-33.6-35.7-43-56.7-9.4-20.9-30.4-42.6-57.5-52.4l-9.7-14.7c-24.7 16.9-53 26.9-81.3 28.7l2.1-6.6 15.9-49.5c46.5-11.9 80.9-54 80.9-104.2 0-54.5-38.4-102.1-96-107.1V32.3C254.4 37.4 320 106.8 320 191.6c0 33.6-11.2 64.7-29 90.4l14.6 9.6c9.8 27.1 31.5 48 52.4 57.4s32.2 9.7 56.8 43c24.6 33.2 42.7 54.9 44.5 60.3s.7 17.3-10.5 28.5zm-9.9-17.9c0-4.4-3.6-8-8-8s-8 3.6-8 8 3.6 8 8 8 8-3.6 8-8z"/>
                                            </svg>
                                        </span>
                                        <input type="text" id="searchInput" class="form-control" placeholder="Nhập tên hoặc số điện thoại" style="height: 46px;" onkeyup="filterTable()">
                                    </div>
                                </form>
                                <div class="table-responsive" style="margin-top: 10px; padding-bottom: 15px; max-height: 400px;">
                                    <table class="table table-bordered table-hover align-middle text-center" id="bangkhachhangthem">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>STT</th>
                                                <th>Tên</th>
                                                <th>Số điện thoại</th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
<!--                                        <tr th:each="kh,stt:${lstKH}">-->
<!--                                            <th class="align-middle text-center">-->
<!--                                                <div class="form-check">-->
<!--                                                    <input class="form-check-input checkbox" th:value="${kh.id}" type="checkbox" onchange="luuGiaTri(this)" disabled>-->
<!--                                                </div>-->
<!--                                            </th>-->
<!--                                            <td th:text="${kh.nguoidung.hovaten}"></td>-->
<!--                                            <td th:text="${kh.nguoidung.sodienthoai}"></td>-->
<!--                                            <td th:text="${kh.nguoidung.email}"></td>-->
<!--                                        </tr>-->
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.container-fluid -->
        </section>
    </div>
    <!--end-->
    <nav th:replace="~{/layoutadmin/footer.html}"></nav>
</div>
<script>
    let index= 0;
    document.addEventListener('DOMContentLoaded', function() {
        // Mặc định chọn biểu tượng 1
        document.getElementById('icon1').classList.add('active');

    });

    function toggleIcon(iconId) {
        // Tắt trạng thái active cho tất cả các biểu tượng
        document.querySelectorAll('.icon').forEach(function(icon) {
            icon.classList.remove('active');
        });
        // Bật trạng thái active cho biểu tượng được nhấp vào
        document.getElementById(iconId).classList.add('active');
    }
    function GanValue1() {
        var inputValue = "true";
        document.getElementById("loaiphieu").value = inputValue;
        document.getElementById("inputToiDa").disabled = false;
    }
    function GanValue2() {
        var inputValue = "false";
        document.getElementById("loaiphieu").value = inputValue;
        document.getElementById("inputToiDa").disabled = true;
    }

    var giaTriTuCheckbox = []; // Mảng lưu trữ giá trị từ checkbox

    // Hàm lưu trữ giá trị từ checkbox khi thay đổi
    function luuGiaTri(checkbox) {
        if (checkbox.checked) {
            giaTriTuCheckbox.push(checkbox.value);
        } else {
            var index = giaTriTuCheckbox.indexOf(checkbox.value);
            if (index !== -1) {
                giaTriTuCheckbox.splice(index, 1);
            }
        }
        console.log(giaTriTuCheckbox);
    }

    function layGiaTri() {
        if(giaTriTuCheckbox.length>0){
            for (var i = 0; i < giaTriTuCheckbox.length; i++) {
                var input = document.createElement("input");
                input.type = "hidden";
                input.name = "choncheckbox";
                input.value= giaTriTuCheckbox[i];
                document.getElementById("formThemPhieu").appendChild(input);
            }
        }
    }
    // Hàm để lấy danh sách sản phẩm từ server
    async function getKhachHangXemThem() {
        const response = await fetch('/khach-hang-xem-them');
        return await response.json();
    }
    async function displaylstKhachHang() {
        const lstKhachHang = await getKhachHangXemThem();
        const khachHangTableBody = document.querySelector("#bangkhachhangthem tbody");
        lstKhachHang.forEach(kh => {
            const row = khachHangTableBody.insertRow();
            const checkboxCell = row.insertCell();
            const checkbox = document.createElement("input");
            checkbox.className="checkbox";
            checkbox.type = "checkbox";
            checkbox.value = kh.id;
            checkbox.onchange = function() {
                luuGiaTri(this);
            };
            checkbox.disabled=true;
            checkboxCell.appendChild(checkbox);

            const numberCell = row.insertCell();
            numberCell.textContent = ++index; // T

            const nameCell = row.insertCell();
            nameCell.textContent = kh.nguoidung.hovaten;

            const sdtCell = row.insertCell();
            sdtCell.textContent = kh.nguoidung.sodienthoai;

            const emailCell = row.insertCell();
            emailCell.textContent = kh.nguoidung.email;
        });
    }
    displaylstKhachHang();
    function filterTable() {
        const input = document.getElementById('searchInput');
        const filter = input.value.toLowerCase();
        const table = document.getElementById('bangkhachhangthem');
        const trs = table.getElementsByTagName('tr');

        for (let i = 1; i < trs.length; i++) {
            const tds = trs[i].getElementsByTagName('td');
            const name = tds[2].textContent.toLowerCase();
            const phone = tds[3].textContent.toLowerCase();
            if (name.includes(filter) || phone.includes(filter)) {
                trs[i].style.display = '';
            } else {
                trs[i].style.display = 'none';
            }
        }
    }
</script>
<script th:inline="javascript">

    /*<![CDATA[*/
    var objectsFromController = /*[[${lstPGG}]]*/ [];
    function checkCoKhoangTrang(str) {
        // Sử dụng biểu thức chính quy để kiểm tra có khoảng trắng giữa hai từ không
        return /\s/.test(str.trim());
    }
    function checkNhieuKhoangTrang(str) {
        // Sử dụng biểu thức chính quy để tìm các mẫu có ít nhất hai khoảng trắng liên tiếp giữa các từ
        return /\s{2,}/.test(str.trim());
    }
    function validateMaGiamBTCQ(inputString) {
        // Biểu thức chính quy cho phép các ký tự Latinh, số từ 0-9 và có độ dài từ 5 đến 15 ký tự
        const regex = /^[a-zA-Z0-9 ]{6,15}$/;
        return regex.test(inputString);
    }
    function validateTenPhieuGiamBTCQ(inputString) {
        // Biểu thức chính quy cho phép các ký tự Latinh, số từ 0-9 và có độ dài từ 5 đến 15 ký tự
        const regex = /^[0-9a-zA-ZàÀảẢãÃáÁạẠăĂằẰẳẲẵẴắẮặẶâÂầẦẩẨẫẪấẤậẬèÈẻẺẽẼéÉẹẸêÊềỀểỂễỄếẾệỆìÌỉỈĩĨíÍịỊòÒỏỎõÕóÓọỌôÔồỒổỔỗỖốỐộỘơƠờỜởỞỡỠớỚợỢùÙủỦũŨúÚụỤưƯừỪửỬữỮứỨựỰýÝđĐ ]{1,50}$/;
        return regex.test(inputString);
    }
    function validateForm(event){
        event.preventDefault();
        var inputMa=document.getElementById("inputMa").value;
        var errorMa=document.getElementById("errorMa");
        var isMaValid = true;
        for (var i = 0; i < objectsFromController.length; i++) {
            var obj = objectsFromController[i];
            if(inputMa === obj.macode){
                errorMa.innerText = "Mã phiếu đã tồn tại!";
                document.getElementById("inputMa").style.border = "1.2px solid red";
                isMaValid = false;
                break;
            }
        }
        if(inputMa.trim().length > 0){
            if(checkCoKhoangTrang(inputMa)){
                errorMa.innerText = "Mã phiếu không được chứa khoảng trắng!";
                document.getElementById("inputMa").style.border = "1.2px solid red";
                isMaValid = false;
            }
        }
        if(inputMa.trim().length > 0){
            if(validateMaGiamBTCQ(inputMa)===false){
                errorMa.innerText = "Mã phiếu chỉ được chứa ký tự Latinh, số và từ 6-15 ký tự!";
                document.getElementById("inputMa").style.border = "1.2px solid red";
                isMaValid = false;
            }
        }
        if (isMaValid) {
            document.getElementById("inputMa").style.border = "";
            errorMa.innerText = "";
        }
        var inputTen=document.getElementById("inputTen").value;
        var errorTen=document.getElementById("errorTen");
        var isTenValid = true;
        if(inputTen.trim() === ""){
            errorTen.innerText = "Tên phiếu không được để trống!";
            document.getElementById("inputTen").style.border="1.2px solid red";
            isTenValid = false;
        }
        if(inputTen.trim().length > 0){
            if(checkNhieuKhoangTrang(inputTen)){
                errorTen.innerText = "Giữa các từ không được nhiều hơn 1 khoảng trắng!";
                document.getElementById("inputTen").style.border="1.2px solid red";
                isTenValid = false;
            }
        }
        if(inputTen.trim().length > 0){
            if(validateTenPhieuGiamBTCQ(inputTen)===false){
                errorTen.innerText = "Tên phiếu chỉ chứa ký tự, số và tối đa 50 ký tự!";
                document.getElementById("inputTen").style.border="1.2px solid red";
                isTenValid = false;
            }
        }
        if(isTenValid){
            document.getElementById("inputTen").style.border="";
            errorTen.innerText = "";
        }
        var inputGiaTri=document.getElementById("inputGiaTri").value;
        var errorGiaTri=document.getElementById("errorGiaTri");
        var loaiPhieu = document.getElementById("loaiphieu").value;
        var isGiaTriValid = true;
        if (inputGiaTri === "") {
            document.getElementById("inputGiaTri").style.border="1.2px solid red";
            errorGiaTri.innerText = "Giá trị giảm không được để trống!";
            isGiaTriValid = false;
        }else if(loaiPhieu === "true"){
            if(inputGiaTri < 1 || inputGiaTri > 100){
                document.getElementById("inputGiaTri").style.border="1.2px solid red";
                errorGiaTri.innerText = "Phần trăm giảm phải từ 1% đến 100%!";
                isGiaTriValid = false;
            }
        }else if(loaiPhieu === "false"){
            if(inputGiaTri < 1){
                document.getElementById("inputGiaTri").style.border="1.2px solid red";
                errorGiaTri.innerText = "Giá trị giảm phải lớn hơn 0!";
                isGiaTriValid = false;
            }
        }
        if(isGiaTriValid){
            document.getElementById("inputGiaTri").style.border="";
            errorGiaTri.innerText = "";
        }
        var inputToiThieu=document.getElementById("inputToiThieu").value;
        var errorToiThieu=document.getElementById("errorToiThieu");
        var isToiThieuValid = true;
        if (inputToiThieu !== "") {
            if(inputToiThieu < 1){
                document.getElementById("inputToiThieu").style.border="1.2px solid red";
                errorToiThieu.innerText = "Hóa đơn tối thiểu phải lớn hơn 0!";
                isGiaTriValid = false;
            }else{
                document.getElementById("inputToiThieu").style.border="";
                errorToiThieu.innerText = "";
            }
        }else{
            document.getElementById("inputToiThieu").style.border="";
            errorToiThieu.innerText = "";
        }
        var inputToiDa=document.getElementById("inputToiDa").value;
        var errorToiDa=document.getElementById("errorToiDa");
        var isToiDaValid = true;
        if (inputToiDa !== "") {
            if(inputToiDa < 1){
                document.getElementById("inputToiDa").style.border="1.2px solid red";
                errorToiDa.innerText = "Giá trị giảm tối đa phải lớn hơn 0!";
                isToiDaValid = false;
            }else{
                document.getElementById("inputToiDa").style.border="";
                errorToiDa.innerText = "";
            }
        }else{
            document.getElementById("inputToiDa").style.border="";
            errorToiDa.innerText = "";
        }
        var inputSoLuong=document.getElementById("inputSoLuong").value;
        var errorSoLuong=document.getElementById("errorSoLuong");
        var isSoLuongValid = true;
        if(inputSoLuong === ""){
            document.getElementById("inputSoLuong").style.border="1.2px solid red";
            errorSoLuong.innerText = "Số lượng không được bỏ trống!";
            isSoLuongValid = false;
        }
        if (inputSoLuong !== "") {
            if(inputSoLuong < 1){
                document.getElementById("inputSoLuong").style.border="1.2px solid red";
                errorSoLuong.innerText = "Số lượng phải lớn hơn 0!";
                isSoLuongValid = false;
            }else{
                document.getElementById("inputSoLuong").style.border="";
                errorSoLuong.innerText = "";
            }
        }
        if(isSoLuongValid){
            document.getElementById("inputSoLuong").style.border="";
            errorSoLuong.innerText = "";
        }
        var inputTuNgay=document.getElementById("inputTuNgay").value;
        var inputDenNgay=document.getElementById("inputDenNgay").value;
        var errorDenNgay=document.getElementById("errorDenNgay");
        var errorTuNgay=document.getElementById("errorTuNgay");
        var isTuNgayValid = true;
        var isDenNgayValid = true;
        var dateNow = new Date();
        if(!inputTuNgay){
            document.getElementById("inputTuNgay").style.border="1.2px solid red";
            errorTuNgay.innerText="Ngày bắt đầu không được bỏ trống!";
            isTuNgayValid= false;
        }
        if(inputTuNgay){
            var date1 = new Date(inputTuNgay);
            if(date1.getTime()< dateNow.getTime()){
                document.getElementById("inputTuNgay").style.border="1.2px solid red";
                errorTuNgay.innerText="Ngày giờ bắt đầu phải lớn hơn hoặc bằng ngày giờ hiện tại!";
                isTuNgayValid= false;
            }
        }
        if(isTuNgayValid){
            document.getElementById("inputTuNgay").style.border="";
            errorTuNgay.innerText="";
        }
        if(!inputDenNgay){
            document.getElementById("inputDenNgay").style.border="1.2px solid red";
            errorDenNgay.innerText="Ngày kết thúc không được bỏ trống!";
            isDenNgayValid= false;
        }
        if(inputTuNgay && inputDenNgay){
            var date1 = new Date(inputTuNgay);
            var date2 = new Date(inputDenNgay);
            if(date1.getTime() >= date2.getTime()){
                document.getElementById("inputDenNgay").style.border="1.2px solid red";
                errorDenNgay.innerText="Ngày giờ kết thúc phải lớn hơn ngày giờ bắt đầu!";
                isDenNgayValid= false;
            }
        }
        if(isDenNgayValid){
            document.getElementById("inputDenNgay").style.border="";
            errorDenNgay.innerText="";
        }
        if(isMaValid && isTenValid && isGiaTriValid && isToiThieuValid && isToiDaValid && isSoLuongValid && isTuNgayValid && isDenNgayValid){

            var checkboxes = document.getElementsByClassName("checkbox");
            var giaTriDaChon = [];
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    giaTriDaChon.push(checkboxes[i].value);
                }
            }
            if (document.getElementById('radio').checked){
                if(giaTriDaChon.length <= 0){
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });

                    Toast.fire({
                        icon: "error",
                        title: "Vui lòng chọn khách hàng áp dụng!"
                    });
                    return false;
                }else{
                    Swal.fire({
                        title: 'Bạn có chắc chắn muốn thêm phiếu giảm giá mới không?',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Có',
                        cancelButtonText: 'Không'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Nếu người dùng nhấn Có, hiển thị thông báo thành công và chuyển hướng sau một khoảng thời gian
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 3000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });

                            // Toast.fire({
                            //     icon: "success",
                            //     title: "Thêm thành công!"
                            // });

                            setTimeout(function () {
                                document.getElementById("formThemPhieu").submit();
                            }, 500);
                        }
                    });
                    // Ngăn form được gửi đi ngay lập tức
                    return false;
                }
            }else{
                Swal.fire({
                    title: 'Bạn có chắc chắn muốn thêm phiếu giảm giá mới không?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Có',
                    cancelButtonText: 'Không'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Nếu người dùng nhấn Có, hiển thị thông báo thành công và chuyển hướng sau một khoảng thời gian
                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.onmouseenter = Swal.stopTimer;
                                toast.onmouseleave = Swal.resumeTimer;
                            }
                        });

                        // Toast.fire({
                        //     icon: "success",
                        //     title: "Thêm thành công!"
                        // });

                        setTimeout(function () {
                            document.getElementById("formThemPhieu").submit();
                        }, 500);
                    }
                });
                // Ngăn form được gửi đi ngay lập tức
                return false;
            }
        }else{
            return false;
        }
    }

    /*]]>*/
</script>
<script>
    function radioChanged() {
        var checkboxes = document.querySelectorAll('.checkbox');

        if (document.getElementById('radio').checked) {
            checkboxes.forEach(function(checkbox) {
                checkbox.disabled = false;
            });
        } else {
            checkboxes.forEach(function(checkbox) {
                checkbox.checked = false;
                checkbox.disabled = true;
            });
        }
    }
    function radioChanged1() {
        var checkboxes = document.querySelectorAll('.checkbox');

        if (document.getElementById('radio1').checked) {
            checkboxes.forEach(function(checkbox) {
                checkbox.checked = false;
                checkbox.disabled = true;
            });
        } else {
            checkboxes.forEach(function(checkbox) {
                checkbox.disabled = false;
            });
        }
    }
</script>
<nav th:replace="~{/layoutadmin/script.html}"></nav>
</body>
</html>
