<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<nav th:replace="~{/layoutadmin/head.html}"></nav>
<style>
    /* CSS cho cột Upload Ảnh */
    #example2 th:nth-child(6),
    #example2 td:nth-child(6) {
        width: 410px; /* Đặt kích thước của cột "Upload Ảnh" tại đây */
    }

    .container {
        display: flex;
        flex-wrap: wrap; /* Cho phép các phần tử con xuống dòng khi không đủ không gian */
    }

    #image-preview {
        display: flex;
        flex-wrap: wrap; /* Cho phép các ảnh xuống dòng khi không đủ không gian */
    }

    .preview-image-container {
        position: relative;
        margin: 10px;
    }

    .preview-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .delete-button {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 12px;
        cursor: pointer;
    }

    #file-input {
        display: none; /* Ẩn input type file */
    }

    .custom-upload {
        display: inline-block;
        border: 2px dotted blue; /* Thay đổi viền thành viền chấm */
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }

    .custom-upload::before {
        content: "+ Upload";
        display: block;
        text-align: center;
        line-height: 85px;
    }
</style>
<script src="../sweetalert2/dist/sweetalert2.min.js/"></script>
<link rel="stylesheet" type="text/css" href="../sweetalert2/dist/sweetalert2.min.css">
<!--thư viện để chọn nhiều giá trị trên select -->
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="../../plugins/daterangepicker/daterangepicker.css">
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="../../plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="../../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="../../plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<!-- Bootstrap4 Duallistbox -->
<link rel="stylesheet" href="../../plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
<!-- BS Stepper -->
<link rel="stylesheet" href="../../plugins/bs-stepper/css/bs-stepper.min.css">
<!-- dropzonejs -->
<link rel="stylesheet" href="../../plugins/dropzone/min/dropzone.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../../dist/css/adminlte.min.css">
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <nav th:replace="~{/layoutadmin/navbar.html}"></nav>
    <!-- End navbar -->

    <!--Menu bán hàng -->
    <nav th:replace="~{/layoutadmin/menu.html}"></nav>
    <!--end-->

    <!--Nội dung -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Thêm sản phẩm</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!---filter-->
        <section class="content">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-12">
                        <form action="/addProduct" method="post" name="addProduct" onsubmit="return validateForm()">
                            <div class="card">
                                <h3 class="text-center" style="font-weight: bold;margin-top: 10px">
                                    THÊM SẢN PHẨM
                                </h3>
                                <div class="card-header">
                                    <h5 style="font-family: 'Times New Roman'">
                                        Tên sản phẩm:
                                        <select class="form-control select2 select2-primary"
                                                data-dropdown-css-class="select2-primary" style="width: 100%;"
                                                name="tensp" data-tags="true" data-placeholder="Nhập tên sản phẩm">
                                            <option></option>
                                            <option th:each="sp : ${sp}" th:value="${sp.tensanpham}"
                                                    th:text="${sp.tensanpham}"></option>
                                        </select>
                                        <span id="tenspError" style="color: red;font-style: italic"></span>
                                    </h5>
                                    <h5 style="font-family: 'Times New Roman'">
                                        Giới tính:
                                        <select class="form-control" name="gioitinh">
                                            <option value="" selected disabled hidden>Chọn giới tính</option>
                                            <option value="true">Nam</option>
                                            <option value="false">Nữ</option>
                                        </select>
                                        <span id="gioitinhError" style="color: red;font-style: italic"></span>
                                    </h5>
                                    <h5 style="font-family: 'Times New Roman'">
                                        Mô tả:
                                        <textarea rows="4" cols="164" class="form-control" name="mota"></textarea>
                                        <span id="motaError" style="color: red;font-style: italic"></span>
                                    </h5>

                                </div>

                                <!--abc-->
                                <div class="d-flex">
                                    <p style="margin-left: 100px">Thương hiệu:
                                        <select class="form-control" style="width: 400px" name="idThuongHieu">
                                            <option th:each="th : ${th}" th:value="${th.id}"
                                                    th:text="${th.ten}"></option>
                                        </select>
                                    </p>
                                    <input type="button" class="btn btn-primary" style="margin:2%" value="+"
                                           data-bs-toggle="modal" data-bs-target="#themthuonghieu">
                                    <!--trạng thái-->
                                    <p style="margin-left: 100px">Trạng thái:
                                        <select class="form-control" style="width: 400px" name="trangthai">
                                            <option value="true">Đang kinh doanh</option>
                                            <option value="false">Ngừng kinh doanh</option>
                                        </select>
                                    </p>
                                    <input type="button" class="btn btn-primary" style="margin:2%" value="+">
                                </div>
                                <!--end-->

                                <!--abc-->
                                <!--chất liệu-->
                                <div class="d-flex">
                                    <p style="margin-left: 100px">Chất liệu:
                                        <select class="form-control" style="width: 400px" name="idChatLieu">
                                            <option th:each="cl : ${cl}" th:value="${cl.id}"
                                                    th:text="${cl.ten}"></option>
                                        </select>
                                    </p>
                                    <input type="button" class="btn btn-primary" style="margin:2%" value="+"
                                           data-bs-toggle="modal" data-bs-target="#themchatlieu">
                                    <!--đế giày-->
                                    <p style="margin-left: 100px">Đế giày:
                                        <select class="form-control" style="width: 400px" name="idDeGiay">
                                            <option th:each="dg : ${dg}" th:value="${dg.id}"
                                                    th:text="${dg.ten}"></option>
                                        </select>
                                    </p>
                                    <input type="button" class="btn btn-primary" style="margin:2%" value="+"
                                           data-bs-toggle="modal" data-bs-target="#themdegiay">
                                </div>
                                <!--end-->
                            </div>
                            <div class="card">
                                <!--abc-->
                                <h3 class="text-center" style="font-weight: bold;margin-top: 10px">
                                    KÍCH CỠ VÀ MÀU SẮC
                                </h3>
                                <div class="d-flex">
                                    <p style="margin-left: 100px;font-family: 'Times New Roman'">Màu sắc:
                                        <select class="select2" multiple="multiple" data-placeholder="Màu sắc"
                                                style="width: 400px;" name="idMauSac">
                                            <option th:each="ms : ${ms}" th:value="${ms.id}"
                                                    th:text="${ms.ten}"></option>
                                        </select>
                                        <span id="mausacError" style="color: red;font-style: italic"></span>
                                    </p>
                                    <p>
                                    </p>
                                    <input type="button" class="btn btn-primary" style="margin:2%" value="+"
                                           data-bs-toggle="modal" data-bs-target="#themmausac">
                                </div>
                                <!--end-->
                                <div class="d-flex align-items-center" style="margin-left: 100px">
                                    <div style="margin-right: 2%;font-weight: bold">
                                        Kích cỡ:
                                    </div>
                                    <div>
                                        <h6 id="displayValue"></h6>
                                    </div>
                                    <div style="margin-right: 2%;margin-left: 5px">
                                        <input type="button" class="btn btn-primary" value="+" data-bs-toggle="modal"
                                               data-bs-target="#themkichco2">
                                    </div>

                                </div>
                                <span id="kichcoError"
                                      style="color: red;font-family: 'Times New Roman';font-style: italic;margin-left: 100px"></span>
                                <button type="submit" class="btn btn-primary"
                                        style="margin-left: 100px;margin-bottom: 20px;margin-top: 30px; width: 200px;">
                                    Thêm
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="themsanpham" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm sản phẩm</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Tên sản phẩm:
                                                    <input class="form-control">
                                                </p>
                                                <p>
                                                    Tên số lượng:
                                                    <input type="number" class="form-control">
                                                </p>
                                                <p>
                                                    Trạng thái:
                                                    <select class="form-control">
                                                        <option>Đang sử dụng</option>
                                                        <option>Chưa sử dụng</option>
                                                    </select>
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Hủy
                                                </button>
                                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </div>
                            <!-- Modal thêm kích cỡ 2-->
                            <div class="modal fade" id="themkichco2" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5">Chọn kích cỡ</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="d-flex flex-wrap">
                                                <!-- Lặp qua danh sách kích cỡ và tạo các checkbox -->
                                                <div th:each="size : ${kc}">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="btn-check"
                                                               th:id="'btn-check-' + ${size.id}" th:value="${size.ten}"
                                                               name="kichCoId" autocomplete="off"
                                                               onchange="handleCheckboxChange()">
                                                        <label class="btn btn-outline-primary"
                                                               th:for="'btn-check-' + ${size.id}"
                                                               th:text="${size.ten}"></label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- Modal thêm thương hiệu-->
                        <div class="modal fade" id="themthuonghieu" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm thương
                                            hiệu</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" th:action="@{/addThuongHieuModal}"
                                              th:object="${thuonghieu}">
                                            <p>
                                                Tên thương hiệu:
                                                <input class="form-control" th:field="*{ten}"/>
                                            </p>
                                            <p>
                                                Trạng thái:
                                                <select class="form-control" th:field="*{trangthai}">
                                                    <option value="1">Đang kinh doanh</option>
                                                    <option value="0">Ngừng kinh doanh</option>
                                                </select>
                                            </p>
                                            <button class="btn btn-primary">Thêm</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal thêm chất liệu-->
                        <div class="modal fade" id="themchatlieu" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">Thêm chất liệu</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" th:action="@{/addChatLieuModal}" th:object="${chatlieu}">
                                            <p>
                                                Tên chất liệu:
                                                <input class="form-control" th:field="*{ten}"/>
                                            </p>
                                            <p>
                                                Trạng thái:
                                                <select class="form-control" th:field="*{trangthai}">
                                                    <option value="1">Đang kinh doanh</option>
                                                    <option value="0">Ngừng kinh doanh</option>
                                                </select>
                                            </p>
                                            <button class="btn btn-primary">Thêm</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal thêm đế giày-->
                        <div class="modal fade" id="themdegiay" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">Thêm đế giày</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" th:action="@{/addDeGiayModal}" th:object="${degiay}">
                                            <p>
                                                Tên đế giày:
                                                <input class="form-control" th:field="*{ten}"/>
                                            </p>
                                            <p>
                                                Trạng thái:
                                                <select class="form-control" th:field="*{trangthai}">
                                                    <option value="1">Đang kinh doanh</option>
                                                    <option value="0">Ngừng kinh doanh</option>
                                                </select>
                                            </p>
                                            <button class="btn btn-primary">Thêm</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal thêm kích cỡ-->
                        <div class="modal fade" id="themkichco" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">Thêm kích cỡ</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" th:action="@{/addKichCoModal}" th:object="${kichco}">
                                            <p>
                                                Tên kích cỡ:
                                                <input class="form-control" th:field="*{ten}"/>
                                            </p>
                                            <p>
                                                Trạng thái:
                                                <select class="form-control" th:field="*{trangthai}">
                                                    <option value="1">Đang kinh doanh</option>
                                                    <option value="0">Ngừng kinh doanh</option>
                                                </select>
                                            </p>
                                            <button class="btn btn-primary">Thêm</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal thêm màu sắc-->
                        <div class="modal fade" id="themmausac" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">Thêm màu sắc</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" th:action="@{/addMauSacModal}" th:object="${mausac}">
                                            <p>
                                                Tên màu sắc:
                                                <input class="form-control" th:field="*{ten}"/>
                                            </p>
                                            <p>
                                                Trạng thái:
                                                <select class="form-control" th:field="*{trangthai}">
                                                    <option value="1">Đang kinh doanh</option>
                                                    <option value="0">Ngừng kinh doanh</option>
                                                </select>
                                            </p>
                                            <button class="btn btn-primary">Thêm</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <h3 class="text-bold text-center" style="padding-left: 15px">CHI TIẾT SẢN PHẨM</h3>
        <a class="btn btn-primary" style="margin-left: 900px;margin-bottom: 15px" data-bs-toggle="modal"
           data-bs-target="#chinhsuasoluongvagia">Chỉnh sửa số lượng và giá chung</a>
        <button class="btn btn-primary" style="margin-left: 20px;margin-bottom: 15px">Hoàn tất</button>

        <!-- Modal chỉnh sửa số lượng và giá -->
        <div class="modal fade" id="chinhsuasoluongvagia" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Chỉnh sửa giá và số lượng sản phẩm</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Số lượng:
                            <input type="number" class="form-control">
                        </p>
                        <p>Đơn giá:
                            <input class="form-control">
                        </p>
                    </div>
                   <p style="margin-left: 18px">
                       <button class="btn btn-primary">Cập nhật</button>
                   </p>
                </div>
            </div>
        </div>


        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <table id="example2" class="table table-bordered table-hover ">
                                    <thead class="table table-danger">
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Giá bán</th>
                                        <th>Hành động</th>
                                        <th>Upload Ảnh</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="spctt,stt:${sanphamchitiet}">
                                        <td>
                                            <input type="checkbox" class="product-checkbox">
                                            <span style="margin-left: 7px" th:text="${stt.index+1}"></span>
                                        </td>
                                        <td th:text="${spctt.sanpham.tensanpham} +' '+ '[' + ${spctt.kichco.ten} + '-' + ${spctt.mausac.ten} + ']'"></td>

                                        <td>
                                            <input type="number" style="width: 70px; height: 30px" class="form-control"
                                                   th:value="${spctt.soluong}">
                                        </td>
                                        <td>
                                            <input type="number" style="width: 150px; height: 30px" class="form-control"
                                                   th:value="${spctt.giatien}">
                                        </td>
                                        <td>
                                            <a th:href="@{/deleteCTSP/{id}(id=${spctt.id})}"
                                               class="btn btn-outline-danger"
                                               onclick="return xoa(event)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                     fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                                </svg>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="container">
                                                <div id="image-preview"></div>
                                                <form action="/upload" method="post" enctype="multipart/form-data">
                                                    <label for="file-input" class="custom-upload">
                                                        <input type="file" id="file-input" name="file[]" multiple
                                                               onchange="previewImages()">
                                                    </label>
                                                </form>

                                            </div>
<!--                                            <form action="/addProduct" method="post" enctype="multipart/form-data">-->
<!--                                                &lt;!&ndash; Các trường dữ liệu khác &ndash;&gt;-->
<!--                                                <input type="file" name="file" multiple>-->
<!--                                                &lt;!&ndash; Các trường dữ liệu khác &ndash;&gt;-->
<!--                                                <button type="submit">Submit</button>-->
<!--                                            </form>-->


                                            </form>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!--end-->
    <nav th:replace="~{/layoutadmin/footer.html}"></nav>
</div>
<!--script-->
<nav th:replace="~{/layoutadmin/script.html}"></nav>
<!--end-->
</body>
</html>
<!--thư viện để chọn nhiều giá trị trên select -->
<!-- ./wrapper -->
<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="../../plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="../../plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<!-- InputMask -->
<script src="../../plugins/moment/moment.min.js"></script>
<script src="../../plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- date-range-picker -->
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap color picker -->
<script src="../../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="../../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Bootstrap Switch -->
<script src="../../plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- BS-Stepper -->
<script src="../../plugins/bs-stepper/js/bs-stepper.min.js"></script>
<!-- dropzonejs -->
<script src="../../plugins/dropzone/min/dropzone.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!--thư viện để chọn nhiều giá trị trên select -->
<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', {'placeholder': 'dd/mm/yyyy'})
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('mm/dd/yyyy', {'placeholder': 'mm/dd/yyyy'})
        //Money Euro
        $('[data-mask]').inputmask()

        //Date picker
        $('#reservationdate').datetimepicker({
            format: 'L'
        });

        //Date and time picker
        $('#reservationdatetime').datetimepicker({icons: {time: 'far fa-clock'}});

        //Date range picker
        $('#reservation').daterangepicker()
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'MM/DD/YYYY hh:mm A'
            }
        })
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment()
            },
            function (start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
            }
        )

        //Timepicker
        $('#timepicker').datetimepicker({
            format: 'LT'
        })

        //Bootstrap Duallistbox
        $('.duallistbox').bootstrapDualListbox()

        //Colorpicker
        $('.my-colorpicker1').colorpicker()
        //color picker with addon
        $('.my-colorpicker2').colorpicker()

        $('.my-colorpicker2').on('colorpickerChange', function (event) {
            $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
        })

        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        })

    })
    // BS-Stepper Init
    document.addEventListener('DOMContentLoaded', function () {
        window.stepper = new Stepper(document.querySelector('.bs-stepper'))
    })

    // DropzoneJS Demo Code Start
    Dropzone.autoDiscover = false

    // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
    var previewNode = document.querySelector("#template")
    previewNode.id = ""
    var previewTemplate = previewNode.parentNode.innerHTML
    previewNode.parentNode.removeChild(previewNode)

    var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: "/target-url", // Set the url
        thumbnailWidth: 80,
        thumbnailHeight: 80,
        parallelUploads: 20,
        previewTemplate: previewTemplate,
        autoQueue: false, // Make sure the files aren't queued until manually added
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
    })

    myDropzone.on("addedfile", function (file) {
        // Hookup the start button
        file.previewElement.querySelector(".start").onclick = function () {
            myDropzone.enqueueFile(file)
        }
    })

    // Update the total progress bar
    myDropzone.on("totaluploadprogress", function (progress) {
        document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
    })

    myDropzone.on("sending", function (file) {
        // Show the total progress bar when upload starts
        document.querySelector("#total-progress").style.opacity = "1"
        // And disable the start button
        file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
    })

    // Hide the total progress bar when nothing's uploading anymore
    myDropzone.on("queuecomplete", function (progress) {
        document.querySelector("#total-progress").style.opacity = "0"
    })

    // Setup the buttons for all transfers
    // The "add files" button doesn't need to be setup because the config
    // `clickable` has already been specified.
    document.querySelector("#actions .start").onclick = function () {
        myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
    }
    document.querySelector("#actions .cancel").onclick = function () {
        myDropzone.removeAllFiles(true)
    }
    // DropzoneJS Demo Code End
</script>

<script>
    function validateForm() {
        var tensp = document.forms["addProduct"]["tensp"].value;
        var mota = document.forms["addProduct"]["mota"].value;
        var gioitinh = document.forms["addProduct"]["gioitinh"].value;
        var kichco = document.forms["addProduct"]["kichCoId"].value;
        var mausac = document.forms["addProduct"]["idMauSac"].value;

        // Kiểm tra và cập nhật thông báo lỗi cho mỗi trường dữ liệu
        if (isEmpty(tensp)) {
            document.getElementById("tenspError").innerText = "Vui lòng nhập tên sản phẩm.";
            return false;
        } else {
            document.getElementById("tenspError").innerText = "";
        }

        if (isEmpty(gioitinh)) {
            document.getElementById("gioitinhError").innerText = "Vui lòng chọn giới tính.";
            return false;
        } else {
            document.getElementById("gioitinhError").innerText = "";
        }

        if (isEmpty(mota)) {
            document.getElementById("motaError").innerText = "Vui lòng nhập mô tả.";
            return false;
        } else {
            document.getElementById("motaError").innerText = "";
        }
        if (isEmpty(mausac)) {
            document.getElementById("mausacError").innerText = "Vui lòng chọn màu sắc.";
            return false;
        } else {
            document.getElementById("mausacError").innerText = "";
        }
        // Lấy tất cả các checkbox có name là "kichCoId" và đã được chọn
        var checkboxes = document.querySelectorAll('input[name="kichCoId"]:checked');

// Kiểm tra xem có ít nhất một checkbox đã được chọn hay không
        if (checkboxes.length === 0) {
            document.getElementById("kichcoError").innerText = "Vui lòng chọn ít nhất một kích cỡ.";
            return false;
        } else {
            document.getElementById("kichcoError").innerText = "";
        }

        return them();
    }

    function them() {
        if (confirm("Bạn có muốn thêm không")) {
            alert("Thêm thành công")
            return true;
        } else {
            return false;
        }
    }

    function isEmpty(str) {
        return !str.trim();
    }

    function handleCheckboxChange() {
        document.getElementById("kichcoError").innerText = "";
    }

</script>

<script>
    function xoa(event) {
        event.preventDefault(); // Ngăn chặn chuyển hướng mặc định của thẻ 'a'
        var deleteUrl = event.currentTarget.getAttribute('href'); // Lấy giá trị của thuộc tính href của thẻ <a>
        console.log("Delete URL: ", deleteUrl); // Hiển thị giá trị của deleteUrl trong console
        Swal.fire({
            title: 'Bạn có muốn xóa?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Xóa',
            cancelButtonText: 'Hủy',
        }).then((result) => {
            if (result.isConfirmed) {
                // Hiển thị thông báo xóa thành công
                Swal.fire({
                    title: 'Đã xóa thành công!',
                    icon: 'success',
                    timer: 3000, // Hiển thị trong 3 giây
                    showConfirmButton: false // Ẩn nút Xác nhận
                });
                // Chờ 3 giây trước khi chuyển hướng đến URL xóa
                setTimeout(function () {
                    window.location.href = deleteUrl;
                }, 1000);
            }
        });
    }
</script>
<!--format giá tiền-->
<script type="text/javascript">
    function formatCurrency(input) {
        // Format input number with thousand separators
        var number = input.value.replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        input.value = number;
    }
</script>
<!--dùng cho thêm size-->
<script>
    $(document).ready(function () {
        var selectedValues = [];

        // Function to remove a value from selectedValues array
        function removeValue(value) {
            selectedValues = selectedValues.filter(function (item) {
                return item !== value;
            });
        }

        // Function to update display of selected values
        function updateDisplay() {
            $('#displayValue').empty();
            selectedValues.forEach(function (val) {
                var button = $('<button type="button" class="btn mr-2">' + val + '</button>');
                $('#displayValue').append(button);
            });
        }

        $('.btn-check').on('click', function () {
            var value = $(this).val();

            if ($(this).is(':checked')) {
                selectedValues.push(value);
            } else {
                removeValue(value);
            }

            updateDisplay();
        });
    });
</script>

<!--ảnh-->
<script>
    function previewImages() {
        var preview = document.getElementById('image-preview');
        var files = document.getElementById('file-input').files;

        // Kiểm tra số lượng ảnh đã chọn và số lượng ảnh hiện có
        var currentImages = preview.getElementsByClassName('preview-image-container').length;
        var totalImages = currentImages + files.length;

        // Kiểm tra số lượng ảnh hiện có và ảnh mới
        if (totalImages > 3) {
            alert('Bạn chỉ có thể tải lên tối đa 3 ảnh.');
            return; // Dừng hàm nếu số lượng ảnh vượt quá 3
        }

        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var reader = new FileReader();

            reader.onload = function (event) {
                var imageContainer = document.createElement('div');
                imageContainer.classList.add('preview-image-container');

                var image = new Image();
                image.src = event.target.result;
                image.classList.add('preview-image');

                var deleteButton = document.createElement('button');
                deleteButton.innerHTML = 'X';
                deleteButton.classList.add('delete-button');
                deleteButton.onclick = function () {
                    deleteImage(imageContainer);
                };

                imageContainer.appendChild(image);
                imageContainer.appendChild(deleteButton);
                preview.appendChild(imageContainer);
            };

            reader.readAsDataURL(file);
        }

        // Ẩn nút file upload khi đã thêm tối đa 3 ảnh
        if (totalImages >= 3) {
            document.getElementById('file-input').parentElement.style.display = 'none';
        }
    }

    // Hàm xóa ảnh và hiển thị lại nút file upload
    function deleteImage(imageContainer) {
        imageContainer.remove();
        var preview = document.getElementById('image-preview');
        var currentImages = preview.getElementsByClassName('preview-image-container').length;
        // Hiển thị lại nút file upload khi ảnh bị xóa
        if (currentImages < 3) {
            document.getElementById('file-input').parentElement.style.display = 'block';
        }
    }
</script>











