<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<nav th:replace="~{/layoutadmin/head.html}"></nav>
<!--highlight hàng trong table-->
<style>
    .selected-row {
        opacity: 1 !important;
        background-color: rgba(249, 72, 42, 0.1); /* Optional: Adding a slight background color for better visibility */
    }
</style>
<style>
    #editButton.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    .carousel-img {
        width: 100px; /* Thiết lập chiều rộng là 100% */
        height: 70px; /* Tự động tính toán chiều cao dựa trên tỷ lệ của ảnh */
    }

    /*checkbox*/
    .checkbox-red:checked {
        background-color: red;
    }

</style>
<script src="../sweetalert2/dist/sweetalert2.min.js/"></script>
<link rel="stylesheet" type="text/css" href="../sweetalert2/dist/sweetalert2.min.css">
<body class="hold-transition sidebar-mini" style="font-family: 'Bahnschrift'">
<div class="wrapper">
    <!-- Navbar -->
    <nav th:replace="~{/layoutadmin/navbar.html}"></nav>
    <!-- End navbar -->

    <!--Menu bán hàng -->
    <nav th:replace="~{/layoutadmin/menu.html}"></nav>
    <!--end-->

    <!--Nội dung -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-bookmark-dash-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6 6a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                            </svg>
                            QUẢN LÝ BIẾN THỂ SẢN PHẨM
                        </h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!--        <section class="content">-->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                                 class="bi bi-funnel" viewBox="0 0 16 16">
                                                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
                                            </svg>
                                            Bộ lọc
                                        </h3>
                                        <br>
                                        <hr class="border border-danger border opacity-50">
                                        <form th:method="get" th:object="${search}" id="searchForm">
                                            <h3 class="card-title" style="width: 1195px;font-weight: bold">
                                                <input type="text" placeholder="Tìm kiếm tên sản phẩm hoặc mã sản phẩm chi tiết" class="form-control"
                                                       name="key" th:value="${fillSearch}" onblur="submitForm()">
                                            </h3>
                                            <h3 class="card-title" style="margin-left: 10px;font-weight: bold">Thương hiệu:
                                                <select class="form-control" name="idThuongHieu"
                                                        style="color: rgb(249,72,42); font-weight: bold;width: 150px" onchange="submitForm()">
                                                    <option value="" th:selected="${fillThuongHieu == null}">Tất cả</option>
                                                    <option th:each="thuonghieu : ${th}"
                                                            th:value="${thuonghieu.id}"
                                                            th:selected="${thuonghieu.id == fillThuongHieu}"
                                                            th:text="${thuonghieu.ten}">
                                                    </option>
                                                </select>
                                            </h3>
                                            <h3 class="card-title" style="margin-left: 20px;font-weight: bold">Đế giày:
                                                <select class="form-control" name="idDeGiay"
                                                        style="color: rgb(249,72,42); font-weight: bold;width: 150px" onchange="submitForm()">
                                                    <option value="" th:selected="${fillDeGiay == null}">Tất cả</option>
                                                    <option th:each="degiay : ${dg}"
                                                            th:value="${degiay.id}"
                                                            th:selected="${degiay.id == fillDeGiay}"
                                                            th:text="${degiay.ten}">
                                                    </option>
                                                </select>
                                            </h3>
                                            <h3 class="card-title" style="margin-left: 20px;font-weight: bold">Kích cỡ:
                                                <select class="form-control" name="idKichCo"
                                                        style="color: rgb(249,72,42); font-weight: bold;width: 150px" onchange="submitForm()">
                                                    <option value="" th:selected="${fillKichCo == null}">Tất cả</option>
                                                    <option th:each="kichco : ${kc}"
                                                            th:value="${kichco.id}"
                                                            th:selected="${kichco.id == fillKichCo}"
                                                            th:text="${kichco.ten}">
                                                    </option>
                                                </select>
                                            </h3>
                                            <h3 class="card-title" style="margin-left: 20px;font-weight: bold">Màu sắc:
                                                <select id="mausac-select" class="form-control" name="idMauSac"
                                                        style="color: rgb(249,72,42); font-weight: bold; width: 150px" onchange="submitForm()">
                                                    <option value="" th:selected="${fillMauSac == null}">Tất cả</option>
                                                    <option th:each="mausac : ${ms}"
                                                            th:value="${mausac.id}"
                                                            th:selected="${mausac.id == fillMauSac}"
                                                            th:text="${mausac.ten}"
                                                            th:data-color="${mausac.ten}"></option>
                                                </select>

                                            </h3>
                                            <h3 class="card-title" style="margin-left: 20px;font-weight: bold">Chất liệu:
                                                <select class="form-control" name="idChatLieu"
                                                        style="color: rgb(249,72,42); font-weight: bold; width: 150px" onchange="submitForm()">
                                                    <option value="" th:selected="${fillChatLieu == null}">Tất cả</option>
                                                    <option th:each="chatlieu : ${cl}"
                                                            th:value="${chatlieu.id}"
                                                            th:selected="${chatlieu.id == fillChatLieu}"
                                                            th:text="${chatlieu.ten}">
                                                    </option>
                                                </select>
                                            </h3>
                                            <h3 class="card-title" style="margin-left: 20px;font-weight: bold">Giới tính:
                                                <select id="statusSelect" class="form-control" name="gioitinh"
                                                        style="color: rgb(249,72,42); font-weight: bold;width: 150px" onchange="submitForm()">
                                                    <option value="" th:selected="${fillGioiTinh == null}">Tất cả</option>
                                                    <option value="true" th:selected="${fillGioiTinh != null && fillGioiTinh}">Nam</option>
                                                    <option value="false" th:selected="${fillGioiTinh != null && !fillGioiTinh}">Nữ</option>
                                                </select>
                                            </h3>
                                            <h3 class="card-title" style="margin-left: 20px;font-weight: bold">Trạng thái:
                                                <select id="" class="form-control" name="trangthai"
                                                        style="color: rgb(249,72,42); font-weight: bold;width: 150px" onchange="submitForm()">
                                                    <option value="" th:selected="${fillTrangThai == null}">Tất cả</option>
                                                    <option value="true" th:selected="${fillTrangThai != null && fillTrangThai}">Đang kinh doanh</option>
                                                    <option value="false" th:selected="${fillTrangThai != null && !fillTrangThai}">Ngừng kinh doanh</option>
                                                </select>
                                            </h3>
                                        </form>

                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <form th:method="post" th:action="@{/updateGiaAndSoLuongCTSP}" id="submitid"
                              onsubmit="return validateForm()" name="updateSLGT">
                            <div class="d-flex">
                                <a th:href="@{/allSPCT}"
                                   style="margin-left: 850px; margin-bottom: 10px; height: 37px; line-height: 25px;"
                                   class="btn btn-dark">Tất cả</a>

                                <a id="editButton" class="btn disabled"
                                   style="margin-left: 10px;margin-bottom: 15px;background-color:rgb(249,72,42);color: white"
                                   data-bs-toggle="modal" data-bs-target="#chinhsuasoluongvagia">Chỉnh sửa số lượng và
                                    giá
                                    chung</a>
                            </div>
                            <input type="hidden" name="choncheckbox" value="-1">
                            <!-- Modal chỉnh sửa số lượng và giá -->
                            <div class="modal fade" id="chinhsuasoluongvagia" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5">Chỉnh sửa giá và số lượng sản phẩm</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Số lượng:
                                                <input id="soluong" type="number" class="form-control" name="soluong">
                                                <span id="soluongError" style="color: red; font-style: italic"></span>
                                            </p>
                                            <p>Đơn giá:
                                                <input id="giatien" class="form-control" name="giatienDisplay"
                                                       onkeyup="formatCurrency('giatien')">
                                                <input type="hidden" name="giatien" id="giatienRawInput">
                                                <span id="giatienError" style="color: red; font-style: italic"></span>
                                            </p>
                                        </div>
                                        <p style="margin-left: 400px">
                                            <button class="btn" style="background-color:rgb(249,72,42);color: white"
                                                    onclick="layGiaTri2()"
                                                    type="submit">Cập nhật
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                         class="bi bi-card-list" viewBox="0 0 16 16">
                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                                        <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                                    </svg>
                                    Danh sách biến thể sản phẩm
                                </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" style="width: 100%" class="table-bordered table-hover text-center">
                                    <thead style="background-color:rgb(249,72,42);height: 50px;color: white">
                                    <tr>
                                        <th style="padding-left: 50px;padding-bottom: 25px">
                                            <input type="checkbox" name="chontatcactsp" id="chontatcactsp"
                                                   onchange="selectAll(this)"
                                                   class="form-check-input checkbox checkbox-red">
                                        </th>
                                        <th>STT</th>
                                        <th>Mã</th>
                                        <th>Ảnh</th>
                                        <th>Số lượng</th>
                                        <th>Giá tiền</th>
                                        <th>Thương hiệu</th>
                                        <th>Chất liệu</th>
                                        <th>Đế giày</th>
                                        <th>Kích cỡ</th>
                                        <th>Màu sắc</th>
                                        <th>Hành động</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="spct, stt : ${sanphamchitiet}">
                                        <td style="padding-left: 20px;padding-bottom: 25px">
                                            <input type="checkbox" class="form-check-input checkbox checkbox-red"
                                                   th:value="${spct.id}" onchange="toggleRowHighlight(this)"
                                                   name="chonspct">
                                        </td>
                                        <td>
                                            <span style="margin-left: 7px" th:text="${stt.index+1}"></span>
                                        </td>
                                        <th th:text="${spct.masanphamchitiet}"></th>
                                        <td>
                                            <div th:id="'carouselExample' + ${spct.id}" class="carousel">
                                                <div class="carousel-inner">
                                                    <th:block th:each="anhs, index : ${spct.anh}">
                                                        <div th:classappend="${index.index == 0} ? 'carousel-item active' : 'carousel-item'">
                                                            <!-- Hình ảnh carousel -->
                                                            <img th:if="${anhs.tenanh != null}"
                                                                 th:src="@{'/upload' + ${anhs.tenanh.substring(anhs.tenanh.lastIndexOf('upload') + 6)}}"
                                                                 class="d-block w-100 carousel-img rounded-3" alt="Ảnh">

                                                            <!-- Hiển thị giá trị giảm giá -->
                                                            <span th:if="${!#lists.isEmpty(spct.sanphamdotgiam)}"
                                                                  style="position: absolute; top: 5px; right: 2px; background-color: red; color: white; padding: 2px 2px; border-radius: 20px; font-weight: bold; font-size: 12px;">
                <span th:each="spdg : ${spct.sanphamdotgiam}"
                      th:text="${spdg.dotgiamgia.giatrigiam} + '%'"></span>
            </span>
                                                        </div>
                                                    </th:block>
                                                </div>
                                                <button class="carousel-control-prev" type="button"
                                                        th:data-bs-target="'#carouselExample' + ${spct.id}"
                                                        data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button"
                                                        th:data-bs-target="'#carouselExample' + ${spct.id}"
                                                        data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </td>

                                        <td th:text="${spct.soluong}"></td>
                                        <td style="text-align: center;">
                                            <!-- Kiểm tra xem có đợt giảm giá không -->
                                            <span th:if="${#lists.isEmpty(spct.sanphamdotgiam)}">
        <!-- Nếu không có đợt giảm giá, chỉ hiển thị giá tiền cũ -->
        <span style="color: red; font-weight: bold"
              th:text="${#numbers.formatDecimal(spct.giatien, 0, 'COMMA', 0, 'POINT') + '&#x20ab;'}"></span>
    </span>
                                            <span th:unless="${#lists.isEmpty(spct.sanphamdotgiam)}">
        <!-- Nếu có ít nhất một đợt giảm giá, hiển thị giá tiền mới -->
        <del th:text="${#numbers.formatDecimal(spct.giatien, 0, 'COMMA', 0, 'POINT') + '&#x20ab;'}"
             style="color: black; font-weight: bold"></del>
        <br/>
        <span th:each="spdg : ${spct.sanphamdotgiam}"
              th:text="${#numbers.formatDecimal(spct.giatien - (spct.giatien * spdg.dotgiamgia.giatrigiam) / 100, 0, 'COMMA', 0, 'POINT') + '&#x20ab;'}"
              style="color: red; font-weight: bold"></span>
    </span>
                                        </td>
                                        <td th:text="${spct.thuonghieu.ten}"></td>
                                        <td th:text="${spct.chatlieu.ten}"></td>
                                        <td th:text="${spct.degiay.ten}"></td>
                                        <td th:text="${spct.kichco.ten}"></td>
<!--                                        <td th:text="${spct.mausac.ten}"></td>-->
                                        <td>
                                            <input type="color" th:value="${spct.mausac.ten}" class="form-control" disabled>
<!--                                            <p th:text="${spct.mausac.ten}" style="color: red">-->
                                        </td>
                                        <td>
                                            <a th:href="@{/updateCTSP/{id}(id=${spct.id})}"
                                               style="color:rgb(249,72,42)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                     fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!--end-->
    <nav th:replace="~{/layoutadmin/footer.html}"></nav>
</div>
<!--script-->
<nav th:replace="~{/layoutadmin/script.html}"></nav>
<!--end-->
</body>
</html>

<script>
    var giaTriTuCheckbox = []; // Mảng lưu trữ giá trị từ checkbox

    // Hàm lưu trữ giá trị từ checkbox khi thay đổi
    function luuGiaTri2(checkbox) {
        if (checkbox.checked) {
            giaTriTuCheckbox.push(checkbox.value);
        } else {
            var index = giaTriTuCheckbox.indexOf(checkbox.value);
            if (index !== -1) {
                giaTriTuCheckbox.splice(index, 1);
            }
        }
        console.log(giaTriTuCheckbox);
    }

    function layGiaTri2() {
        if (giaTriTuCheckbox.length > 0) {
            for (var i = 0; i < giaTriTuCheckbox.length; i++) {
                var input = document.createElement("input");
                input.type = "hidden";
                input.name = "choncheckbox";
                input.value = giaTriTuCheckbox[i];
                document.getElementById("submitid").appendChild(input);
            }
        }
    }


    function toggleRowHighlight(checkbox) {
        const row = checkbox.closest('tr');
        if (checkbox.checked) {
            row.classList.add('selected-row');
            if (giaTriTuCheckbox.indexOf(checkbox.value) === -1) {
                giaTriTuCheckbox.push(checkbox.value);
            }
        } else {
            row.classList.remove('selected-row');
            var index = giaTriTuCheckbox.indexOf(checkbox.value);
            if (index !== -1) {
                giaTriTuCheckbox.splice(index, 1);
            }
        }
        console.log(giaTriTuCheckbox);
    }

    function selectAll(source) {
        var checkboxes = document.getElementsByName('chonspct');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
            toggleRowHighlight(checkboxes[i]); // Call toggleRowHighlight for each checkbox
        }
    }
</script>
<script>
    function validateForm() {
        var soluong = document.getElementById("soluong").value;
        var soluongError = document.getElementById("soluongError");

        var giatien = document.getElementById("giatien").value;
        var giatienError = document.getElementById("giatienError");

        // Kiểm tra trường "Số lượng"
        // Kiểm tra xem trường "Số lượng" có trống không
        if (soluong.trim() === "") {
            soluongError.innerText = "Vui lòng nhập số lượng.";
            return false; // Ngăn form được gửi đi
        } else if (soluong <= 0) {
            soluongError.innerText = "Số lượng phải lớn hơn 0.";
            return false; // Ngăn form được gửi đi
        } else if (soluong > 100) {
            soluongError.innerText = "Số lượng không được vượt quá 100.";
            return false; // Ngăn form được gửi đi
        } else {
            soluongError.innerText = ""; // Xóa thông báo lỗi nếu có
        }


        // Kiểm tra trường "Giá tiền"
        if (giatien.trim() === "") {
            giatienError.innerText = "Vui lòng nhập giá tiền";
            return false; // Ngăn form được gửi đi
        }
            // else if (!(/^\d+$/.test(giatien))) {
            //     giatienError.innerText = "Giá tiền chỉ được chứa số";
            //     return false; // Ngăn form được gửi đi
        // }
        else if (giatien < 0) {
            giatienError.innerText = "Giá tiền phải >= 0";
            return false; // Ngăn form được gửi đi
        } else {
            giatienError.innerText = ""; // Xóa thông báo lỗi nếu có
        }

        // Gọi hàm updateSLGT() nếu không có lỗi ở các trường trước đó
        return updateSLGT();
    }

    function updateSLGT() {
        // Sử dụng SweetAlert2 thay vì hộp thoại confirm
        Swal.fire({
            title: 'Bạn có muốn sửa không?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Có',
            cancelButtonText: 'Không'
        }).then((result) => {
            if (result.isConfirmed) {
                // Nếu người dùng nhấn Có, hiển thị thông báo thành công và chuyển hướng sau một khoảng thời gian
                const Toast = Swal.mixin({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    }
                });
                setTimeout(function () {
                    // Lưu thông báo vào sessionStorage
                    sessionStorage.setItem('successMessageSuaGia', 'Sửa thành công!');
                    document.updateSLGT.submit();
                });
            }
        });

        // Ngăn form được gửi đi ngay lập tức
        return false;
    }
</script>

<!--dùng ẩn hiện modal khi click vào checkBox-->
<script>
    // Lắng nghe sự kiện khi checkbox được thay đổi
    $('.form-check-input.checkbox.checkbox-red').change(function () {
        // Kiểm tra số lượng checkbox được chọn
        var checkedCount = $('.form-check-input.checkbox.checkbox-red:checked').length;

        // Kiểm tra nếu có ít nhất một checkbox được chọn
        if (checkedCount > 0) {
            // Xóa lớp disabled cho nút chỉnh sửa
            $('#editButton').removeClass('disabled');
        } else {
            // Thêm lớp disabled cho nút chỉnh sửa
            $('#editButton').addClass('disabled');
        }
    });
</script>

<script>
    var giaTriTuCheckbox = []; // Mảng lưu trữ giá trị từ checkbox
</script>

<script>
    function formatCurrency(elementId) {
        var input = document.getElementById(elementId);
        var rawInput = document.getElementById('giatienRawInput');
        var value = input.value.replace(/[^0-9]/g, ''); // Loại bỏ tất cả ký tự không phải số

        if (value) {
            rawInput.value = value; // Gán giá trị thô vào input ẩn
            value = (parseInt(value, 10)).toLocaleString('vi-VN'); // Định dạng giá trị với phân cách hàng nghìn
            input.value = value + ' ₫'; // Hiển thị giá trị với đơn vị tiền tệ
        } else {
            rawInput.value = ''; // Đảm bảo input ẩn được xóa nếu không có giá trị hợp lệ
            input.value = '';
        }
    }
</script>

<!--thông báo sửa số lượng và giá thành công-->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const successMessage = sessionStorage.getItem('successMessageSuaGia');
        if (successMessage) {
            // Hiển thị thông báo ở góc bên phải màn hình
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });
            Toast.fire({
                icon: 'success',
                title: successMessage
            });
            sessionStorage.removeItem('successMessageSuaGia');
        }
    });
</script>

<!--thông báo xác nhận-->
<script th:inline="javascript">
    /*<![CDATA[*/
    var success = /*[[${success}]]*/ false;
    /*]]>*/
    if (success === true) {
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });
        Toast.fire({
            icon: "success",
            title: "Sửa thành công!"
        });
    }
</script>

<script type="text/javascript">
    function submitForm() {
        document.getElementById("searchForm").submit();
    }
</script>

<!--Màu sắc-->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const selectElement = document.getElementById('mausac-select');
        const options = selectElement.querySelectorAll('option');

        options.forEach(option => {
            const colorValue = option.getAttribute('data-color');
            if (colorValue) {
                option.style.backgroundColor = colorValue;
                option.style.color = 'white'; // Hoặc màu chữ khác nếu cần
            }
        });
    });

</script>
