<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<nav th:replace="~{/layoutadmin/head.html}"></nav>
<style>
    .tdSameWidth {
        /*max-width: 50%;*/
        /*white-space: nowrap;*/
        /*overflow: hidden;*/
        /*text-overflow: ellipsis;*/
        padding: 10px;
    }

    .tdDiaChi {
        max-width: 270px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    th {
        white-space: nowrap;
    }
</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <nav th:replace="~{/layoutadmin/navbar.html}"></nav>
    <!-- End navbar -->

    <!--Menu bán hàng -->
    <nav th:replace="~{/layoutadmin/menu.html}"></nav>
    <!--end-->

    <!--Nội dung -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-bookmark-dash-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6 6a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                            </svg>
                            QUẢN LÝ TÀI KHOẢN KHÁCH HÀNG
                        </h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!---filter-->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div>
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <form th:action="@{/khachhang/timkiem}" id="searchForm" method="get">
                                        <h3 class="card-title" style="font-weight: bold">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                 fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                                                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
                                            </svg>
                                            Bộ lọc
                                        </h3>
                                        <br>
                                        <hr class="border border-danger border opacity-50">
                                        <div class="row g-3 mb-3">
                                            <div class=" align-items-center col-lg-6 col-md-6" style="width: 960px;">
                                                <div class="col-auto">
                                                    <label class="col-form-label">Tìm kiếm:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <input th:value="${searchInput}" name="searchInput" id="searchInput"
                                                           style="width: 100%"
                                                           type="text" class="form-control"
                                                           placeholder="Nhập tên, mã hoặc số điện thoại">
                                                </div>
                                            </div>
                                            <div class="align-items-center col-lg-6 col-md-6" style="width: 200px">
                                                <div class="col-auto">
                                                    <label class="col-form-label">Trạng thái:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <select class="form-select" th:value="${searchOption}"
                                                            name="searchOption" id="searchOption"
                                                            style="color: rgb(249,72,42); font-weight: bold; width: 200px">
                                                        <option th:selected="${searchOption == '' ? 'true' : 'false'}"
                                                                value="">Tất cả
                                                        </option>
                                                        <option th:selected="${searchOption == true ? 'true' : 'false'}"
                                                                value="true">Đang Hoạt động
                                                        </option>
                                                        <option th:selected="${searchOption == false ? 'true' : 'false'}"
                                                                value="false">Ngừng hoạt động
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </div>
                    <!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title" style="margin-top: 10px;font-weight: bold">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                         class="bi bi-card-list" viewBox="0 0 16 16">
                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                                        <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                                    </svg>
                                    Danh sách khách hàng
                                </h3>
                                <a th:href="@{/khachhang/add}" class="btn"
                                   style="margin-left: 1015px; background-color: rgb(249,72,42);color: white;margin-top: -60px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                         class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                    </svg>
                                    Thêm khách hàng
                                </a>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" style="width: 100%" class="table-bordered table-hover text-center">
                                    <thead style="background-color:rgb(249,72,42);height: 50px;color: white">
                                    <tr style="vertical-align: middle; text-align: center;">
                                        <th>STT</th>
                                        <th>Mã khách hàng</th>
                                        <th style="max-width: 100px">Tên khách hàng</th>
                                        <th>Số điện thoại</th>
                                        <th>Ngày sinh</th>
                                        <th>Địa chỉ</th>
                                        <th>Trạng thái</th>
                                        <th>Thao tác</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="kh,stt:${lstKhachHang}">
                                        <td class="tdSameWidth" th:text="${stt.index+1}"></td>
                                        <th class="tdSameWidth" th:text="${kh.khachhang.makhachhang}"></th>
                                        <td class="tdSameWidth" style="width: 150px"
                                            th:text="${kh.khachhang.nguoidung.hovaten}"></td>
                                        <td class="tdSameWidth" th:text="${kh.khachhang.nguoidung.sodienthoai}"></td>
                                        <td class="tdSameWidth"
                                            th:text="${#dates.format(kh.khachhang.nguoidung.ngaysinh, 'dd/MM/yyyy')}"></td>
                                        <td th:if="${#strings.isEmpty(kh.diachi.tenduong) and #strings.isEmpty(kh.diachi.xaphuong) and #strings.isEmpty(kh.diachi.quanhuyen) and #strings.isEmpty(kh.diachi.tinhthanhpho)}"
                                            class="tdDiaChi"
                                            th:text="'Chưa có địa chỉ'"></td>
                                        <td style="padding: 10px"
                                            th:unless="${#strings.isEmpty(kh.diachi.tenduong) and #strings.isEmpty(kh.diachi.xaphuong) and #strings.isEmpty(kh.diachi.quanhuyen) and #strings.isEmpty(kh.diachi.tinhthanhpho)}"
                                            class="tdDiaChi"
                                            th:text="${kh.diachi.tenduong + ', ' + kh.diachi.xaphuong + ', ' + kh.diachi.quanhuyen + ', ' + kh.diachi.tinhthanhpho}"></td>
                                        <td style="font-size: medium;" th:if="${kh.khachhang.trangthai == true}"
                                            class="tdSameWidth">
                                            <a th:href="@{/khachhang/updatetrangthai/{id}(id=${kh.diachi.id})}"
                                               style="width: 120px; text-decoration: none"
                                               class="badge badge-success updateTrangThai">Đang
                                                hoạt động</a>
                                        </td>
                                        <td th:unless="${kh.khachhang.trangthai}" class="tdSameWidth">
                                            <a th:href="@{/khachhang/updatetrangthai/{id}(id=${kh.diachi.id})}"
                                               style="width: 120px; text-decoration: none"
                                               class="badge badge-danger updateTrangThai">Ngừng
                                                hoạt động</a>
                                        </td>
                                        <td>
                                            <!--                                            <a th:href="@{/khachhang/detail/{id}(id=${kh.diachi.id})}" class="btn btn-outline-danger col">-->
                                            <!--                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"-->
                                            <!--                                                     fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">-->
                                            <!--                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>-->
                                            <!--                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>-->
                                            <!--                                                </svg>-->
                                            <!--                                            </a>-->
                                            <!--                                            <a th:href="@{/khachhang/updatetrangthai/{id}(id=${kh.diachi.id})}"-->
                                            <!--                                               class="btn btn-outline-info updateTrangThai">-->
                                            <!--                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"-->
                                            <!--                                                     fill="currentColor" class="bi bi-vector-pen" viewBox="0 0 16 16">-->
                                            <!--                                                    <path fill-rule="evenodd"-->
                                            <!--                                                          d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>-->
                                            <!--                                                    <path fill-rule="evenodd"-->
                                            <!--                                                          d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086z"/>-->
                                            <!--                                                </svg>-->
                                            <!--                                            </a>-->

                                            <a th:href="@{/khachhang/update/{id}(id=${kh.diachi.id})}" id=""
                                               style="color:rgb(249,72,42)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                     fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!--end-->
    <nav th:replace="~{/layoutadmin/footer.html}"></nav>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/jsqr"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var success = /*[[${success}]]*/ false;
    var successAdd = /*[[${successAdd}]]*/ false;
    var successUpdate = /*[[${successUpdate}]]*/ false;
    /*]]>*/
    if (successAdd === true) {
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });

        Toast.fire({
            icon: "success",
            title: "Thêm thành công!"
        });
    }
    if (successUpdate === true) {
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });

        Toast.fire({
            icon: "success",
            title: "Cập nhật thành công!"
        });
    }
    if (success === true) {
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });

        Toast.fire({
            icon: "success",
            title: "Cập nhật thành công!"
        });
    }

</script>
<script>
    document.getElementById('searchForm').addEventListener('change', function () {
        var inputSearch = document.getElementById('searchInput');
        inputSearch.value = inputSearch.value.trim();
        var optionSearch = document.getElementById('searchOption');
        optionSearch.value = optionSearch.value.trim();
        document.getElementById('searchForm').submit();
    });
</script>
<script>
    var updateTrangThai = document.getElementsByClassName('updateTrangThai');
    for (let i = 0; i < updateTrangThai.length; i++) {
        updateTrangThai[i].addEventListener('click', function (event) {
            event.preventDefault();
            Swal.fire({
                title: 'Bạn có muốn thay đổi trạng thái không?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Có',
                cancelButtonText: 'Không'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = event.target.href;
                }
            });
            return false;
        });
    }
</script>
<script src="dangnhap/token.js"></script>
<!--script-->
<nav th:replace="~{/layoutadmin/script.html}"></nav>
<!--end-->
</body>
</html>
