<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<nav th:replace="~{/layoutadmin/head.html}"></nav>
<script src="../sweetalert2/dist/sweetalert2.min.js/"></script>
<link rel="stylesheet" type="text/css" href="../sweetalert2/dist/sweetalert2.min.css">
<style>
    .custom-confirm-button {
        background-color: rgb(249, 72, 42) !important;
        color: white !important;
    }

    .custom-cancel-button {
        background-color: black !important; /* Màu mặc định của nút "Không" nếu cần */
        color: white !important;
    }
</style>
<style>
    .btn-custom-warning {
        background-color: rgb(222, 255, 206);
        color: rgb(255, 33, 4);
        border-color: rgb(255, 33, 4);
    }

    .btn-custom-info {
        background-color: rgb(222, 255, 206);
        color: rgb(7, 50, 255);
        border-color: rgb(7, 50, 255);
    }
</style>
<script src="../sweetalert2/dist/sweetalert2.min.js/"></script>
<link rel="stylesheet" type="text/css" href="../sweetalert2/dist/sweetalert2.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<body class="hold-transition sidebar-mini" style="font-family: 'Bahnschrift'">

<div class="wrapper">
    <!-- Navbar -->
    <nav th:replace="~{/layoutadmin/navbar.html}"></nav>
    <!-- End navbar -->

    <!--Menu bán hàng -->
    <nav th:replace="~{/layoutadmin/menu.html}"></nav>
    <!--end-->

    <!--Nội dung -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-bookmark-dash-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6 6a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                            </svg>
                            QUẢN LÝ MÀU SẮC
                        </h1>
                    </div>
                    <!--                    <div class="col-sm-6">-->
                    <!--                        <ol class="breadcrumb float-sm-right">-->
                    <!--                            <li class="breadcrumb-item"><a href="#">Home</a></li>-->
                    <!--                            <li class="breadcrumb-item active">QUẢN LÝ MÀU SẮC</li>-->
                    <!--                        </ol>-->
                    <!--                    </div>-->
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!---filter-->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title" style="font-weight: bold">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                         class="bi bi-funnel" viewBox="0 0 16 16">
                                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
                                    </svg>
                                    Bộ lọc
                                </h3>
                                <br>
                                <hr class="border border-danger border opacity-50">
                                <form id="searchForm" method="get" th:object="${tim}">
                                    <h3 class="card-title">
                                        <span style="font-weight: bold">Tìm kiếm theo mã:</span>
                                        <input type="text" id="searchInput" placeholder="Tìm kiếm màu sắc"
                                               class="form-control" name="key" style="width: 980px"
                                               th:value="${fillSearch}">
                                    </h3>

                                    <h3 class="card-title" style="margin-left: 50px;font-weight: bold">
                                        <span style="font-weight: bold">Trạng thái:</span>
                                        <select id="statusSelect" class="form-control" name="trangthai"
                                                style="color: rgb(249,72,42); font-weight: bold; width: 150px">
                                            <option value="" th:selected="${fillTrangThai == null}">Tất cả</option>
                                            <option value="true"
                                                    th:selected="${fillTrangThai != null && fillTrangThai}">Đang sử dụng
                                            </option>
                                            <option value="false"
                                                    th:selected="${fillTrangThai != null && !fillTrangThai}">Ngừng sử
                                                dụng
                                            </option>
                                        </select>
                                    </h3>
                                    <!--                                    <button type="submit" style="margin-left: 100px;background-color:rgb(249,72,42);color: white" class="btn">Tìm kiếm</button>-->
                                    <!--                                    <input type="button" class="btn btn-dark" value="Làm mới bộ lọc" onclick="clearSearch()" />-->
                                </form>


                            </div>

                        </div>
                        <!-- /.card -->


                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title" style="font-weight: bold">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                         class="bi bi-card-list" viewBox="0 0 16 16">
                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                                        <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                                    </svg>
                                    Danh sách màu sắc
                                </h3>
                                <a href="/admin/addsanpham" class="btn"
                                   style="margin-left: 850px;background-color:rgb(249,72,42);color: white"
                                   data-bs-toggle="modal" data-bs-target="#themdegiay">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                         class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                    </svg>
                                    Thêm màu sắc</a>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="themdegiay" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm màu sắc</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="addForm" th:method="post" name="addMauSac" th:object="${mausac}"
                                                  th:action="@{/addSaveMauSac}" onsubmit="return validateTrung()">
                                                <p style="font-weight: bold">
                                                    <span style="color: red">* </span>
                                                    Mã màu sắc:
                                                    <input type="color" id="colorInput" th:field="*{ten}" style="width:100%;" class="form-control">
                                                </p>
                                                <button id="submitButton" class="btn" style="margin-left: 400px; background-color: rgb(249,72,42); color: white">
                                                    Thêm
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" style="width: 100%" class="table-bordered table-hover text-center">
                                    <thead style="background-color:rgb(249,72,42);height: 50px;color: white">
                                    <tr>
                                        <th>STT</th>
                                        <th>Màu sắc</th>
                                        <th>Ngày tạo</th>
                                        <th>Trạng thái</th>
                                        <th>Thao tác</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="ms,stt:${list}">
                                        <td th:text="${stt.index+1}"></td>
                                        <td>
<!--                                            <span th:if="${#strings.length(ms.ten) > 20}"-->
<!--                                                  th:text="${#strings.substring(ms.ten, 0, 20)} + '...'"></span>-->
<!--                                            <span th:unless="${#strings.length(ms.ten) > 20}"-->
<!--                                                  th:text="${ms.ten}"></span>-->
                                            <input type="color" th:value="${ms.ten}" class="form-control" disabled>
                                            <p th:text="${ms.ten}" style="color: red">
                                        </td>

                                        <td th:text="${#temporals.format(ms.ngaytao, 'dd-MM-yyyy HH:mm:ss')}"></td>
                                        <td class="tdSameWidth">
                                            <form name="updateTrangThaiForm"
                                                  th:action="@{/mausac/updateTrangThai/{id}(id=${ms.id})}" method="post"
                                                  onsubmit="return confirmUpdateMauSac(this);">
<!--                                                <button type="submit"-->
<!--                                                        style="width: 170px; background: none; border: none;"-->
<!--                                                        th:classappend="${ms.trangthai == true ? 'btn-outline-success' : 'btn-outline-danger'}">-->
<!--                                                    <span th:text="${ms.trangthai == true ? 'Đang kinh doanh' : 'Ngừng kinh doanh'}"></span>-->
<!--                                                </button>-->
                                                <button type="submit" style=" border: none;"
                                                        th:classappend="${ms.trangthai == true ? 'badge badge-success' : 'badge badge-danger'}">
                                                    <span th:text="${ms.trangthai == true ? 'Đang sử dụng' : 'Ngừng sử dụng'}"></span>
                                                </button>
                                            </form>
                                        </td>
                                        <td>
                                            <a style="color: rgb(249,72,42); font-size: 25px;" th:data-id="${ms.id}"
                                               data-bs-toggle="modal" data-bs-target="#capnhatmausac"
                                               onclick="fillShoeSoleNameMauSac(this)">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                            <!--                                            <form th:action="@{/updateMauSac/{id}(id=${ms.id})}" method="post" style="display: inline;">-->
                                            <!--                                                <button type="submit" style="background: none; border: none; color: rgb(249,72,42); padding-left: 10px" onclick="return confirm('Bạn có muốn xóa không?')">-->
                                            <!--                                                    <a style="color: rgb(249,72,42); font-size: 25px;"> &lt;!&ndash; Thay đổi giá trị font-size theo ý muốn &ndash;&gt;-->
                                            <!--                                                        <i class="bi bi-trash3-fill"></i>-->
                                            <!--                                                    </a>-->
                                            <!--                                                </button>-->
                                            <!--                                            </form>-->
                                        </td>
                                    </tr>
                                    </tbody>
                                    </tfoot>
                                </table>
                                <div class="modal fade" id="capnhatmausac" tabindex="-1"
                                     aria-labelledby="capnhatmausacLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="capnhatmausacLabel">Cập nhật màu sắc</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" id="mauSacId">
                                                <div class="mb-3">
                                                    <span style="color: red">* </span>
                                                    <label for="tenMauSac" class="form-label">Mã màu sắc:</label>
                                                    <input type="color" class="form-control" id="tenMauSac">
                                                    <div id="duplicate-error-message" class="text-danger"
                                                         style="display: none;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <!--                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>-->
                                                <button type="button" class="btn btn-primary"
                                                        onclick="updateShoeSoleNameMauSac()"
                                                        style="background-color:rgb(249,72,42);color: white;border-color:rgb(249,72,42)"
                                                        id="updateButton" disabled>Cập nhật
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->


                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!--end-->
    <nav th:replace="~{/layoutadmin/footer.html}"></nav>
</div>
<!--script-->
<nav th:replace="~{/layoutadmin/script.html}"></nav>
<!--end-->
<script>
    function clearSearch() {
        document.getElementById("searchInput").value = "";
        document.getElementById("statusSelect").selectedIndex = 0;
    }
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var objectsFromController = /*[[${list}]]*/ [];

    // Khai báo và cấu hình Toast của SweetAlert2
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
        }
    });

    // Hàm kiểm tra trùng mã màu sắc
    function validateTrung() {
        var inputMa = document.getElementById("colorInput").value;
        var isMaValid = true;

        // Kiểm tra trùng tên màu sắc
        for (var i = 0; i < objectsFromController.length; i++) {
            var obj = objectsFromController[i];
            var normalizedInput = inputMa.trim().replace(/\s+/g, ' ').toLowerCase();
            var normalizedObjName = obj.ten.trim().replace(/\s+/g, ' ').toLowerCase();

            if (normalizedInput === normalizedObjName) {
                // Hiển thị thông báo toast khi mã màu đã tồn tại
                Toast.fire({
                    icon: 'error',
                    title: 'Mã màu sắc đã tồn tại'
                });
                return false; // Ngăn form được gửi đi
            }
        }

        if (isMaValid) {
            them(); // Gọi hàm thêm nếu dữ liệu hợp lệ
        }
        return false;
    }


    function them() {
        // Sử dụng SweetAlert2 thay vì hộp thoại confirm
        Swal.fire({
            title: 'Bạn có muốn thêm không?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Có',
            cancelButtonText: 'Không'
        }).then((result) => {
            if (result.isConfirmed) {
                // Nếu người dùng nhấn Có, hiển thị thông báo thành công và chuyển hướng sau một khoảng thời gian
                const Toast = Swal.mixin({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    }
                });
                setTimeout(function () {
                    sessionStorage.setItem('successMessage', 'Thêm thành công!');
                    document.addMauSac.submit();
                });
            }
        });
        // Ngăn form được gửi đi ngay lập tức
        return false;
    }
    /*]]>*/
</script>
</body>
</html>

<!--tìm-->
<script>
    // Lắng nghe sự kiện change trong các trường input
    document.getElementById('searchInput').addEventListener('change', function () {
        document.getElementById('searchForm').submit(); // Gửi form khi có sự thay đổi
    });
    document.getElementById('statusSelect').addEventListener('change', function () {
        document.getElementById('searchForm').submit(); // Gửi form khi có sự thay đổi
    });
</script>

<!--cập nhật-->
<script>
    let originalName = ''; // Biến toàn cục để lưu tên ban đầu

    function fillShoeSoleNameMauSac(element) {
        const id = element.getAttribute('data-id');

        // Gọi API để lấy thông tin đế giày
        fetch(`/updateMauSac/${id}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Không thể lấy thông tin màu sắc');
                }
                return response.json();
            })
            .then(data => {
                // Hiển thị thông tin trong modal
                document.getElementById('tenMauSac').value = data.ten || '';
                document.getElementById('mauSacId').value = data.id || id;
                originalName = data.ten || ''; // Lưu tên ban đầu
                checkChanges(); // Kiểm tra thay đổi ban đầu
            })
            .catch(error => {
                console.error('Có lỗi xảy ra:', error);
                alert('Có lỗi xảy ra: ' + error.message);
            });
    }

    function checkChanges() {
        const currentName = document.getElementById('tenMauSac').value.trim();
        const updateButton = document.getElementById('updateButton');
        // So sánh tên hiện tại với tên ban đầu
        if (currentName === originalName) {
            updateButton.disabled = true; // Vô hiệu hóa nút nếu không thay đổi
        } else {
            updateButton.disabled = false; // Kích hoạt nút nếu có thay đổi
        }
    }

    // Thêm sự kiện cho input
    document.getElementById('tenMauSac').addEventListener('input', checkChanges);


    // Thêm hàm cập nhật
    function updateShoeSoleNameMauSac() {
        // Khai báo và cấu hình Toast của SweetAlert2
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });

        const id = document.getElementById('mauSacId').value;
        let ten = document.getElementById('tenMauSac').value;
        // Loại bỏ khoảng trắng ở đầu và cuối và chỉ giữ lại một khoảng trắng giữa các từ
        ten = ten.trim().replace(/\s+/g, ' ');
        const duplicateErrorMessage = document.getElementById('duplicate-error-message');
        // Reset thông báo lỗi
        duplicateErrorMessage.style.display = 'none';
        // Kiểm tra tên trùng
        fetch(`/checkTenMauSac?ten=${encodeURIComponent(ten)}`)
            .then(response => response.json())
            .then(exists => {
                if (exists) {
                    // Hiển thị thông báo toast khi mã màu sắc bị trùng
                    Toast.fire({
                        icon: 'error',
                        title: 'Mã màu sắc không được trùng'
                    });
                    return;
                }
                // Hiển thị xác nhận trước khi cập nhật
                Swal.fire({
                    title: 'Bạn có muốn cập nhật không?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Có',
                    cancelButtonText: 'Không'
                }).then((result) => {
                    if (result.isConfirmed) {
                        const updatedDeGiay = {ten};
                        fetch(`/updateMauSac/${id}`, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(updatedDeGiay),
                        })
                            .then(response => {
                                if (response.ok) {
                                    // Lưu thông báo vào sessionStorage
                                    sessionStorage.setItem('successMessage', 'Cập nhật thành công!');
                                    // Chuyển hướng
                                    window.location.href = '/listMauSac';
                                } else {
                                    throw new Error('Cập nhật thất bại');
                                }
                            })
                            .catch(error => {
                                console.error('Có lỗi xảy ra:', error);
                                alert('Có lỗi xảy ra: ' + error.message);
                            });
                    }
                });
            })
            .catch(error => {
                console.error('Có lỗi xảy ra:', error);
                alert('Có lỗi xảy ra: ' + error.message);
            });
    }
</script>
<!--message1-->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const successMessage = sessionStorage.getItem('successMessage');
        if (successMessage) {
            // Hiển thị thông báo ở góc bên phải màn hình
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });

            Toast.fire({
                icon: 'success',
                title: successMessage
            });

            // Xóa thông báo khỏi sessionStorage sau khi hiển thị
            sessionStorage.removeItem('successMessage');
        }
    });
</script>

<script>
    function confirmUpdateMauSac(form) {
        Swal.fire({
            title: 'Bạn có muốn cập nhật không?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Có',
            cancelButtonText: 'Không',
            // width: '500px',
            customClass: {
                confirmButton: 'custom-confirm-button', // Thêm lớp tùy chỉnh cho nút "Có"
                cancelButton: 'custom-cancel-button'    // Thêm lớp tùy chỉnh cho nút "Không" nếu cần
            }
        }).then((result) => {
            if (result.isConfirmed) {
                // Nếu người dùng nhấn Có, hiển thị thông báo thành công và submit form sau một khoảng thời gian
                const Toast = Swal.mixin({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    }
                });
                setTimeout(function () {
                    // Lưu thông báo vào sessionStorage
                    sessionStorage.setItem('successMessage', 'Cập nhật thành công!');
                    // Submit form cụ thể
                    form.submit();
                }, 500); // Điều chỉnh thời gian delay nếu cần
            }
        });

        // Ngăn form được gửi đi ngay lập tức
        return false;
    }
</script>