<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<nav th:replace="~{/layoutadmin/head.html}"></nav>
<body class="hold-transition sidebar-mini" style="font-family: 'Bahnschrift'">
<div class="wrapper" >
    <!-- Navbar -->
    <nav th:replace="~{/layoutadmin/navbar.html}"></nav>
    <!-- End navbar -->

    <!--Menu bán hàng -->
    <nav th:replace="~{/layoutadmin/menu.html}"></nav>
    <!--end-->

    <!--Nội dung -->
    <div class="content-wrapper"  id="container">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-bookmark-dash-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6 6a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                            </svg>
                            QUẢN LÝ TÀI KHOẢN NHÂN VIÊN
                        </h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!---filter-->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <form  th:action="@{/admin/timkiem}" id="searchForm" method="get">
                                <h3 class="card-title" style="font-weight: bold">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
                                    </svg>
                                    Bộ lọc
                                </h3>
                                <br>
                                    <hr class="border border-danger border opacity-50">
                                        <div class="row g-3">
                                            <div class=" align-items-center col-lg-6 col-md-6">
                                                <div class="col-auto">
                                                    <label class="col-form-label">Tìm kiếm:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <input th:value="${searchInput}" name="searchInput" id="searchInput" type="text" class="form-control"
                                                           placeholder="Nhập tên hoặc sđt">
                                                </div>
                                            </div>
                                            <div class="align-items-center col-lg-6 col-md-6">
                                                <div class="col-auto">
                                                    <label class="col-form-label">Trạng thái:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <select class="form-control" th:value="${searchOption}" name="searchOption" id="searchOption" style="color: rgb(249,72,42);font-weight: bold">
                                                        <option th:selected="${searchOption == '' ? 'true' : 'false'}" value="">Tất cả</option>
                                                        <option th:selected="${searchOption == true ? 'true' : 'false'}" value="true">Làm việc</option>
                                                        <option th:selected="${searchOption == false ? 'true' : 'false'}" value="false">Nghỉ làm</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class=" align-items-center col-lg-6 col-md-6">
                                                <div class="col-auto">
                                                    <label class="col-form-label">Từ:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <input id="batdau" name="batdau"  onkeydown="return false" type="date" class="form-control" th:value="${batdau}">
                                                </div>
                                            </div>
                                            <div class=" align-items-center col-lg-6 col-md-6">
                                                <div class="col-auto">
                                                    <label class="col-form-label">Đến:</label>
                                                </div>
                                                <div class="col-auto">
                                                    <input id="ketthuc" name="ketthuc" type="date" onkeydown="return false" class="form-control" th:value="${ketthuc}">
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    <ul class="notifications"></ul>
                                        <div class="d-flex justify-content-between buttons"
                                             style="margin-right: 35%; margin-left: 35%;">
                                            <button th:if="${adminRole == true}" type="submit" id="searchButton" style="background-color: rgb(249,72,42);color: white" class="btn">Tìm kiếm</button>
                                            <button th:if="${adminRole == true}" type="reset" class="btn btn-dark"  onclick="clearForm()">Làm mới</button>
                                        </div>
                                    </form>
                            </div>

                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title" style="font-weight: bold">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                         class="bi bi-card-list" viewBox="0 0 16 16">
                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                                        <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                                    </svg>
                                    Danh sách nhân viên
                                </h3>
                                <a th:if="${adminRole == true}" th:href="@{/admin/addnhanvien}" class="card-title btn" style="margin-left: 830px;background-color: rgb(249,72,42);color: white">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                    </svg>
                                    Thêm nhân viên</a>
                            </div>

                            <!-- /.card-header -->
                            <div th:unless="${nv}" class="card-body">
                                <table id="example2" style="width: 100%" class="table-bordered table-hover text-center">
                                    <thead style="background-color:rgb(249,72,42);height: 50px;color: white">
                                    <tr>
                                        <th>STT</th>
                                        <th style="white-space: nowrap;">Mã nhân viên</th>
                                        <th style="white-space: nowrap;">Tên nhân viên</th>
                                        <th style="white-space: nowrap;">Số điện thoại</th>
                                        <th style="white-space: nowrap;">Ngày sinh</th>
<!--                                        <th style="white-space: nowrap;">Giới tính</th>-->
                                        <th style="white-space: nowrap;">Địa chỉ</th>
                                        <th>Vai trò</th>
                                        <th style="white-space: nowrap;">Trạng thái</th>
                                        <th style=" white-space: nowrap;">Thao tác</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${items1 == null || items2 == null || #lists.isEmpty(items1) || #lists.isEmpty(items2)}">
                                        <td colspan="9" class="text-center">Không có bản ghi nào</td>
                                    </tr>
                                    <tr th:each="i, iterStat : ${#numbers.sequence(0, #lists.size(items2)-1)}" th:unless="${items1 == null || items2 == null || #lists.isEmpty(items1) || #lists.isEmpty(items2)}">
                                        <td th:text="${iterStat.count}"></td>
                                        <th style="white-space: nowrap;" th:text="${items2[i].manhanvien}"></th>
                                        <td style="white-space: nowrap;" th:text="${items2[i].nguoidung.hovaten}"></td>
                                        <td style="white-space: nowrap;" th:text="${items2[i].nguoidung.sodienthoai}"></td>
                                        <td style="white-space: nowrap;" th:text="${#dates.format(items2[i].nguoidung.ngaysinh, 'dd-MM-yyyy')}"></td>
<!--                                        <td style="white-space: nowrap;" th:text="${items2[i].nguoidung.gioitinh ? 'Nam' : 'Nữ'}"></td>-->
                                        <td><span th:if="${#strings.length(items1[i].tenduong + ' ' + items1[i].xaphuong + ' ' + items1[i].quanhuyen + ' ' + items1[i].tinhthanhpho) > 20}" th:text="${#strings.substring(items1[i].tenduong + ' ' + items1[i].xaphuong + ' ' + items1[i].quanhuyen + ' ' + items1[i].tinhthanhpho, 0, 20)} + '...'"></span>
                                            <span th:unless="${#strings.length(items1[i].tenduong + ' ' + items1[i].xaphuong + ' ' + items1[i].quanhuyen + ' ' + items1[i].tinhthanhpho) > 20}" th:text="${items1[i].tenduong + ' ' + items1[i].xaphuong + ' ' + items1[i].quanhuyen + ' ' + items1[i].tinhthanhpho}"></span></td>
                                        <td th:if="${items2[i].vaitro == true}" style="white-space: nowrap;">
                                            <b class="badge badge-secondary" style="width: 70px">Quản lý</b>
                                        </td>
                                        <td th:unless="${items2[i].vaitro}" style="white-space: nowrap;">
                                            <a th:href="@{/updatevaitro/{id}(id=${items2[i].nguoidung.id})}"
                                               class="badge badge-warning updateVaiTro" style="width: 70px;text-decoration: none">Nhân viên</a>
                                        </td>
                                        <td th:if="${items2[i].trangthai == true}" style="white-space: nowrap;">
                                            <a th:href="@{/updatetrangthai/{id}(id=${items2[i].nguoidung.id})}"
                                               class="badge badge-success updateTrangThai" style="width: 70px;text-decoration: none">Làm việc</a>
                                        </td>
                                        <td th:unless="${items2[i].trangthai}" style="white-space: nowrap;">
                                            <a th:href="@{/updatetrangthai/{id}(id=${items2[i].nguoidung.id})}"
                                               class="badge badge-danger updateTrangThai" style="width: 70px;text-decoration: none">Nghỉ làm</a>
                                        </td>
                                        <td style="white-space: nowrap; " >
                                            <a th:href="@{/updateNhanVien/{id}(id=${items2[i].nguoidung.id})}" style="color:rgb(249,72,42);">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                     fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    </tfoot>
                                </table>
                            </div>

                            <div th:if="${nv}" class="card-body">
                                <table id="example3" style="width: 100%" class="table-bordered table-hover text-center">
                                    <thead style="background-color:rgb(249,72,42);height: 50px;color: white">
                                    <tr>
                                        <th>STT</th>
                                        <th style="white-space: nowrap;">Mã nhân viên</th>
                                        <th style="white-space: nowrap;">Tên nhân viên</th>
                                        <th style="white-space: nowrap;">Số điện thoại</th>
                                        <th style="white-space: nowrap;">Ngày sinh</th>
                                        <!--                                        <th style="white-space: nowrap;">Giới tính</th>-->
                                        <th style="white-space: nowrap;">Địa chỉ</th>
                                        <th>Vai trò</th>
                                        <th style="white-space: nowrap;">Trạng thái</th>
                                        <th style=" white-space: nowrap;">Thao tác</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="nv,stt:${nv}">
                                        <td th:text="${stt.index+1}"></td>
                                        <td style="white-space: nowrap; padding: 10px 0 10px 0" th:text="${nv.manhanvien}"></td>
                                        <td style="white-space: nowrap; padding: 10px 0 10px 0" th:text="${nv.hovaten}"></td>
                                        <td style="white-space: nowrap; padding: 10px 0 10px 0" th:text="${nv.sdt}"></td>
                                        <td style="white-space: nowrap; padding: 10px 0 10px 0" th:text="${#dates.format(nv.ngaysinh, 'dd-MM-yyyy')}"></td>
                                        <!--                                        <td style="white-space: nowrap;" th:text="${items2[i].nguoidung.gioitinh ? 'Nam' : 'Nữ'}"></td>-->
                                        <td style="padding: 10px 0 10px 0"><span th:if="${#strings.length(nv.tenduong + ' ' + nv.xaphuong + ' ' + nv.quanhuyen + ' ' + nv.tinhthanh) > 20}" th:text="${#strings.substring(nv.tenduong + ' ' + nv.xaphuong + ' ' + nv.quanhuyen + ' ' + nv.tinhthanh, 0, 20)} + '...'"></span>
                                            <span th:unless="${#strings.length(nv.tenduong + ' ' + nv.xaphuong + ' ' + nv.quanhuyen + ' ' + nv.tinhthanh) > 20}" th:text="${nv.tenduong + ' ' + nv.xaphuong + ' ' + nv.quanhuyen + ' ' + nv.tinhthanh}"></span></td>
                                        <td th:if="${nv.vaitro == true}" style="white-space: nowrap; padding: 10px 0 10px 0">
                                            <b class="badge badge-secondary" style="width: 70px">Quản lý</b>
                                        </td>
                                        <td th:unless="${nv.vaitro}" style="white-space: nowrap; padding: 10px 0 10px 0">
                                            <a class="badge badge-warning" style="width: 70px;text-decoration: none">Nhân viên</a>
                                        </td>
                                        <td th:if="${nv.trangthai == true}" style="white-space: nowrap; padding: 10px 0 10px 0">
                                            <a class="badge badge-success" style="width: 70px;text-decoration: none">Làm việc</a>
                                        </td>
                                        <td th:unless="${nv.trangthai}" style="white-space: nowrap; padding: 10px 0 10px 0">
                                            <a class="badge badge-danger" style="width: 70px;text-decoration: none">Nghỉ làm</a>
                                        </td>
                                        <td style="white-space: nowrap; " >
                                            <a th:href="@{/updateNhanVien/{id}(id=${nv.id})}" style="color:rgb(249,72,42); padding: 10px 0 10px 0">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                     fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!--end-->
    <nav th:replace="~{/layoutadmin/footer.html}"></nav>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/jsqr"></script>
<!--script-->
<script>
    function clearForm() {
        // Lấy ra form theo id
        window.location.href = 'qlnhanvien';
    }
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var success = /*[[${success}]]*/ false;
    /*]]>*/
    if (success === true) {
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 1000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });

        Toast.fire({
            icon: "success",
            title: "Cập nhật thành công!"
        });
    }

    async function themthanhcong() {
        const response = await fetch('/them-thanh-cong');
        const data = await response.json();
        console.log(data);
        if (data === 1) {
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 1000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });

            Toast.fire({
                icon: "success",
                title: "Thêm thành công!"
            }).then(async () => {
                // Xóa session sau khi hiển thị thông báo
                await fetch('/clear-session', { method: 'POST' });
            });
        }
    }
    themthanhcong();

    async function capnhatthanhcong() {
        const response = await fetch('/cap-nhat-thanh-cong');
        const data = await response.json();
        console.log(data);
        if (data === 1) {
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 1000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });

            Toast.fire({
                icon: "success",
                title: "Cập nhật thành công!"
            }).then(async () => {
                // Xóa session sau khi hiển thị thông báo
                await fetch('/clear-session', { method: 'POST' });
            });
        }
    }
    capnhatthanhcong();
</script>
<script>
    var updateTrangThai = document.getElementsByClassName('updateTrangThai');
    for (let i = 0; i < updateTrangThai.length; i++) {
        updateTrangThai[i].addEventListener('click', function (event) {
            event.preventDefault();
            Swal.fire({
                title: 'Bạn có muốn thay đổi trạng thái không?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Có',
                cancelButtonText: 'Không'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = event.target.href;
                }
            });
            return false;
        });
    }
    var updateVaiTro = document.getElementsByClassName('updateVaiTro');
    for (let i = 0; i < updateVaiTro.length; i++) {
        updateVaiTro[i].addEventListener('click', function (event) {
            event.preventDefault();
            Swal.fire({
                title: 'Bạn muốn thay đổi nhân viên lên quản lý không?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Có',
                cancelButtonText: 'Không'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = event.target.href;
                }
            });
            return false;
        });
    }
</script>
<nav th:replace="~{/layoutadmin/script.html}"></nav>
<!--end-->
</body>
</html>
