<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<style>
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    .chartMenu {
        width: 100vw;
        height: 40px;
        background: #1A1A1A;
        color: rgba(54, 162, 235, 1);
    }

    .chartMenu p {
        padding: 10px;
        font-size: 20px;
    }

    .chartCard {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .chartBox {
        width: 100%;
        padding: 100px;
        border-radius: 20px;
        background: white;
    }
    .chartBox1 {
        width: 100%;
    }
    .ten {
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
    }
    /* Override the active pagination button style */
    .dataTables_wrapper .dataTables_paginate .paginate_button.active {
        background-color: #007bff !important; /* Change to your desired color */
        border-color: #007bff !important; /* Change to your desired border color */
        color: white !important; /* Change to your desired text color */
        box-shadow: none !important; /* Remove any box-shadow */
        margin: 0 !important; /* Set margin to zero */
        padding: 0 !important; /* Set padding to zero */
    }

    /* Override the other pagination buttons */
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        margin: 0 !important; /* Set margin to zero */
        padding: 0 !important; /* Set padding to zero */
        border: none !important; /* Remove border */
    }

    /* Remove border on hover */
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        border: none !important; /* Remove border on hover */
        background-color: transparent !important; /* Optional: Make the background transparent */
    }

    /* Additional styling to ensure consistency */
    .dataTables_wrapper .dataTables_paginate .paginate_button.active:hover {
        background-color: #0056b3 !important; /* Change to your desired hover color */
        border-color: #0056b3 !important; /* Change to your desired border color */
        color: white !important; /* Ensure text color remains consistent */
        border: none !important; /* Remove border on hover for active button */
    }


</style>
<nav th:replace="~{/layoutadmin/head.html}"></nav>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
<body class="hold-transition sidebar-mini layout-fixed" style="font-family: 'Bahnschrift'">

<div class="wrapper">
    <!-- Ban đầu mở là hiển thị logo thương hiệu -->
<!--    <div class="preloader flex-column justify-content-center align-items-center">-->
<!--        <img class="animation__shake" src="../dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">-->
<!--    </div>-->
    <!-- end -->

    <!-- navbar-->
    <nav th:replace="~{/layoutadmin/navbar.html}"></nav>
    <!-- End navbar -->

    <!--menu bán hàng -->
    <nav th:replace="~{/layoutadmin/menu.html}"></nav>
    <!--end menu -->


    <!-- narbar home/thongke -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1 style="text-align: center; font-weight: bolder; margin-top: 10px">THỐNG KÊ</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->


        <!-- Nội dung thống kê -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row ">
                    <div class="col-lg-1 col-6"></div>
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-white">
                            <div class="inner">
                                <h4>Doanh số tháng này</h4>
                                <p style="color: #c87f0a;"><span th:text="${slhdtt}"></span> đơn hàng / <span th:text="${#numbers.formatDecimal(ttt, 0, 'COMMA', 0, 'POINT')+'&#x20ab;'}"></span> </p>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-white">
                            <div class="inner">
                                <h4>Doanh số hôm nay</h4>
                                <p style="color: #c87f0a;"><span th:text="${slhdtn}"></span> đơn hàng / <span th:text="${#numbers.formatDecimal(ttn, 0, 'COMMA', 0, 'POINT')+'&#x20ab;'}"></span> </p>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-4 col-6">
                        <!-- small box -->
                        <div class="small-box bg-white">
                            <div class="inner">
                                <h4>Hàng bán được tháng này</h4>
                                <p style="color: #c87f0a;"><span th:text="${sptt}"></span> sản phẩm</p>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-lg-4 col-6"></div>
                    <div class="d-flex justify-content-center ">
                        <button type="button" class="btn active  btn-lg" id="excel">Xuất Excel</button>
<!--                        <button type="button" class="btn active btn-lg">Bộ lọc</button>-->
                        <button type="button" class="btn active btn-lg" id="7day">7 ngày trước</button>
                        <button type="button" class="btn active btn-lg" id="thang">Tháng</button>
                        <button type="button" class="btn active btn-lg" id="nam">Năm</button>
                        <button type="button" class="btn active btn-lg"  data-bs-toggle="modal" data-bs-target="#exKhoangNgay" >Tùy chỉnh</button>
                    </div>
                </div>
                <div class="row"></div>
                <div class="chartCard">
                    <div class="chartBox">
                        <p class="ten">Biểu đồ thống kê hóa đơn và sản phẩm</p>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
                <div class="row" style="padding: 10px">
                    <div class="col-lg-6 col-6" >
                        <div class="col-lg-12 col-6 bg-white">
                            <p class="ten" style="margin-top: 10px">Top sản phẩm bán chạy tháng này</p>
                            <table id="example3" class="table table-bordered table-hover text-center">
                                <thead class="table table-danger">
                                <tr>
                                    <th style="vertical-align: middle; text-align: center;">STT</th>
                                    <th style="vertical-align: middle; text-align: center;">Mã SP</th>
                                    <th style="vertical-align: middle; text-align: center;">Tên SP</th>
                                    <th style="vertical-align: middle; text-align: center;">Giá bán</th>
                                    <th style="vertical-align: middle; text-align: center;">Số lượng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="data,stt : ${sp}">
                                    <td style="white-space: nowrap; vertical-align: middle; text-align: center;" th:text="${stt.index + 1}"></td>
                                    <td style="white-space: nowrap; vertical-align: middle; text-align: center;" th:text="${data[0]}"></td>
                                    <td style="vertical-align: middle; text-align: center;" th:text="${data[1]}"></td>
                                    <td style="white-space: nowrap; vertical-align: middle; text-align: center;" th:text="${#numbers.formatDecimal(data[2], 0, 'COMMA', 0, 'POINT')+'&#x20ab;'}"></td>
                                    <td style="white-space: nowrap; vertical-align: middle; text-align: center;" th:text="${data[3]}"></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-lg-12 col-6 bg-white">
                        <p class="ten" style="margin-top: 10px">Sản phẩm sắp hết hàng</p>
                        <table id="example4" class="table table-bordered table-hover text-center">
                            <thead class="table table-danger">
                            <tr>
                                <th style="vertical-align: middle; text-align: center;">STT</th>
                                <th style="vertical-align: middle; text-align: center;">Mã SP</th>
                                <th style="vertical-align: middle; text-align: center;">Tên SP</th>
                                <th style="vertical-align: middle; text-align: center;">Giá bán</th>
                                <th style="vertical-align: middle; text-align: center;">Số lượng</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data,stt : ${slt}">
                                <td style="vertical-align: middle; text-align: center;" th:text="${stt.index + 1}"></td>
                                <td style="white-space: nowrap; vertical-align: middle; text-align: center;" th:text="${data[0]}"></td>
                                <td style="vertical-align: middle; text-align: center;" th:text="${data[1]}"></td>
                                <td style="white-space: nowrap; vertical-align: middle; text-align: center;" th:text="${#numbers.formatDecimal(data[2], 0, 'COMMA', 0, 'POINT')+'&#x20ab;'}"></td>
                                <td style="white-space: nowrap; vertical-align: middle; text-align: center;" th:text="${data[3]}"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                        </div>
                    </div>
                    <div class="col-lg-6 col-6">
                        <div class="col-lg-12 col-6 bg-white">
                            <p class="ten" style="margin-top: 10px">Trạng thái đơn hàng tháng này</p>
                            <div class="chartCard1">
                                <div class="chartBox1">
                                    <canvas id="myChart1"></canvas>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12 col-6 bg-white">
                            <p class="ten" style="margin-top: 10px">Tốc độ tăng trưởng của cửa hàng</p>
                            <div class="small-box bg-dark" style="padding: 5px; margin-top: 5px">
                                <div class="row" style="margin-top: 10px">
                                    <p class="col-lg-5"><svg style="margin-right: 15px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                                        <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5"/>
                                    </svg>Doanh thu ngày</p>
                                    <p  class="col-lg-4"><span th:text="${#numbers.formatDecimal(ttdsn, 0, 'COMMA', 0, 'POINT')+'&#x20ab;'}"></span></p>
                                    <p class="col-lg-3"><svg style="margin-right: 10px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07"/>
                                    </svg>  <span th:text="${ptdsn}"></span> %</p>
                                </div>
                            </div>
                            <div class="small-box bg-dark" style="padding: 5px;">
                                <div class="row" style="margin-top: 10px">
                                    <p class="col-lg-5"><svg style="margin-right: 15px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                                        <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5"/>
                                    </svg>Doanh thu tháng</p>
                                    <p  class="col-lg-4"><span th:text="${#numbers.formatDecimal(ttdst, 0, 'COMMA', 0, 'POINT')+'&#x20ab;'}"></span></p>
                                    <p class="col-lg-3"><svg style="margin-right: 10px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07"/>
                                    </svg> <span th:text="${ptdst}"></span> %</p>
                                </div>
                            </div>
                            <div class="small-box bg-dark" style="padding: 5px;">
                                <div class="row" style="margin-top: 10px">
                                    <p class="col-lg-5"><svg style="margin-right: 15px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                                        <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5"/>
                                    </svg>Sản phẩm ngày</p>
                                    <p  class="col-lg-4"><span th:text="${ttspn}"></span> sản phẩm</p>
                                    <p class="col-lg-3"><svg style="margin-right: 10px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07"/>
                                    </svg>  <span th:text="${ptspn}"></span> %</p>
                                </div>
                            </div>
                            <div class="small-box bg-dark" style="padding: 5px;">
                                <div class="row" style="margin-top: 10px">
                                    <p class="col-lg-5"><svg style="margin-right: 15px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                                        <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5"/>
                                    </svg>Sản phẩm tháng</p>
                                    <p  class="col-lg-4"><span th:text="${ttspt}"></span> sản phẩm</p>
                                    <p class="col-lg-3"><svg style="margin-right: 10px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07"/>
                                    </svg> <span th:text="${ptspt}"></span> %</p>
                                </div>
                            </div>
                            <div class="small-box bg-dark" style="padding: 5px;">
                                <div class="row" style="margin-top: 10px">
                                    <p class="col-lg-5"><svg style="margin-right: 15px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                                        <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5"/>
                                    </svg>Hóa đơn ngày</p>
                                    <p  class="col-lg-4"><span th:text="${tthdn}"></span> hóa đơn</p>
                                    <p class="col-lg-3"><svg style="margin-right: 10px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07"/>
                                    </svg>  <span th:text="${pthdn}"></span> %</p>
                                </div>
                            </div>
                            <div class="small-box bg-dark" style="padding: 5px;">
                                <div class="row" style="margin-top: 10px">
                                    <p class="col-lg-5"><svg style="margin-right: 15px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                                        <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5"/>
                                    </svg>Hóa đơn tháng</p>
                                    <p  class="col-lg-4"><span th:text="${tthdt}"></span> hóa đơn</p>
                                    <p class="col-lg-3"><svg style="margin-right: 10px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07"/>
                                    </svg>  <span th:text="${pthdt}"></span> %</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <!-- Main row -->

                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!--end-->

        <div class="modal fade" id="exKhoangNgay" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="dateRangeForm" method="get">
                            <div class="align-items-center col-lg-12 col-md-12">
                                <div class="col-auto">
                                    <label class="col-form-label">Từ:</label>
                                </div>
                                <div class="col-auto">
                                    <input type="date" onkeydown="return false" name="startDate" id="startDate" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <p style="color: red; font-weight: initial;" id="errorStart"></p>
                                </div>
                            </div>
                            <div class="align-items-center col-lg-12 col-md-12">
                                <div class="col-auto">
                                    <label class="col-form-label">Đến:</label>
                                </div>
                                <div class="col-auto">
                                    <input type="date" onkeydown="return false" name="endDate" id="endDate" class="form-control">
                                </div>
                                <div class="col-auto">
                                    <p style="color: red; font-weight: initial;" id="errorEnd"></p>
                                </div>
                            </div>
                            <div>
                                <button type="submit" style="margin-top: 10px" class="btn btn-primary">Lọc</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end -->
    <nav th:replace="~{/layoutadmin/footer.html}"></nav>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/chart.js-plugin-labels-dv/dist/chartjs-plugin-labels.min.js"></script>
<nav th:replace="~{/layoutadmin/script.html}"></nav>
<script th:inline="javascript">
    const dayData = /*[[${dayData}]]*/ '[]';
    const thangData = /*[[${thangData}]]*/ '[]';
    const namData = /*[[${namData}]]*/ '[]';

    console.log('hihi')
    // console.log(kData)
    const tenBD = dayData.map(function (item) {
        return item.label;
    });

    const spBD = dayData.map(function (item) {
        return item.sp;
    });
    const hdBD = dayData.map(function (item) {
        return item.hd;
    });
    const data = {
        labels: tenBD,
        datasets: [{
            label: ['Sản phẩm'],
            data: spBD,
            backgroundColor: [
                'rgba(255, 152, 0)',
            ],
            borderWidth: 1
        }, {
            label: ['Hóa đơn'],
            data: hdBD,
            backgroundColor: [
                'rgba(44, 120, 101)',
            ],
            borderWidth: 1
        }]
    };
    const verticalPeformanceArrows = {
        id: 'verticalPeformanceArrows',
        afterDatasetsDraw(chart, args, plugins) {
            const {
                ctx,
                data,
                chartArea: {
                    top
                },
                scales: {
                    x,
                    y
                }
            } = chart;
            ctx.save();
            ctx.beginPath();
            ctx.fillStyle = 'red';
            ctx.moveTo(x.getPixelForValue(0), top + 15);
            ctx.lineTo(x.getPixelForValue(0) - 7.5, top);
            ctx.closePath();
            ctx.fill();
        }
    };
    const yScaleTopLeble = {
        id: 'yScaleTopLeble',
        afterDatasetsDraw(chart, args, plugins) {
            const {
                ctx,
                scales: {
                    y
                }
            } = chart;
            const yCenter = (y.right - 8) / 2;
            ctx.save();
            ctx.font = 'bold 20px sans-serif';
            ctx.textAlign = 'center';
            ctx.textBaseLine = 'bottom';
            ctx.fillText('S', yCenter, y.top - 10);
        }
    };

    // config
    const config = {
        type: 'bar',
        data,
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    grace: 5, // Khoảng trống giữa giá trị lớn nhất và đỉnh trục y
                    grid: {
                        display: false // ẩn dòng kẻ trên trục y
                    },
                    title: {
                        display: true, // hiển thị tiêu đề trục y

                        text: 'số lượng', // tiêu đề trục y
                        font: {
                            size: 20, // kích thước chữ
                            family: 'sans-serif', // kiểu chữ
                        }
                    },
                    ticks: {
                        stepSize: 20 // Khoảng cách giữa các đơn vị trên trục y
                    }
                },
                x: {
                    grid: {
                        display: false // ẩn dòng kẻ trên trục x
                    }
                }
            },
            plugins: [verticalPeformanceArrows, yScaleTopLeble]
        }
    };

    // render init block
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );

    function updateChart(newData) {
        if (Array.isArray(newData) && newData.length > 0) {
            const ten = newData.map(item => item.label);
            const sp = newData.map(item => item.sp);
            const hd = newData.map(item => item.hd);
            // Tiếp tục xử lý dữ liệu và cập nhật biểu đồ
            myChart.data.datasets[0].data = sp;
            myChart.data.datasets[1].data = hd;
            myChart.data.labels = ten;
            myChart.update();
        } else {
            console.error('Invalid newData:', newData);
            // Xử lý khi không có dữ liệu hợp lệ
        }
    }

    // Event listeners for buttons
    document.getElementById('7day').addEventListener('click', () => {
        updateChart(dayData);
    });

    document.getElementById('thang').addEventListener('click', () => {
        updateChart(thangData);
    });

    document.getElementById('nam').addEventListener('click', () => {
        updateChart(namData);
    });
    function validateForm() {
        var startDate = document.getElementById("startDate").value;
        var errorS=document.getElementById("errorStart");
        var isSValid = true;
        var endDate = document.getElementById("endDate").value;
        var errorE=document.getElementById("errorEnd");
        var isEValid = true;

        if (startDate === "") {
            errorS.innerText = "Không được để trống ngày";
            isSValid = false;
            return false;
        }
            if(endDate === ""){
            errorE.innerText = "Không được để trống ngày";
            isEValid = false;
            return false;
        }
        if(startDate && endDate){
            if(startDate > endDate){
            errorE.innerText = "Khoảng ngày không hợp lệ";
            isSValid = false;
            isEValid = false;
            return false;
        }}
        if(isSValid){
            document.getElementById("startDate").style.border="";
            errorS.innerText = "";
        }
        if(isEValid){
            document.getElementById("endDate").style.border="";
            errorE.innerText = "";
        }

        return true;
    }

    $('#dateRangeForm').on('submit', function(event) {
        event.preventDefault();
        if (!validateForm()) {
            return; // Nếu form không hợp lệ, không thực hiện AJAX request
        }
        const formData = $(this).serialize();  // Serialize form data
        const url = '/admin/qlthongkee?' + formData;

        $.ajax({
            type: 'GET',
            url: url,
            success: function(data) {
                console.log('Received data:', data.knData);
                updateChart(data.knData);  // Update chart with received data
                $('#exKhoangNgay').modal('hide');  // Close modal using jQuery
            },
            error: function(xhr, status, error) {
                console.error('AJAX request error:', error);
            }
        });
    });

</script>
<!--</script>-->
<script th:inline="javascript">
    const chartData = /*[[${bdTron}]]*/ '[]';
    console.log(chartData);
    if (Array.isArray(chartData)) {
        // Tạo labels và values từ chartData
        const labels = chartData.map(function (item) {
            return item.label;
        });

        const values = chartData.map(function (item) {
            return item.value;
        });

        // Hiển thị labels và values để kiểm tra
        console.log(labels);
        console.log(values);

        const data1 = {
            labels: labels,
            datasets: [{
                // label: 'Weekly Sales',
                data: values,
                backgroundColor: [
                    'rgba(255, 26, 104, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(248, 199, 148)',
                ],
                borderWidth: 1
            }]
        };
        const configs = {
            type: 'pie',
            data: data1,
            options: {
                plugins: {
                    labels: {
                        render: 'percentage',
                        fontStyle: 'bolder'
                    }
                }
            },
        };
        const myChart1 = new Chart(
            document.getElementById('myChart1'),
            configs
        );
    }
</script>
<script>
    document.getElementById('excel').addEventListener('click', function() {
        // Gửi yêu cầu xuất Excel bằng Ajax
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/export-excel', true);
        xhr.responseType = 'blob';  // Để nhận file nhị phân

        xhr.onload = function() {
            if (xhr.status === 200) {
                // Tạo một đường link để tải file về
                var blob = xhr.response;
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = 'doanhthu.xlsx';  // Tên file muốn tải về
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        };

        xhr.send();
    });
</script>
</body>

</html>


