<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<nav th:replace="~{/layoutadmin/head.html}"></nav>
<style>

    .btn-custom-warning {
        background-color: rgb(221, 100, 0);
        color: #fff;
        border-color: rgb(60, 179, 113);
    }

    .btn-custom-info {
        background-color: rgb(86, 100, 234);
        color: #fff;
        border-color: rgb(60, 179, 113);
    }
</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <nav th:replace="~{/layoutadmin/navbar.html}"></nav>
    <!-- End navbar -->

    <!--Menu bán hàng -->
    <nav th:replace="~{/layoutadmin/menu.html}"></nav>
    <!--end-->

    <!--Nội dung -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-bookmark-dash-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6 6a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                            </svg>
                            QUẢN LÝ THƯƠNG HIỆU
                        </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">QUẢN LÝ THƯƠNG HIỆU</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!---filter-->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
                                    </svg>
                                    Bộ lọc
                                </h3>
                                <br>
                                <form method="get" th:object="${tim}">
                                    <h3 class="card-title">Tìm kiếm:
                                        <input type="text" id="searchInput" placeholder="Tìm kiếm thương hiệu" class="form-control" name="key">
                                    </h3>

                                    <h3 class="card-title" style="margin-left: 20px">Trạng thái:
                                        <select class="form-control" id="statusSelect" name="trangthai" style="color:rgb(86,158,43)">
                                            <option value="">-----</option>
                                            <option value="1" style="color:rgb(86,158,43)">Đang kinh doanh</option>
                                            <option value="0" style="color:rgb(86,158,43)">Ngừng kinh doanh</option>
                                        </select>
                                    </h3>
                                    <br>
                                    <br>
                                    <br>
                                    <button type="submit" style="margin-left: 100px" class="btn btn-primary">Tìm kiếm</button>
                                    <input type="button" class="btn btn-danger" value="Làm mới bộ lọc" onclick="clearSearch()" />
                                </form>
                            </div>

                        </div>
                        <!-- /.card -->


                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                         class="bi bi-card-list" viewBox="0 0 16 16">
                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                                        <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                                    </svg>
                                    Danh sách thương hiệu
                                </h3>
                                <a class="card-title btn btn-primary" style="margin-left: 850px" data-bs-toggle="modal" data-bs-target="#themthuonghieu">Thêm</a>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="themthuonghieu" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm thương hiệu</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="addForm" th:method="post" th:object="${thuonghieu}" th:action="@{/addSaveThuongHieu}">
                                                <p>
                                                    Tên đế giày:
                                                    <input id="tenInput" class="form-control" th:field="*{ten}"/>
                                                </p>
                                                <p>
                                                    Trạng thái:
                                                    <select id="trangthaiSelect" class="form-control" th:field="*{trangthai}">
                                                        <option value="1">Đang kinh doanh</option>
                                                        <option value="0">Ngừng kinh doanh</option>
                                                    </select>
                                                </p>
                                                <button id="submitButton" class="btn btn-primary">Thêm</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover text-center">
                                    <thead class="table table-danger">
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên thương hiệu</th>
                                        <th>Người tạo</th>
                                        <th>Ngày tạo</th>
                                        <th>Trạng thái</th>
                                        <th>Hành động</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="th,stt:${page.content}">
                                        <td th:text="${stt.index+1}"></td>
                                        <td th:text="${th.ten}"></td>
                                        <td th:text="${th.nguoitao}"></td>
                                        <td th:text="${#dates.format(th.ngaytao, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                        <td>
                                            <button style="border-radius: 50px"
                                                    class="btn btn-xs custom-button no-border-button"
                                                    th:classappend="${th.trangthai ? 'btn-custom-info' : 'btn-custom-warning'}"
                                                    th:text="${th.trangthai ? 'Đang kinh doanh' : 'Ngừng kinh doanh'}"></button>
                                        </td>


                                        <td>
                                            <a class="btn btn-outline-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                     fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>

                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->


                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!--end-->
    <nav th:replace="~{/layoutadmin/footer.html}"></nav>
</div>
<!--script-->
<nav th:replace="~{/layoutadmin/script.html}"></nav>
<!--end-->
<script>
    function clearSearch() {
        document.getElementById("searchInput").value = "";
        document.getElementById("statusSelect").selectedIndex = 0;
    }
</script>
</body>
</html>
