<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<nav th:replace="~{/layoutadmin/head.html}"></nav>
<script src="../sweetalert2/dist/sweetalert2.min.js/"></script>
<link rel="stylesheet" type="text/css" href="../sweetalert2/dist/sweetalert2.min.css">
<style>
    .file-input-wrapper {
        position: relative;
        width: 200px; /* Độ rộng và chiều cao của hình tròn */
        height: 200px;
        border: 1px dashed #007bff; /* Viền bo có nét đứt màu xanh dương */
        border-radius: 50%; /* Tạo hình tròn */
        overflow: hidden;
    }

    .file-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .file-input-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Arial, sans-serif; /* Font chữ */
        font-size: 16px; /* Kích thước văn bản */
        color: black; /* Màu văn bản */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .file-input-label span {
        margin-top: 5px;
    }

    #uploadedImage {
        width: 100%; /* Kích thước hình ảnh sẽ phù hợp với kích thước của ô tròn */
        height: 100%;
        border-radius: 50%; /* Hình ảnh sẽ được làm tròn */
    }
    #uploadedImage1 {
        width: 100%; /* Kích thước hình ảnh sẽ phù hợp với kích thước của ô tròn */
        height: 100%;
        border-radius: 50%; /* Hình ảnh sẽ được làm tròn */
    }
</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper" >
    <!-- Navbar -->
    <nav th:replace="~{/layoutadmin/navbar.html}"></nav>
    <!-- End navbar -->

    <!--Menu bán hàng -->
    <nav th:replace="~{/layoutadmin/menu.html}"></nav>
    <!--end-->

    <!--Nội dung -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-bookmark-dash-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6 6a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                            </svg>
                            CẬP NHẬT NHÂN VIÊN
                        </h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!---filter-->
        <br>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <section class="content">
                                    <div class="container">
                                        <form th:method="post"  id="addForm" th:object="${nd}" th:action="@{/updateNhanVien/{id}(id=${nd.id})}" enctype="multipart/form-data" onsubmit="return validate(event)">
                                            <section class="content">
                                                <div class="row">
                                                    <h1 class="text-center">
                                                        Ảnh đại diện
                                                    </h1>
                                                </div>
                                                <div class=" d-flex justify-content-center align-items-center">
                                                    <div class="file-input-wrapper">
                                                        <input type="file" id="fileInput" class="file-input" name="anh">
                                                        <label for="fileInput" class="file-input-label">
                                                        </label>
                                                        <img id="uploadedImage"  src="" alt="Uploaded Image" style="display: none;">
                                                        <img id="uploadedImage1" th:if="*{anh != null}" th:src="@{'/upload' + *{anh.substring(anh.lastIndexOf('upload') + 6)}}">
                                                    </div>
                                                </div>
                                            </section>
                                            <div class="d-flex">
                                                <div class="align-items-center col-lg-6 col-md-6">
                                                    <div class="col-auto">
                                                        <label class="col-form-label">Tên nhân viên:</label>
                                                    </div>
                                                    <div class="col-auto">
                                                        <input placeholder="Tên nhân viên" id="inputTen" name="name" th:field="*{hovaten}" th:errorclass="is-invalid" class="form-control">
                                                    </div>
                                                    <div class="col-auto">
                                                        <p style="color: red; font-weight: initial;" id="errorTen"></p>
                                                    </div>
                                                </div>
                                                <div class="align-items-center col-lg-6 col-md-6">
                                                    <div class="col-auto">
                                                        <label class="col-form-label">Ngày sinh:</label>
                                                    </div>
                                                    <div class="col-auto">
                                                        <input class="form-control" id="inputNgSinh"  onkeydown="return false" type="date" th:field="*{ngaysinh}"  placeholder="dd/MM/yyyy" th:errorclass="is-invalid">
                                                    </div>
                                                    <div class="col-auto">
                                                        <p style="color: red; font-weight: initial;" id="errorNgSinh"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="align-items-center col-lg-6 col-md-6">
                                                    <div class="col-auto">
                                                        <label class="col-form-label">Căn cước công dân:</label>
                                                    </div>
                                                    <div class="col-auto">
                                                        <input class="form-control" placeholder="Căn cước công dân" id="inputCCCD" name="citizenID" th:field="*{cccd}" th:errorclass="is-invalid">
                                                    </div>
                                                    <div class="col-auto">
                                                        <p style="color: red; font-weight: initial;" id="errorCCCD"></p>
                                                    </div>
                                                </div>
                                                <div class="align-items-center col-lg-6 col-md-6">
                                                    <div class="col-auto">
                                                        <label class="col-form-label">Giới tính:</label>
                                                    </div>
                                                    <div class="col-auto">
                                                        <input type="radio" value="true" id="radioGT" th:field="*{gioitinh}" style="margin-top: 10px">Nam
                                                        <input type="radio" value="false" th:field="*{gioitinh}" style="margin-left: 10px;margin-top: 10px">Nữ
                                                    </div>
                                                    <div class="col-auto">
                                                        <p th:if="${#fields.hasErrors('gioitinh')}" class="error" th:errors="*{gioitinh}" style="width: 500px; color: red"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="align-items-center col-lg-6 col-md-6">
                                                    <div class="col-auto">
                                                        <label class="col-form-label">Email:</label>
                                                    </div>
                                                    <div class="col-auto">
                                                        <input class="form-control" id="inputEmail" placeholder="Email" th:field="*{email}" th:errorclass="is-invalid">
                                                    </div>
                                                    <div class="col-auto">
                                                        <p style="color: red; font-weight: initial;" id="errorEmail"></p>
                                                    </div>
                                                </div>
                                                <div class="align-items-center col-lg-6 col-md-6">
                                                    <div class="col-auto">
                                                        <label class="col-form-label">Số điện thoại:</label>
                                                    </div>
                                                    <div class="col-auto">
                                                        <input class="form-control" id="inputSdt" placeholder="Số điện thoại" th:field="*{sodienthoai}" th:errorclass="is-invalid">
                                                    </div>
                                                    <div class="col-auto">
                                                        <p style="color: red; font-weight: initial;" id="errorSdt"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div th:object="${dc}">
                                                <div class="d-flex">
                                                    <div class="align-items-center col-lg-6 col-md-6">
                                                        <div class="col-auto">
                                                            <label class="col-form-label">Tỉnh/Thành phố:</label>
                                                        </div>
                                                        <div class="col-auto">
                                                            <select class="form-control form-select form-select-sm mb-3" id="city" th:field="*{tinhthanhpho}"  aria-label=".form-select-sm">
                                                                <option value="" th:text="*{tinhthanhpho}" th:value="*{tinhthanhpho}" selected>Chọn tỉnh thành</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-auto">
                                                            <p style="color: red; font-weight: initial;" id="errorTinh"></p>
                                                        </div>
                                                    </div>
                                                    <div class="align-items-center col-lg-6 col-md-6">
                                                        <div class="col-auto">
                                                            <label class="col-form-label">Quận/Huyện:</label>
                                                        </div>
                                                        <div class="col-auto">
                                                            <select class="form-control form-select form-select-sm mb-3" id="district"  th:field="*{quanhuyen}" aria-label=".form-select-sm">
                                                                <option value="" th:text="*{quanhuyen}" th:value="*{quanhuyen}" selected>Chọn quận huyện</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-auto">
                                                            <p style="color: red; font-weight: initial;" id="errorQuan"></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="d-flex">
                                                    <div class="align-items-center col-lg-6 col-md-6">
                                                        <div class="col-auto">
                                                            <label class="col-form-label">Xã/Phường:</label>
                                                        </div>
                                                        <div class="col-auto">
                                                            <select class="form-control form-select form-select-sm" id="ward"  th:field="*{xaphuong}" aria-label=".form-select-sm">
                                                                <option value="" th:text="*{xaphuong}" th:value="*{xaphuong}" selected>Chọn phường xã</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-auto">
                                                            <p style="color: red; font-weight: initial;" id="errorPhuong"></p>
                                                        </div>
                                                    </div>
                                                    <div class="align-items-center col-lg-6 col-md-6">
                                                        <div class="col-auto">
                                                            <label class="col-form-label">Địa chỉ cụ thể:</label>
                                                        </div>
                                                        <div class="col-auto">
                                                            <input class="form-control" th:field="*{tenduong}" id="inputDuong" placeholder="Tên Đường" th:errorclass="is-invalid">
                                                        </div>
                                                        <div class="col-auto">
                                                            <p style="color: red; font-weight: initial;" id="errorDuong"></p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div th:object="${nv}">
                                                <div class="d-flex">
                                                    <div class="align-items-center col-lg-6 col-md-6">
                                                        <div class="col-auto">
                                                            <label class="col-form-label">Vai trò:</label>
                                                        </div>
                                                        <div class="col-auto">
                                                            <input type="radio" value="true" id="radioVaitro"  th:field="*{vaitro}" style="margin-top: 10px"  checked>Quản lý
                                                            <input type="radio" value="false" id="radioVaitro1" th:field="*{vaitro}" style="margin-left: 10px;margin-top: 10px">Nhân viên
                                                        </div>
                                                    </div>
                                                    <div class="align-items-center col-lg-6 col-md-6">
                                                        <div class="col-auto">
                                                            <label class="col-form-label">Trạng thái:</label>
                                                        </div>
                                                        <div class="col-auto">
                                                            <select class="form-control form-select form-select-sm" th:field="*{trangthai}" aria-label=".form-select-sm">
                                                                <option value="1" selected>Làm việc</option>
                                                                <option value="0">Nghỉ làm</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary" style="margin-top: 20px"  >Cập nhật nhân viên</button>
                                            <button type="button" class="btn btn-danger" style="margin-top: 20px"  onclick="goBack()">Thoát</button>
                                        </form>
                                    </div>
                                </section>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <br>
    </div>
    <!--end-->
    <nav th:replace="~{/layoutadmin/footer.html}"></nav>
</div>

<!--script-->
<nav th:replace="~{/layoutadmin/script.html}"></nav>
<!--end-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
        method: "GET",
        responseType: "application/json",
    };
    var promise = axios(Parameter);
    promise.then(function (result) {
        renderCity(result.data);
    });

    function renderCity(data) {
        for (const x of data) {
            var opt = document.createElement('option');
            opt.value = x.Name;
            opt.text = x.Name;
            opt.setAttribute('data-id', x.Id);
            citis.options.add(opt);
        }
        citis.onchange = function () {
            // Reset district and ward dropdowns by removing all options
            removeAllOptions(districts, "Chọn quận/huyện");
            removeAllOptions(wards, "Chọn xã/phường");

            if (this.options[this.selectedIndex].dataset.id != "") {
                const result = data.filter(n => n.Id === this.options[this.selectedIndex].dataset.id);

                for (const k of result[0].Districts) {
                    var opt = document.createElement('option');
                    opt.value = k.Name;
                    opt.text = k.Name;
                    opt.setAttribute('data-id', k.Id);
                    districts.options.add(opt);
                }
            }
        };
        districts.onchange = function () {
            // Reset ward dropdown by removing all options
            removeAllOptions(wards, "Chọn xã/phường");

            const dataCity = data.filter((n) => n.Id === citis.options[citis.selectedIndex].dataset.id);
            if (this.options[this.selectedIndex].dataset.id != "") {
                const dataWards = dataCity[0].Districts.filter(n => n.Id === this.options[this.selectedIndex].dataset.id)[0].Wards;

                for (const w of dataWards) {
                    var opt = document.createElement('option');
                    opt.value = w.Name;
                    opt.text = w.Name;
                    opt.setAttribute('data-id', w.Id);
                    wards.options.add(opt);
                }
            }
        };
    }

    function removeAllOptions(selectElement, defaultOptionText) {
        while (selectElement.options.length > 0) {
            selectElement.remove(0);
        }
        var opt = document.createElement('option');
        opt.text = defaultOptionText;
        opt.value = "";
        selectElement.add(opt);
    }
</script>

<script>
    function goBack() {
        window.location.href = '/admin/qlnhanvien';
    }
</script>

<!--xử lý việc add ảnh nhân viên-->
<script>
    document.getElementById('fileInput').addEventListener('change', function (event) {
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            var imgElement = document.getElementById('uploadedImage');
            imgElement.src = e.target.result;
            imgElement.style.display = 'block'; // Hiển thị hình ảnh
            var labelElement = document.querySelector('.file-input-label');
            labelElement.style.display = 'none'; // Ẩn phần label
            var imgElement1 = document.getElementById('uploadedImage1');
            imgElement1.src = e.target.result;
            imgElement1.style.display = 'block'; // Hiển thị hình ảnh
            var labelElement1 = document.querySelector('.file-input-label');
            labelElement1.style.display = 'none'; // Ẩn phần label
        };

        reader.readAsDataURL(file);
    });
</script>
<script th:inline="javascript">
    var list = /*[[${items2}]]*/ '[]';
    console.log(list);
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Đặt giá trị radio button mặc định
        var i = document.getElementById("radioVaitro").checked;
        if(i){
            document.getElementById("radioVaitro").disabled = true;
            document.getElementById("radioVaitro1").disabled = true;
        }
    });
    function checkKhongPhaiChuCai(str) {
        // Biểu thức chính quy để kiểm tra bất kỳ ký tự nào không phải là chữ cái tiếng Việt có dấu hoặc chữ cái Latinh không dấu
        const regex = /[^a-zA-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚờợứừửữựỳỵỷỹỪừựÙúỦửỤụỴỳỵỷỹẠ-ỹ\s]/;
        return regex.test(str);
    }
    function checkDinhDangCCCD(str) {
        // Biểu thức chính quy kiểm tra số CCCD bắt đầu từ 0 và có 12 chữ số
        const regex = /^0\d{11}$/;
        return regex.test(str);
    }
    function checkDinhDangEmail(email) {
        const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

        // Kiểm tra định dạng cơ bản
        if (!regex.test(email)) {
            return false;
        }

        // Tách phần tên người dùng và tên miền
        const [localPart, domainPart] = email.split('@');

        // Kiểm tra phần tên người dùng và tên miền không bắt đầu hoặc kết thúc bằng dấu chấm
        if (localPart.includes('..') || domainPart.includes('..') || domainPart.startsWith('.') || domainPart.endsWith('.')) {
            return false;
        }

        return true;

    }
    function checkDinhDangSDT(str) {
        // Biểu thức chính quy kiểm tra số điện thoại bắt đầu từ 0 và có 10 chữ số
        const regex = /^0\d{9}$/;
        return regex.test(str);
    }
    function kiemTraDu18Tuoi(ngaySinh) {
        const [year, month, day] = ngaySinh.split('-').map(Number);

        // Tạo ngày đủ 18 tuổi từ ngày sinh
        const ngaySinhDate = new Date(year, month - 1, day);
        const ngayDu18Tuoi = new Date(ngaySinhDate);
        ngayDu18Tuoi.setFullYear(ngayDu18Tuoi.getFullYear() + 18);

        // Lấy ngày hiện tại và đặt thời gian về đầu ngày
        const ngayHienTai = new Date();
        ngayHienTai.setHours(0, 0, 0, 0);

        // So sánh ngày hiện tại với ngày đủ 18 tuổi
        return ngayHienTai >= ngayDu18Tuoi;
    }
    function validate(event){
        event.preventDefault();
        var inputTen=document.getElementById("inputTen").value;
        var errorTen=document.getElementById("errorTen");
        var isTenValid = true;
        if(inputTen.trim() === ""){
            errorTen.innerText = "Tên nhân viên không được để trống!";
            document.getElementById("inputTen").style.border="1.2px solid red";
            isTenValid = false;
        }
        if(inputTen.trim().length > 100){
            errorTen.innerText = "Tên nhân viên không được quá 100 kí tự";
            document.getElementById("inputTen").style.border="1.2px solid red";
            isTenValid = false;
        }
        if(inputTen.trim().length > 0){
            if(checkKhongPhaiChuCai(inputTen) == true){
                errorTen.innerText = "Tên nhân viên chỉ chứa ký tự";
                document.getElementById("inputTen").style.border="1.2px solid red";
                isTenValid = false;
            }
        }
        if(isTenValid){
            document.getElementById("inputTen").style.border="";
            errorTen.innerText = "";
        }
        var inputNgSinh=document.getElementById("inputNgSinh").value;
        var errorNgSinh=document.getElementById("errorNgSinh");
        var isNgSinhValid = true;
        const dateNow = new Date();
        dateNow.setHours(0, 0, 0, 0);
        const ngaySinhDate = new Date(inputNgSinh);
        if (inputNgSinh === "") {
            document.getElementById("inputNgSinh").style.border="1.2px solid red";
            errorNgSinh.innerText = "Ngày sinh không được để trống!";
            isNgSinhValid = false;
        }else if(ngaySinhDate >= dateNow){
            document.getElementById("inputNgSinh").style.border="1.2px solid red";
            errorNgSinh.innerText = "Ngày sinh phải là ngày trong quá khứ!";
            isNgSinhValid = false;
        }else if(kiemTraDu18Tuoi(inputNgSinh) == false){
            document.getElementById("inputNgSinh").style.border="1.2px solid red";
            errorNgSinh.innerText = "Nhân viên phải từ đủ 18 tuổi!";
            isNgSinhValid = false;
        }
        if(isNgSinhValid){
            document.getElementById("inputNgSinh").style.border="";
            errorNgSinh.innerText = "";
        }
        var inputCCCD =document.getElementById("inputCCCD").value;
        var errorCCCD=document.getElementById("errorCCCD");
        var isCCCDValid = true;
        if (inputCCCD.trim() === "") {
            document.getElementById("inputCCCD").style.border="1.2px solid red";
            errorCCCD.innerText = "CCCD không được để trống!";
            isCCCDValid = false;
        }else if(checkDinhDangCCCD(inputCCCD) == false){
            document.getElementById("inputCCCD").style.border="1.2px solid red";
            errorCCCD.innerText = "Sai định dạng CCCD!";
            isCCCDValid = false;
        }
        for (var i = 0; i < list.length; i++) {
            var obj = list[i];
            if(inputCCCD === obj.nguoidung.cccd){
                document.getElementById("inputCCCD").style.border="1.2px solid red";
                errorCCCD.innerText = "CCCD đã tồn tại!";
                isCCCDValid = false;
                break;
            }
        }
        if(isCCCDValid){
            document.getElementById("inputCCCD").style.border="";
            errorCCCD.innerText = "";
        }
        var inputEmail =document.getElementById("inputEmail").value;
        var errorEmail=document.getElementById("errorEmail");
        var isEmailValid = true;
        if (inputEmail.trim() === "") {
            document.getElementById("inputEmail").style.border="1.2px solid red";
            errorEmail.innerText = "Email không được để trống!";
            isEmailValid = false;
        }else if(checkDinhDangEmail(inputEmail.trim()) == false){
            document.getElementById("inputEmail").style.border="1.2px solid red";
            errorEmail.innerText = "Sai định dạng Email!";
            isEmailValid = false;
        }else if(inputEmail.trim().length > 50){
            document.getElementById("inputEmail").style.border="1.2px solid red";
            errorEmail.innerText = "Email không được quá 50 kí tự!";
            isEmailValid = false;
        }
        for (var i = 0; i < list.length; i++) {
            var obj = list[i];
            if(inputEmail === obj.nguoidung.email){
                errorEmail.innerText = "Email đã tồn tại!";
                document.getElementById("inputEmail").style.border = "1.2px solid red";
                isEmailValid = false;
                break;
            }
        }
        if(isEmailValid){
            document.getElementById("inputEmail").style.border="";
            errorEmail.innerText = "";
        }
        var inputSdt =document.getElementById("inputSdt").value;
        var errorSdt=document.getElementById("errorSdt");
        var isSdtValid = true;
        if (inputSdt.trim() === "") {
            document.getElementById("inputSdt").style.border="1.2px solid red";
            errorSdt.innerText = "Sđt không được để trống!";
            isSdtValid = false;
        }else if(checkDinhDangSDT(inputSdt.trim()) == false){
            document.getElementById("inputSdt").style.border="1.2px solid red";
            errorSdt.innerText = "Sai định dạng Sđt!";
            isSdtValid = false;
        }
        for (var i = 0; i < list.length; i++) {
            var obj = list[i];
            if(inputSdt.trim() === obj.nguoidung.sodienthoai){
                errorSdt.innerText = "Sđt đã tồn tại!";
                document.getElementById("inputSdt").style.border = "1.2px solid red";
                isSdtValid = false;
                break;
            }
        }
        if(isSdtValid){
            document.getElementById("inputSdt").style.border="";
            errorSdt.innerText = "";
        }

        var cbbTinh =document.getElementById("city").value;
        var errorTinh=document.getElementById("errorTinh");
        var isTinhValid = true;
        if (cbbTinh.trim() === "") {
            document.getElementById("city").style.border="1.2px solid red";
            errorTinh.innerText = "Vui lòng chọn Tỉnh/Thành Phố!";
            isTinhValid = false;
        }
        if(isTinhValid){
            document.getElementById("city").style.border="";
            errorTinh.innerText = "";
        }
        var cbbQuan =document.getElementById("district").value;
        var errorQuan=document.getElementById("errorQuan");
        var isQuanValid = true;
        if (cbbQuan.trim() === "") {
            document.getElementById("district").style.border="1.2px solid red";
            errorQuan.innerText = "Vui lòng chọn Quận/Huyện!";
            isQuanValid = false;
        }
        if(isQuanValid){
            document.getElementById("district").style.border="";
            errorQuan.innerText = "";
        }
        var cbbHuyen =document.getElementById("ward").value;
        var errorHuyen=document.getElementById("errorPhuong");
        var isHuyenValid = true;
        if (cbbHuyen.trim() === "") {
            document.getElementById("ward").style.border="1.2px solid red";
            errorHuyen.innerText = "Vui lòng chọn Phường/Xã!";
            isHuyenValid = false;
        }
        if(isHuyenValid){
            document.getElementById("ward").style.border="";
            errorHuyen.innerText = "";
        }
        var inputDuong=document.getElementById("inputDuong").value;
        var errorDuong=document.getElementById("errorDuong");
        var isDuongValid = true;
        if(inputDuong.trim() === ""){
            errorDuong.innerText = "Địa chỉ cụ thể không được để trống!";
            document.getElementById("inputDuong").style.border="1.2px solid red";
            isDuongValid = false;
        }else if(inputDuong.trim().length > 100){
            errorDuong.innerText = "Địa chỉ cụ thể không được quá 100 kí tự";
            document.getElementById("inputDuong").style.border="1.2px solid red";
            isDuongValid = false;
        }
        if(isDuongValid){
            document.getElementById("inputDuong").style.border="";
            errorDuong.innerText = "";
        }
        if(isTenValid && isNgSinhValid && isCCCDValid && isEmailValid && isSdtValid && isTinhValid && isQuanValid && isHuyenValid && isDuongValid){
            Swal.fire({
                title: 'Bạn có chắc chắn muốn cập nhật nhân viên không?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Có',
                cancelButtonText: 'Không'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Nếu người dùng nhấn Có, hiển thị thông báo thành công và chuyển hướng sau một khoảng thời gian
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });


                    setTimeout(function () {
                        document.getElementById("addForm").submit();
                    }, 500);
                }
            });
            // Ngăn form được gửi đi ngay lập tức
            return false;
        }else{
            return false;
        }
    }
</script>
<!--end-->
</body>
</html>
