<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<nav th:replace="~{/layoutadmin/head.html}"></nav>
<style>
    .file-input-wrapper {
        position: relative;
        width: 200px; /* Độ rộng và chiều cao của hình tròn */
        height: 200px;
        border: 1px dashed #007bff; /* Viền bo có nét đứt màu xanh dương */
        border-radius: 50%; /* Tạo hình tròn */
        overflow: hidden;
    }

    .file-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .file-input-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Arial, sans-serif; /* Font chữ */
        font-size: 16px; /* Kích thước văn bản */
        color: black; /* Màu văn bản */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .file-input-label span {
        margin-top: 5px;
    }

    #uploadedImage {
        width: 100%; /* Kích thước hình ảnh sẽ phù hợp với kích thước của ô tròn */
        height: 100%;
        border-radius: 50%; /* Hình ảnh sẽ được làm tròn */
    }
</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <nav th:replace="~{/layoutadmin/navbar.html}"></nav>
    <!-- End navbar -->

    <!--Menu bán hàng -->
    <nav th:replace="~{/layoutadmin/menu.html}"></nav>
    <!--end-->

    <!--Nội dung -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-bookmark-dash-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6 6a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                            </svg>
                            THÊM KHÁCH HÀNG
                        </h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!---filter-->
        <form th:method="post" th:object="${nguoidung}" th:action="@{/khachhang/update/{id}(id=${diachi.id})}"
              enctype="multipart/form-data">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <section class="content">
                                        <div class="container">
                                            <div class="d-flex">
                                                <div>
                                                    <p>Tên khách hàng:
                                                        <input placeholder="Tên khách hàng" class="form-control"
                                                               style="width: 550px" th:field="*{hovaten}">
                                                    </p>
                                                    <p th:if="${#fields.hasErrors('hovaten')}"
                                                       th:errors="*{hovaten}" style="color: red;"></p>
                                                </div>
                                                <div>
                                                    <p style="margin-left: 20px">Ngày sinh:
                                                        <input type="date" class="form-control"
                                                               style="width: 550px" th:field="*{ngaysinh}">
                                                    </p>
                                                    <p th:if="${#fields.hasErrors('ngaysinh')}"
                                                       th:errors="*{ngaysinh}"
                                                       style="color: red; padding-left: 20px"></p>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div>
                                                    <p>Căn cước công dân:
                                                        <input placeholder="Căn cước công dân" class="form-control"
                                                               style="width: 550px" th:field="*{cccd}">
                                                    </p>
                                                    <p th:if="${#fields.hasErrors('cccd')}"
                                                       th:errors="*{cccd}" style="color: red;"></p>
                                                </div>
                                                <div>
                                                    <p style="margin-left: 20px">Giới tính:
                                                        <br>
                                                        <input type="radio" style="margin-top: 10px"
                                                               th:field="*{gioitinh}"
                                                               th:value="1">Nam
                                                        <input type="radio" style="margin-left: 10px;margin-top: 10px"
                                                               th:field="*{gioitinh}" th:value="0">Nữ
                                                    </p>
                                                    <p th:if="${#fields.hasErrors('gioitinh')}"
                                                       th:errors="*{gioitinh}"
                                                       style="color: red; padding-left: 20px"></p>
                                                </div>
                                            </div>

                                            <div class="d-flex">
                                                <div>
                                                    <p>Email:
                                                        <input placeholder="Email" class="form-control"
                                                               style="width: 550px" th:field="*{email}">
                                                    </p>
                                                    <p th:if="${#fields.hasErrors('email')}"
                                                       th:errors="*{email}" style="color: red;"></p>
                                                </div>
                                                <div>
                                                    <p style="margin-left: 20px; float: right">Số điện thoại:
                                                        <input placeholder="Số điện thoại" class="form-control"
                                                               style="width: 550px" th:field="*{sodienthoai}">
                                                    </p>
                                                    <p th:if="${#fields.hasErrors('sodienthoai')}"
                                                       th:errors="*{sodienthoai}"
                                                       style="color: red; padding-left: 20px"></p>
                                                </div>
                                            </div>
                                            <div th:object="${diachi}">
                                                <div class="d-flex">
                                                    <div>
                                                        <input th:field="*{id}" th:hidden="true">
                                                        <p>Tỉnh/Thành phố:
                                                            <select th:field="*{tinhthanhpho}" class="form-control"
                                                                    onchange="getDiaChi()" style="width: 550px">
                                                                <option th:value="*{tinhthanhpho}"
                                                                        th:text="*{tinhthanhpho}">Chọn tỉnh/thành phố
                                                                </option>
                                                                <option th:each="city : ${cities}"
                                                                        th:value="${city.getName()}"
                                                                        th:text="${city.getName()}">City
                                                                </option>
                                                            </select>
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <p style="margin-left: 20px">Quận/Huyện:
                                                            <select class="form-control" th:field="*{quanhuyen}"
                                                                    onchange="getQuanHuyen()"
                                                                    style="width: 550px">
                                                                <option th:value="*{quanhuyen}"
                                                                        th:text="*{quanhuyen}">Chọn quận/huyện
                                                                </option>
                                                            </select>
                                                        </p>
                                                        <p th:if="${#fields.hasErrors('quanhuyen')}"
                                                           th:errors="*{quanhuyen}"
                                                           style="color: red; padding-left: 20px"></p>
                                                    </div>
                                                </div>

                                                <div class="d-flex">
                                                    <div>
                                                        <p>Xã/Phường:
                                                            <select class="form-control" style="width: 550px"
                                                                    th:field="*{xaphuong}">
                                                                <option th:value="*{xaphuong}"
                                                                        th:text="*{xaphuong}">Chọn xã/phường
                                                                </option>
                                                            </select>
                                                        </p>
                                                        <p th:if="${#fields.hasErrors('xaphuong')}"
                                                           th:errors="*{xaphuong}"
                                                           style="color: red; padding-left: 20px"></p>
                                                    </div>
                                                    <div>
                                                        <p style="margin-left: 20px">Số nhà/Ngõ/Đường:
                                                            <input placeholder="Số nhà/Ngõ/Đường" class="form-control"
                                                                   style="width: 550px" th:field="*{tenduong}"></p>
                                                        <p th:if="${#fields.hasErrors('tenduong')}"
                                                           th:errors="*{tenduong}"
                                                           style="color: red; padding-left: 20px"></p>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Sửa khách hàng</button>
                                                <a th:href="@{/khachhang}" class="btn btn-danger">Thoát</a>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->


                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
        </form>

        <br>


    </div>
    <!--end-->
    <nav th:replace="~{/layoutadmin/footer.html}"></nav>
</div>
<!--script-->
<nav th:replace="~{/layoutadmin/script.html}"></nav>
<!--end-->
<script th:inline="javascript">
    var cities = /*[[${cities}]]*/ [];
</script>
<script>
    function getDiaChi() {
        var selectedProvince = document.getElementById("tinhthanhpho").value;
        var quanhuyenSelect = document.getElementById("quanhuyen");

        quanhuyenSelect.innerHTML = "<option value=''>Chọn quận/huyện</option>";

        // Lấy thông tin về tỉnh/thành phố đã chọn từ biến cities
        var selectedProvinceData = cities.find(function (city) {
            return city.name === selectedProvince;
        });

        if (selectedProvinceData) {
            selectedProvinceData.districts.forEach(function (district) {
                var option = document.createElement("option");
                option.text = district.name;
                option.value = district.name;
                quanhuyenSelect.appendChild(option);
            });
        }
    }

    function getQuanHuyen() {
        var selectedDistrict = document.getElementById("quanhuyen").value;
        var xaphuongSelect = document.getElementById("xaphuong");
        xaphuongSelect.innerHTML = "<option value=''>Chọn xã/phường</option>";

        // Lấy thông tin về tỉnh/thành phố đã chọn từ biến cities
        var selectedProvince = document.getElementById("tinhthanhpho").value;
        var selectedProvinceData = cities.find(function (city) {
            return city.name === selectedProvince;
        });

        if (selectedProvinceData) {
            var selectedDistrictData = selectedProvinceData.districts.find(function (district) {
                return district.name === selectedDistrict;
            });

            if (selectedDistrictData) {
                selectedDistrictData.wards.forEach(function (ward) {
                    var option = document.createElement("option");
                    option.text = ward.name;
                    option.value = ward.name;
                    xaphuongSelect.appendChild(option);
                });
            }
        }
    }

</script>

</body>
</html>
