<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<nav th:replace="~{/layoutadmin/head.html}"></nav>
<style>
    .file-input-wrapper {
        position: relative;
        width: 200px; /* Độ rộng và chiều cao của hình tròn */
        height: 200px;
        border: 1px dashed #007bff; /* Viền bo có nét đứt màu xanh dương */
        border-radius: 50%; /* Tạo hình tròn */
        overflow: hidden;
    }

    .file-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .file-input-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Arial, sans-serif; /* Font chữ */
        font-size: 16px; /* Kích thước văn bản */
        color: black; /* Màu văn bản */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .file-input-label span {
        margin-top: 5px;
    }

    #uploadedImage {
        width: 100%; /* Kích thước hình ảnh sẽ phù hợp với kích thước của ô tròn */
        height: 100%;
        border-radius: 50%; /* Hình ảnh sẽ được làm tròn */
    }
</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <nav th:replace="~{/layoutadmin/navbar.html}"></nav>
    <!-- End navbar -->

    <!--Menu bán hàng -->
    <nav th:replace="~{/layoutadmin/menu.html}"></nav>
    <!--end-->

    <!--Nội dung -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-bookmark-dash-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6 6a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                            </svg>
                            SỬA KHÁCH HÀNG
                        </h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!---filter-->
        <form th:method="post" th:object="${nguoidung}" th:action="@{/khachhang/update/{id}(id=${diachi.id})}"
              onsubmit="return validateNguoiDung();" name="updateCustomerForm"
              enctype="multipart/form-data">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <section class="content">
                                        <div class="container">
                                            <div class="d-flex">
                                                <div>
                                                    <p> <span style="color: red">*</span> <strong>Tên khách hàng: </strong>
                                                        <input placeholder="Tên khách hàng" class="form-control"
                                                               style="width: 550px" th:field="*{hovaten}" id="hovaten">
                                                        <span id="tenError" style="color: red;"></span>
                                                    </p>
                                                </div>
                                                <div style="margin-left: 55px;">
                                                    <p style="margin-left: 20px;"> <span style="color: red">*</span> <strong> Ngày sinh: </strong>
                                                        <input type="date" class="form-control" onkeydown="return false"
                                                               style="width: 550px" th:field="*{ngaysinh}" id="ngaysinh">
                                                        <span id="ngaysinhError"
                                                              style="color: red; padding-left: 20px"></span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="d-flex mb-3">
                                                <div>
                                                    <p> <span style="color: red">*</span> <strong>Căn cước công dân:</strong>
                                                        <input placeholder="Căn cước công dân" class="form-control"
                                                               style="width: 550px" th:field="*{cccd}" id="cccd">
                                                        <span id="cccdError" style="color: red;"></span>
                                                    </p>
                                                </div>
                                                <div style="margin-left: 55px;">
                                                    <p style="margin-left: 20px;"> <span style="color: red">*</span> <strong> Giới tính:</strong>
                                                        <br>
                                                        <input type="radio" style="margin-top: 10px"
                                                               th:field="*{gioitinh}"
                                                               th:value="1">Nam
                                                        <input type="radio" style="margin-left: 10px;margin-top: 10px"
                                                               th:field="*{gioitinh}" th:value="0">Nữ
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="d-flex">
                                                <div>
                                                    <p> <span style="color: red">*</span> <strong> Email: </strong>
                                                        <input placeholder="Email" class="form-control" id="email"
                                                               style="width: 550px" th:field="*{email}" maxlength="254">
                                                        <span id="emailError" style="color: red;"></span>
                                                    </p>
                                                </div>
                                                <div style="margin-left: 55px;">
                                                    <p style="margin-left: 20px;"> <span style="color: red">*</span> <strong> Số điện thoại: </strong>
                                                        <input placeholder="Số điện thoại" class="form-control" id="sodienthoai"
                                                               style="width: 550px" th:field="*{sodienthoai}">
                                                        <span id="sdtError" style="color: red; padding-left: 20px"></span>
                                                    </p>
                                                </div>
                                            </div>

                                            <div th:object="${diachi}">
                                                <div class="d-flex">
                                                    <div>
                                                        <p> <span style="color: red">*</span> <strong> Tỉnh/Thành phố: </strong>
                                                            <select th:field="*{tinhthanhpho}" class="form-select"
                                                                    id="city" style="width: 550px">
                                                                <option th:value="*{tinhthanhpho}"
                                                                        th:text="*{tinhthanhpho}">Chọn tỉnh thành</option>
                                                            </select>
                                                            <span id="tinhthanhError" style="color: red;"></span>
                                                        </p>
                                                    </div>
                                                    <div style="margin-left: 55px;">
                                                        <p style="margin-left: 20px;"> <span style="color: red">*</span> <strong> Quận/Huyện: </strong>
                                                            <select class="form-select" th:field="*{quanhuyen}"
                                                                    style="width: 550px" id="district">
                                                                <option th:value="*{quanhuyen}"
                                                                        th:text="*{quanhuyen}">Chọn quận huyện</option>
                                                            </select>
                                                            <span id="quanError" style="color: red; padding-left: 20px"></span>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="d-flex">
                                                    <div>
                                                        <p> <span style="color: red">*</span> <strong> Xã/Phường: </strong>
                                                            <select class="form-select" style="width: 550px" id="ward"
                                                                    th:field="*{xaphuong}">
                                                                <option th:value="*{xaphuong}"
                                                                        th:text="*{xaphuong}">Chọn xã phường</option>
                                                            </select>
                                                            <span id="xaError" style="color: red;"></span>
                                                        </p>
                                                    </div>
                                                    <div style="margin-left: 55px;">
                                                        <p style="margin-left: 20px;"> <span style="color: red">*</span> <strong> Số nhà/Ngõ/Đường: </strong>
                                                            <input placeholder="Số nhà/Ngõ/Đường" class="form-control"
                                                                   id="tenduong"
                                                                   style="width: 550px" th:field="*{tenduong}" maxlength="100">
                                                            <span id="tenduongError" style="color: red; padding-left: 20px"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <button style="float: right; background-color: rgb(249,72,42);color: white; margin-right: 20px" type="submit" class="btn" id="btnUpdate" disabled>Cập nhật</button>
                                                <a style="float: right; margin-right: 10px" th:href="@{/khachhang}" class="btn btn-dark">Thoát</a>
                                            </div>
                                    </section>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
        </form>
    </div>
    <!--end-->
    <nav th:replace="~{/layoutadmin/footer.html}"></nav>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/jsqr"></script>
<script th:inline="javascript">
    var lstEmailFromDb = /*[[${lstEmail}]]*/ [];
    var lstSdtFromDb = /*[[${lstSdt}]]*/ [];
    var lstCccdFromDb = /*[[${lstCccd}]]*/ [];
</script>
<script>
    const specialCharPattern = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
    const numberPattern = /\d/;
    const cccdPattern = /^0[0-9]{11}$/;
    const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,4}(?:\.[a-zA-Z]{2,4})?$/;
    const phoneNumberPattern = /^0[0-9]{9}$/;

    function validateNguoiDung() {
        const tenInput = document.getElementById('hovaten').value.trim();
        const ngaySinhInput = document.getElementById('ngaysinh').value.trim();
        const cccdInput = document.getElementById('cccd').value.trim();
        const emailInput = document.getElementById('email').value.trim();
        const sdtInput = document.getElementById('sodienthoai').value.trim();
        const tinhthanhSelect = document.getElementById('city').value.trim();
        const quanhuyenSelect = document.getElementById('district').value.trim();
        const xaphuongSelect = document.getElementById('ward').value.trim();
        const tenduongInput = document.getElementById('tenduong').value.trim();

        const errors = {
            ngaysinhError: '',
            tenError: '',
            cccdError: '',
            emailError: '',
            sdtError: '',
            tinhthanhError: '',
            quanError: '',
            xaError: '',
            tenduongError: ''
        };
        var isValid = true;

        const today = new Date();
        const ngaySinhValue = new Date(ngaySinhInput);
        var age = today.getFullYear() - ngaySinhValue.getFullYear();
        var monthDiff = today.getMonth() - ngaySinhValue.getMonth();
        if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < ngaySinhValue.getDate())) {
            age--;
        }

        if (ngaySinhInput === '') {
            errors.ngaysinhError = 'Ngày sinh không được trống';
            document.getElementById('ngaysinh').style.borderColor = 'red';
            isValid = false;
        } else if (ngaySinhValue > today) {
            errors.ngaysinhError = 'Ngày sinh không được lớn hơn ngày hiện tại';
            document.getElementById('ngaysinh').style.borderColor = 'red';
            isValid = false;
        } else if (age <= 16) {
            errors.ngaysinhError = 'Tuổi phải từ 16 trở lên';
            document.getElementById('ngaysinh').style.borderColor = 'red';
            isValid = false;
        } else if (age > 70) {
            errors.ngaysinhError = 'Tuổi phải từ 70 trở xuống';
            document.getElementById('ngaysinh').style.borderColor = 'red';
            isValid = false;
        } else {
            document.getElementById('ngaysinh').style.borderColor = '#dee2e6';
        }

        if (tenInput === '') {
            errors.tenError = 'Họ và tên không được trống';
            document.getElementById('hovaten').style.borderColor = 'red';
            isValid = false;
        } else if (specialCharPattern.test(tenInput)) {
            errors.tenError = 'Họ và tên không được chứa ký tự đặc biệt';
            document.getElementById('hovaten').style.borderColor = 'red';
            isValid = false;
        } else if (numberPattern.test(tenInput)) {
            errors.tenError = 'Họ và tên không được chứa số';
            document.getElementById('hovaten').style.borderColor = 'red';
            isValid = false;
        } else if (tenInput.length > 50) {
            errors.tenError = 'Họ và tên không được quá 50 ký tự';
            document.getElementById('hovaten').style.borderColor = 'red';
            isValid = false;
        } else {
            document.getElementById('hovaten').style.borderColor = '#dee2e6';
        }

        if (cccdInput === '') {
            errors.cccdError = 'CCCD không được trống';
            document.getElementById('cccd').style.borderColor = 'red';
            isValid = false;
        } else if (!cccdPattern.test(cccdInput)) {
            errors.cccdError = 'CCCD không hợp lệ';
            document.getElementById('cccd').style.borderColor = 'red';
            isValid = false;
        } else if (checkTrungCccd() === false) {
            errors.cccdError = 'CCCD đã tồn tại';
            document.getElementById('cccd').style.borderColor = 'red';
            isValid = false;
        } else {
            document.getElementById('cccd').style.borderColor = '#dee2e6';
        }

        if (emailInput === '') {
            errors.emailError = 'Email không được trống';
            document.getElementById('email').style.borderColor = 'red';
            isValid = false;
        } else if (!emailPattern.test(emailInput)) {
            errors.emailError = 'Email không hợp lệ';
            document.getElementById('email').style.borderColor = 'red';
            isValid = false;
        } else if (checkTrungEmail() === false) {
            errors.emailError = 'Email đã tồn tại';
            document.getElementById('email').style.borderColor = 'red';
            isValid = false;
        } else if (emailInput.length < 5) {
            errors.emailError = 'Email không được ít hơn 5 ký tự';
            document.getElementById('email').style.borderColor = 'red';
            isValid = false;
        } else if (emailInput.length > 254) {
            errors.emailError = 'Email không được quá 254 ký tự';
            document.getElementById('email').style.borderColor = 'red';
            isValid = false;
        } else {
            document.getElementById('email').style.borderColor = '#dee2e6';
        }

        if (sdtInput === '') {
            errors.sdtError = 'Số điện thoại không được trống';
            document.getElementById('sodienthoai').style.borderColor = 'red';
            isValid = false;
        } else if (!phoneNumberPattern.test(sdtInput)) {
            errors.sdtError = 'Số điện thoại không hợp lệ';
            document.getElementById('sodienthoai').style.borderColor = 'red';
            isValid = false;
        } else if (checkTrungSdt() === false) {
            errors.sdtError = 'Số điện thoại đã tồn tại';
            document.getElementById('sodienthoai').style.borderColor = 'red';
            isValid = false;
        } else {
            document.getElementById('sodienthoai').style.borderColor = '#dee2e6';
        }

        if (tinhthanhSelect === '') {
            errors.tinhthanhError = 'Tỉnh thành chưa được chọn';
            document.getElementById('city').style.borderColor = 'red';
            isValid = false;
        } else {
            document.getElementById('city').style.borderColor = '#dee2e6';
        }

        if (quanhuyenSelect === '') {
            errors.quanError = 'Quận huyện chưa được chọn';
            document.getElementById('district').style.borderColor = 'red';
            isValid = false;
        } else {
            document.getElementById('district').style.borderColor = '#dee2e6';
        }

        if (xaphuongSelect === '') {
            errors.xaError = 'Xã phường chưa được chọn';
            document.getElementById('ward').style.borderColor = 'red';
            isValid = false;
        } else {
            document.getElementById('ward').style.borderColor = '#dee2e6';
        }

        if (tenduongInput === '') {
            errors.tenduongError = 'Tên đường không được trống';
            document.getElementById('tenduong').style.borderColor = 'red';
            isValid = false;
        } else if (tenduongInput.length > 100) {
            errors.tenduongError = 'Tên đường không được quá 100 kí tự';
            document.getElementById('tenduong').style.borderColor = 'red';
            isValid = false;
        } else if (tenduongInput.length < 5) {
            errors.tenduongError = 'Tên đường không được nhỏ hơn 5 kí tự';
            document.getElementById('tenduong').style.borderColor = 'red';
            isValid = false;
        } else {
            document.getElementById('tenduong').style.borderColor = '#dee2e6';
        }

        for (const key in errors) {
            document.getElementById(key).innerText = errors[key];
        }

        return isValid ? saveDiaChi() : false;
    }

    var originalCccd = document.getElementById('cccd').value.trim();
    function checkTrungCccd() {
        var cccdInput = document.getElementById('cccd').value.trim();
        var lstCccdFromDbCopy = lstCccdFromDb.slice();
        var index = lstCccdFromDb.indexOf(originalCccd);
        if (index !== -1) {
            lstCccdFromDbCopy.splice(index, 1);
        }
        var isValid = true;
        for (var i = 0; i < lstCccdFromDbCopy.length; i++) {
            if (cccdInput === lstCccdFromDbCopy[i]) {
                isValid = false;
                break;
            }
        }
        return isValid;
    }

    var originalEmail = document.getElementById('email').value.trim();
    function checkTrungEmail() {
        var emailInput = document.getElementById('email').value.trim();
        var lstEmailFromDbCopy = lstEmailFromDb.slice();
        var index = lstEmailFromDb.indexOf(originalEmail);
        if (index !== -1) {
            lstEmailFromDbCopy.splice(index, 1);
        }
        var isValid = true;
        for (var i = 0; i < lstEmailFromDbCopy.length; i++) {
            if (emailInput.toLowerCase() === lstEmailFromDbCopy[i]) {
                isValid = false;
                break;
            }
        }
        return isValid;
    }

    var originalSdt = document.getElementById('sodienthoai').value.trim();
    // Hàm để kiểm tra trùng số điện thoại
    function checkTrungSdt() {
        var sdtInput = document.getElementById('sodienthoai').value.trim();
        // Tạo một bản sao của danh sách số điện thoại
        var lstSdtFromDbCopy = lstSdtFromDb.slice();
        // Xóa số điện thoại ban đầu khỏi danh sách kiểm tra
        var index = lstSdtFromDbCopy.indexOf(originalSdt);
        if (index !== -1) {
            lstSdtFromDbCopy.splice(index, 1);
        }
        // Kiểm tra trùng số điện thoại
        var isValid = true;
        for (var i = 0; i < lstSdtFromDbCopy.length; i++) {
            if (sdtInput === lstSdtFromDbCopy[i]) {
                isValid = false;
                break;
            }
        }
        return isValid;
    }

    const defaultValues = {};
    window.addEventListener('load', () => {
        // Store default values when the page loads
        defaultValues['hovaten'] = document.getElementById('hovaten').value.trim();
        defaultValues['ngaysinh'] = document.getElementById('ngaysinh').value.trim();
        defaultValues['cccd'] = document.getElementById('cccd').value.trim();
        defaultValues['email'] = document.getElementById('email').value.trim();
        defaultValues['sodienthoai'] = document.getElementById('sodienthoai').value.trim();
        defaultValues['city'] = document.getElementById('city').value.trim();
        defaultValues['district'] = document.getElementById('district').value.trim();
        defaultValues['ward'] = document.getElementById('ward').value.trim();
        defaultValues['tenduong'] = document.getElementById('tenduong').value.trim();

        // Add event listeners to all inputs
        document.querySelectorAll('input, select').forEach(element => {
            element.addEventListener('input', checkChanges);
        });
    });

    function checkChanges() {
        const btnUpdate = document.getElementById('btnUpdate');
        let hasChanged = false;

        for (const key in defaultValues) {
            if (document.getElementById(key).value.trim() !== defaultValues[key]) {
                hasChanged = true;
                break;
            }
        }

        btnUpdate.disabled = !hasChanged;
    }

    // Thêm sự kiện cho input
    document.getElementById('hovaten').addEventListener('input', checkChange);

    function saveDiaChi() {
        Swal.fire({
            title: 'Bạn có muốn cập nhật không?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Có',
            cancelButtonText: 'Không'
        }).then((result) => {
            if (result.isConfirmed) {
                document.updateCustomerForm.submit();
            }
        });
        return false;
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
        method: "GET",
        responseType: "application/json",
    };
    var promise = axios(Parameter);
    promise.then(function (result) {
        renderCity(result.data);
    });

    function renderCity(data) {
        for (const x of data) {
            var opt = document.createElement('option');
            opt.value = x.Name;
            opt.text = x.Name;
            opt.setAttribute('data-id', x.Id);
            citis.options.add(opt);
        }
        citis.onchange = function () {
            districts.length = 1;
            wards.length = 1;
            if (this.options[this.selectedIndex].dataset.id != "") {
                const result = data.filter(n => n.Id === this.options[this.selectedIndex].dataset.id);

                for (const k of result[0].Districts) {
                    var opt = document.createElement('option');
                    opt.value = k.Name;
                    opt.text = k.Name;
                    opt.setAttribute('data-id', k.Id);
                    districts.options.add(opt);
                }
            }
        };
        districts.onchange = function () {
            wards.length = 1;
            const dataCity = data.filter((n) => n.Id === citis.options[citis.selectedIndex].dataset.id);
            if (this.options[this.selectedIndex].dataset.id != "") {
                const dataWards = dataCity[0].Districts.filter(n => n.Id === this.options[this.selectedIndex].dataset.id)[0].Wards;

                for (const w of dataWards) {
                    var opt = document.createElement('option');
                    opt.value = w.Name;
                    opt.text = w.Name;
                    opt.setAttribute('data-id', w.Id);
                    wards.options.add(opt);
                }
            }
        };
    }
</script>

<nav th:replace="~{/layoutadmin/script.html}"></nav>
<!--end-->
</body>
</html>
