<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<style>
    .nav-item {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-link {
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding-left: 20px;
    }

    .nav-link:hover {
        color: red;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="font-family: 'Bahnschrift'">
<header style="height: 80px; line-height: 80px; background-color: white; color: black; display: flex; align-items: center;">
    <div style="margin-left: 50px">
        <a th:href="@{/customer/trangchu}">
            <img src="../../dist/img/logo_bong2.jpg" width="70px" height="50px" alt="Logo">
        </a>
    </div>

    <div style="margin-left: 10px">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
             class="bi bi-envelope-arrow-up-fill" viewBox="0 0 16 16">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zm.192 8.159 6.57-4.027L8 9.586l1.239-.757.367.225A4.49 4.49 0 0 0 8 12.5c0 .526.09 1.03.256 1.5H2a2 2 0 0 1-1.808-1.144M16 4.697v4.974A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-1.965.45l-.338-.207z"/>
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.354 1.25 1.25a.5.5 0 0 1-.708.708L13 12.207V14a.5.5 0 0 1-1 0v-1.717l-.28.305a.5.5 0 0 1-.737-.676l1.149-1.25a.5.5 0 0 1 .722-.016"/>
        </svg>
        fsport.hau29@gmail.com
    </div>
    <div style="margin-left: 30px;">
        <ul class="nav-item">
            <li>
                <a th:href="@{/customer/trangchu}" class="nav-link">TRANG CHỦ</a>
            </li>
            <li>
                <a th:href="@{/customer/sanphamnam}" class="nav-link">NAM</a>
            </li>
            <li>
                <a th:href="@{/customer/sanphamnu}" class="nav-link">NỮ</a>
            </li>
            <li>
                <a th:href="@{/customer/gioithieu}" class="nav-link">GIỚI THIỆU</a>
            </li>
            <li>
                <a th:href="@{/customer/vechungtoi}" class="nav-link">VỀ CHÚNG TÔI</a>
            </li>
            <li>
                <a th:href="@{/customer/vechungtoi}" class="nav-link">TRA CỨU</a>
            </li>
            <li>
                <a th:href="@{/customer/lienhe}" class="nav-link">LIÊN HỆ</a>
            </li>
        </ul>
    </div>
    <div style="margin-left: 40px">
        <ul>
            <!--cart-->
            <li style="margin-top: 20px">
                <div style="margin-left: auto; margin-right: 20px;">
                    <form id="searchForm" th:method="get" th:object="${search}" th:action="@{/search-trangchu}">
                        <div style="position: relative;">
                            <input class="form-control" type="search" placeholder="Bạn cần tìm gì?..." aria-label="Search"
                                   style="width: 300px; padding-right: 40px;" name="key" th:value="${fillSearch}">
                            <span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;" onclick="submitSearchForm()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
                 viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </span>
                        </div>
                    </form>
                </div>
            </li>
            <li style="padding-left: 20px;color: #0a0e14">
                <a th:href="@{/cart}" style="color: #0a0e14; text-decoration: none; position: relative;">
                    <img alt="" style="width:40px" src="../../dist/img/cart.png"/>
                    <span class="position-absolute badge rounded-pill bg-danger" style="top: 0; left: 110%; transform: translate(-50%, -50%); width: 20px; height: 20px; display: flex; align-items: center; justify-content: center; border-radius: 50%;" th:text="${totalQuantity}"></span>
                </a>
            </li>
            <!--end-->
            <!--account-->
            <li style="padding-left: 20px">

                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                     class="bi bi-person-circle" viewBox="0 0 16 16" data-bs-toggle="modal"
                     data-bs-target="#exampleModal">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd"
                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
            </li>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p><a th:href="@{/hosokhachhang}" class="text-decoration-none"
                                  style="font-weight: bold;color: black">Tài khoản của tôi</a></p>
<!--                            <div th:if="${userDangnhap}">-->
                                <p><a th:href="@{/hosokhachhang/{username}(username=${userDangnhap})}">HỒ SƠ KHÁCH HÀNG</a></p>
                                <p><a th:href="@{/dangxuat}">ĐĂNG XUẤT</a></p>
<!--                            </div>-->
<!--                            <div th:unless="${userDangnhap}">-->
                                <p><a th:href="@{/dangky}">ĐĂNG NHẬP</a></p>
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--end-->
        </ul>
    </div>
</header>

<header>
    <div style="height: 30px;line-height: 30px;color: white;background-color: rgb(249,72,42)">
        <h5>
            <marquee>Đến với "T&T SHOE quý khách hàng sẽ có những sản phẩm ưng ý nhất, chất lượng phục vụ tốt và giá
                thành tốt nhất, cùng những “ Chương Trình Khuyến Mãi Đặc Biệt”.
            </marquee>
        </h5>
    </div>
</header>

</body>
</html>

<script>
    function submitSearchForm() {
        document.getElementById('searchForm').submit();
    }
</script>