<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <!-- logo trang chủ-->
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <!--end-->
    </ul>
    <!--navbar bên phải -->
    <ul class="navbar-nav ml-auto">
        <!-- thông báo -->
<!--        <li class="nav-item dropdown">-->
<!--            <a class="nav-link" data-toggle="dropdown" href="#">-->
<!--                <i class="far fa-bell"></i>-->
<!--                <span class="badge badge-warning navbar-badge">15</span>-->
<!--            </a>-->
<!--        </li>-->
        <!--end -->
        <!--phóng to màn hình-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link">-->
<!--                <b>Duy</b>-->
<!--            </a>-->
<!--        </li>-->
        <!--end -->
        <!--avata -->
        <li class="nav-item dropdown mb-3 mr-3">
            <a class="nav-link dropdown-toggle" href="#" id="avatarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span style="margin-left: 5px; color: black" th:if="${adminDangnhap}"
                     th:text="'Xin chào, ' + ${adminDangnhap}"></span>
                <img th:if="${adminDangnhap}" th:src="@{'/upload' + ${adminAvatar.substring(adminAvatar.lastIndexOf('upload') + 6)}}" class="img-circle" height="40" width="40">
                <svg th:unless="${adminDangnhap}" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                     class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd"
                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
            </a>
            <div class="dropdown-menu mt-3" aria-labelledby="avatarDropdown">
                <!-- Các mục trong menu sổ xuống -->
                <a th:if="${adminDangnhap}" class="dropdown-item" th:href="@{/dangxuat/admin}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="padding-bottom: 3px" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0z"/>
                        <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                    </svg>
                    ĐĂNG XUẤT
                </a>
                <a th:unless="${adminDangnhap}" class="dropdown-item " th:href="@{/account/admin}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="padding-bottom: 3px" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                    </svg>
                    ĐĂNG NHẬP
                </a>
            </div>
        </li>

        <!--end -->
    </ul>
</nav>
</body>
</html>