<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<!--thư viện-->
<nav th:replace="~{/layout/head.html}"></nav>
<!--end-->
<body>

<!-- header section start -->
<nav th:replace="~{/layout/header.html}"></nav>
<!-- header section end -->

<!-- page banner area start -->
<nav th:replace="~{/layout/banner.html}"></nav>
<!-- page banner area end -->

<!-- cart page content section start -->
<section class="cart-page section-padding">
    <h3 style="margin-left: 120px">GIỎ HÀNG CỦA TÔI</h3>
    <hr>
    <div class="container">
        <table class="table">
            <tr>
                <th></th>
                <th>Ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Số tiền</th>
                <th>Thao tác</th>
            </tr>
            <tr>
                <th>
                    <input type="checkbox">
                </th>
                <th>
                    <img src="../dist/img/bong2.jpg" width="70px" height="40px"/>
                </th>
                <th>GIÀY ĐÁ BÓNG NIKES</th>
                <th>500.000 VNĐ</th>
                <th>
                    <input type="number" min="1" value="1">
                </th>
                <th>1.000.000 VNĐ</th>
                <th>
                    <a href="#" class="btn btn-danger">Xóa</a>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="checkbox">
                </th>
                <th>
                    <img src="../dist/img/bong2.jpg" width="70px" height="40px"/>
                </th>
                <th>GIÀY ĐÁ BÓNG NIKES</th>
                <th>500.000 VNĐ</th>
                <th>
                    <input type="number" min="1" value="1">
                </th>
                <th>1.000.000 VNĐ</th>
                <th>
                    <a href="#" class="btn btn-danger">Xóa</a>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="checkbox">
                </th>
                <th>
                    <img src="../dist/img/bong2.jpg" width="70px" height="40px"/>
                </th>
                <th>GIÀY ĐÁ BÓNG NIKES</th>
                <th>500.000 VNĐ</th>
                <th>
                    <input type="number" min="1" value="1">
                </th>
                <th>1.000.000 VNĐ</th>
                <th>
                    <a href="#" class="btn btn-danger">Xóa</a>
                </th>
            </tr>
        </table>


        <div class="row">
            <div class="col-md-4">
                <div class="estimate-text">
                    <h3>Vận chuyển và thuế</h3>
                    <form action="#">
                        <div class="single-select">
                            <label>Tỉnh/Thành phố</label>
                            <div class="custom-select">
                                <select class="form-control">
                                    <option>Options</option>
                                    <option>Aruba</option>
                                    <option>Australia</option>
                                    <option>Bahrain</option>
                                    <option>Bangladesh</option>
                                    <option>Chile</option>
                                </select>
                            </div>
                        </div>
                        <div class="single-select">
                            <label>Quận/Huyện</label>
                            <div class="custom-select">
                                <select class="form-control">
                                    <option>Options</option>
                                    <option>Kerala</option>
                                    <option>Madhya</option>
                                    <option>Manipur</option>
                                    <option>Dhaka</option>
                                    <option>Chili</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="estimate-text coupon">
                    <h3>Mã giảm giá</h3>
                    <p>Vui lòng chọn 1 mã giảm giá nếu có!</p>
                    <form action="#">
                        <div class="input-text">
                            <input type="text" name="coupon"/>
                        </div>
                        <div class="submit-text">
                            <button>Áp dụng mã giảm giá</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="estimate-text responsive">
                    <div class="subtotal clearfix">
                        <p>Tổng phụ: <span class="floatright">$156.87</span></p>
                        <p>Tổng tiền: <span class="floatright">$156.87</span></p>
                    </div>
                    <div class="default-btn text-right">
                        <a class="btn-style" href="checkout.html">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cart page content section end -->

<!-- footer section start -->
<nav th:replace="~{/layout/footer.html}"></nav>
<!-- footer section end -->

</body>
</html>

