<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<!--thư viện-->
<nav th:replace="~{/layout/head.html}"></nav>
<!--end-->
<body>

<!-- header -->
<nav th:replace="~{/layout/header.html}"></nav>
<!-- header end -->

<!-- product content section start -->
<section class="product-content section-padding">
    <div class="container">

        <img src="/dist/img/logo_bong2.jpg" style="width: 150px;height: 100px;margin-left: 520px">
        <div class="tab-content">
<!--            <div class="container-sm " style="padding-left: 200px;padding-right: 200px;">-->
                <h5 style="font-family: Arial, Helvetica, sans-serif;">
                    FSPORT là một trong những thương hiệu thể thao hàng đầu thế giới về thiết kế, phát triển các mặt hàng
                    giày, dép, quần áo, phụ kiện. Giày FSPORT chuyên sản xuất là giày thời trang và giày thể thao dùng
                    trong bóng đá, chạy bộ, giày để tập luyện trong phòng tập, golf và đua xe mô-tô. Thương hiệu hiện
                    phân phối các dòng sản phẩm tại hơn 120 quốc gia và được phân phối tại Việt Nam bởi Maison Online.
                </h5>
                <h3>Thương hiệu FSPORT </h3>
                <p></p>
                <h5 style="font-family: Arial, Helvetica, sans-serif;">
                    FSPORT là hãng thời trang thể thao nổi tiếng đến từ Đức, đem đến cho giới mộ điệu những sản phẩm thời
                    trang như quần áo, giày, dép, phụ kiện và các loại dụng cụ thể thao. Tiền thân của FSPORT là công ty
                    Gebrüder Dassler Schuhfabrik, được thành lập năm 1924 bởi hai anh em Adolf và Rudolf Dassler. Năm
                    1948, do những mâu thuẫn và tư tưởng khác biệt trong kinh doanh, công ty tách thành FSPORT và Adidas.
                    Kể từ đó, hai thương hiệu luôn trong tình thế đối đầu căng thẳng cho đến tận bây giờ.
                </h5>
                <p></p>
                <p></p>
                <h5 style="font-family: Arial, Helvetica, sans-serif;">
                    Các sản phẩm của FSPORT được thiết kế theo hướng thể thao ready-to-wear mang đến sự thoải mái, trẻ
                    trung và năng động. Theo thời gian, Thương Hiệu FSPORT không ngừng cải tiến trong các sản phẩm của
                    mình và hướng đến thiết kế thời thượng, cá tính. Những món đồ có phong cách thời trang sành điệu phù
                    hợp cho cả hoạt động thể thao và sinh hoạt hàng ngày.
                </h5>
                <div>
                    <iframe width="100%" height="400" src="https://www.youtube.com/embed/UyefASVrtbw?si=VSZSu1nLLEo7r2yP"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
                <h1>Những đặc điểm nổi bật của FSPORT trong phong cách thời trang</h1> <br>
                <h5 style="font-family: Arial, Helvetica, sans-serif;">
                    Khi nhắc đến hình ảnh “con báo” ai cũng biết đến đây là loài động vật mạnh mẽ đại diện cho sức mạnh,
                    tốc độ và nhanh nhẹn. Chính vì vậy mà Rudolf Dassler - người sáng lập ra FSPORT đã lựa chọn hình ảnh
                    con báo đang săn mồi làm biểu tượng thương hiệu với chiều sâu ý nghĩa thể hiện khả năng thích nghi,
                    phát triển mạnh mẽ không ngừng của hãng trong ở trong mọi điều kiện và hoàn cảnh khác nhau.
                </h5> <br>
                <h5 style="font-family: Arial, Helvetica, sans-serif;">
                    Mỗi thương hiệu thời trang thể thao luôn có nguồn cảm hứng và gắn bó với một bộ môn nhất định. Nguồn
                    cảm hứng để tạo nên hàng nghìn thiết kế của FSPORT chính mà môn chạy. FSPORT luôn hướng tới mục tiêu trở
                    thành Thương hiệu Thể thao Nhanh nhất Thế giới.
                </h5> <br>
                <h5 style="font-family: Arial, Helvetica, sans-serif;">
                    Vì thế, chúng ta không khó để thấy sản phẩm của FSPORT dành cho các vận động viên “nhanh nhất hành
                    tinh” xuất hiện trên đường băng của những cuộc thi chạy lừng danh. Những đôi giày FSPORT cổ điển đã
                    vượt hành trình dài hơn gần một thế kỷ, qua cả không gian và thời gian để đến với thế kỷ 21 cùng
                    diện mạo hoàn toàn mới - mang dấu ấn phong cách thời trang tương lai đầy ấn tượng.
                </h5> <br>
                <h5 style="font-family: Arial, Helvetica, sans-serif;">
                    Với thiết kế năng động, trẻ trung, các sản phẩm đến từ thương hiệu FSPORT mang lại sự thoải mái khi
                    chạy bộ. Giờ đây, trang phục FSPORT không chỉ thích hợp với người chơi thể thao mà còn phù hợp cho
                    sinh hoạt hàng ngày.
                </h5>
                <h1>Thương hiệu FSPORT Việt Nam tại Maison Online</h1>
                <h5>Các dòng sản phẩm thời trang thể thao của FSPORT có mặt tại hơn 120 quốc gia và được phân phối chính
                    thức, độc quyền tại Việt Nam bởi Maison. Tháng 4 năm 2019, cửa hàng đầu tiên của thương hiệu FSPORT
                    xuất hiện tại những trung tâm thương mại lớn ở TP. Hồ Chí Minh với các sản phẩm chủ đạo, đáp ứng nhu
                    cầu của giới mộ điệu ở mọi lứa tuổi, sở thích khác nhau:</h5>

<!--            </div>-->
            <!--nội dung-->
<!--            <div class="tab-pane fade text-center active show" id="gird">-->
<!--                <div class="single-products row" >-->
<!--                    <div class="col-md-3" th:each="sp, stt : ${page}">-->
<!--                        <div class="product-item margin40">-->
<!--                            <div class="pro-img">-->
<!--                                <a th:href="@{/detailsanphamCustomer/{id}(id=${sp[0]})}">-->
<!--                                    <img th:if="${sp[6] != null}"-->
<!--                                         th:src="@{'/upload/' + ${sp[6].substring(sp[6].lastIndexOf('upload') + 6)}}"-->
<!--                                         class="d-block w-100 carousel-img rounded-3" alt="Ảnh">-->
<!--                                </a>-->
<!--                                <div class="tag-n-s">-->
<!--                                    <span>New</span>-->
<!--                                </div>-->
<!--                                <div class="actions-btn">-->
<!--                                    <ul class="clearfix">-->
<!--                                        <li>-->
<!--                                            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <a href="#"><i class="fa fa-heart"></i></a>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view"><i-->
<!--                                                    class="fa fa-eye"></i></a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-title">-->
<!--                                <a href="#"><h3 class="title" th:text="${sp[1]}"></h3></a>-->
<!--                                <div class="ratting">-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star gray-star"></i>-->
<!--                                </div>-->
<!--                                <p>-->
<!--                                    <span style="color: red;font-weight: bold"  th:text="${#numbers.formatDecimal(sp[5], 0, 'COMMA', 0, 'POINT') + '&#x20ab;'}"></span>-->
<!--                                    &lt;!&ndash;                                    <del >$170.00</del>&ndash;&gt;-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;-end&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
            <!--end-->
        </div>
        <!--end-->
    </div>
</section>
<!-- product content section end -->
<!-- footer start -->
<nav th:replace="~{/layout/footer.html}"></nav>
<!-- footer end -->

</body>
</html>

