<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<!--<nav th:replace="~{/layoutadmin/head.html}"></nav>-->
<nav th:replace="~{/layout/head.html}"></nav>
<style>
    .tab {
        overflow: hidden;
    }

    .tab a {
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 30px;
        color: #888; /* Màu chữ ban đầu là xám */
    }

    .tab a:hover {
    }

    .tab a.active {
        color: #000; /* Màu chữ khi được chọn là đen */
    }

    .tabcontent {
        display: none;
        padding: 6px 12px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 550px; /* Độ rộng của tab content */
        text-align: center; /* Căn giữa nội dung tab content */
    }

    .form123 {
        position: relative;
        margin-bottom: 15px;
    }

    .form123 label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 16px;
        color: black;
        font-weight: bold;
        padding: 0 5px;
        pointer-events: none;
        transition: .5s;
    }

    .form123 input {
        width: 100%;
        height: 45px;
        font-size: 16px;
        color: black;
        padding: 0 10px;
        background: transparent;
        outline: none;
        border-radius: 5px;
    }

    .form123 input ~ label {
        top: 0;
        font-size: 12px;
        background: white;
    }

    .link-container {
        display: flex;
        justify-content: start;
        padding-left: 15px;
        margin: 0; /* Đặt margin cho link-container */
    }

    .link-container p {
        margin: 0;
    }

    .link-container + .link-container {
        margin-top: 0; /* Đảm bảo khoảng cách giữa các container là 0 */
    }

    #abc .link-container {
        margin-bottom: 0; /* Đảm bảo khoảng cách giữa các container bên trong abc là 0 */
    }
</style>
<body>
<nav th:replace="~{/layout/header.html}"></nav>

<div class="tab d-flex justify-content-center mt-4">
    <a id="dangnhap" class="btn tablinks" onclick="openTab(event, 'login')">ĐĂNG NHẬP</a>
    <strong style="font-size: 40px; color: #888;">|</strong>
    <a class="btn tablinks" onclick="openTab(event, 'register')" id="defaultOpen">ĐĂNG KÝ</a>
</div>

<div id="login" class="tabcontent">
    <!--    <h3>Form Đăng Nhập</h3>-->
    <form id="formDangNhap" th:object="${dangnhap}" th:method="post" th:action="@{/dangnhap}">
        <div class="form123 mt-3">
            <input type="text" placeholder="Vui lòng nhập tên đăng nhập" th:field="*{username}"/>
            <label>Tên đăng nhập</label>
        </div>
        <div class="form123 mt-4">
            <input type="password" placeholder="Vui lòng nhập mật khẩu" th:field="*{password}"/>
            <label>Mật khẩu</label>
        </div>
        <p th:text="${error}" style="color: red"></p>
        <div class="mt-6 d-flex justify-content-start">
            <button type="submit"
                    style="background-color: rgb(249,72,42);color: white; padding: 5px 10px; width: 120px; height: 46px; border-radius: 15px; border-color: rgb(249,72,42);">
                ĐĂNG NHẬP
            </button>
            <div id="abc">
                <div class="link-container">
                    <p>Bạn chưa có tài khoản?</p>
                    <a href="#" id="registerLink"
                       style="color: rgb(249,72,42); padding-left: 5px; text-decoration: none;">Đăng ký ngay</a>
                </div>
                <div class="link-container">
                    <p>Bạn quên mật khẩu?</p>
                    <a href="#" id="khoiphucmk"
                       style="color: rgb(249,72,42); padding-left: 5px; text-decoration: none;">Khôi phục mật khẩu</a>
                </div>
            </div>
        </div>
    </form>
    <!--FORM KHOI PHUC MAT KHAU-->
    <form id="formKhoiPhuc">
        <h4 class="mt-3 d-flex justify-content-start">Khôi phục mật khẩu</h4>
        <div class="form123 mt-3">
            <input type="text" placeholder="Vui lòng nhập email" name="emailResetPassword"/>
            <label>Email</label>
        </div>
        <span class="mt-3" id="emailResetError" style="color: red"></span>
        <div class="mt-6 d-flex justify-content-start">
            <button id="btnKhoiPhuc" type="submit"
                    style="background-color: rgb(249,72,42);color: white; padding: 5px 10px; width: 120px; height: 46px; border-radius: 15px; border-color: rgb(249,72,42);">
                GỬI
            </button>
        </div>
    </form>
    <!--FORM XAC NHAN TAI KHOAN-->
    <form id="formXacNhan">
        <h4 class="mt-3 d-flex justify-content-start">Xác nhân tài khoản</h4>
        <div class="form123 mt-3">
            <input type="text" placeholder="Vui lòng nhập mã xác nhận" name="codeReset"/>
            <label>Mã xác nhận</label>
            <input type="hidden" id="userId" name="userId" th:value="${session.userIdKhachHang}">
        </div>
        <span class="mt-3" id="codeResetError" style="color: red"></span>
        <p class="mt-3" id="thongbaoCode" style="color: red; font-size: medium">Mã đặt lại mật khẩu đã được gửi đến email của bạn, hết hạn trong:
        <span id="countdownTimer">60 giây</span>
        <p id="thongBaoResendCode" style="color: green; display: none">Mã khôi phục mật khẩu đã được gửi lại</p>
        </p>
        <div class="mt-6 d-flex justify-content-start">
            <button id="btnXacNhan" type="button"
                    style="background-color: rgb(249,72,42);color: white; padding: 5px 10px; width: 120px; height: 46px; border-radius: 15px; border-color: rgb(249,72,42);">
                XÁC NHẬN
            </button>
            <a id="btnResendCode" class="btn btn-link" style="display: none">Gửi lại mã</a>
        </div>
    </form>
    <!--FORM ĐỔI MẬT KHẨU-->
    <form id="formDoiMatKhau">
        <h4 class="mt-3 d-flex justify-content-start">Thiết lập mật khẩu mới</h4>
        <div class="form123 mt-3">
            <input type="text" placeholder="Vui lòng nhập mật khẩu mới" id="matkhaumoi"/>
            <label>Mật khẩu mới</label>
            <span class="mt-3" id="maukhaummoiError" style="color: red"></span>
        </div>
        <div class="form123 mt-3">
            <input type="text" placeholder="Vui lòng xác nhận mật khẩu" id="confirmmatkhau"/>
            <label>Xác nhận mật khẩu</label>
            <span class="mt-3" id="confirmError" style="color: red"></span>
        </div>
        <div class="mt-6 d-flex justify-content-start">
            <button id="btnDoiMatKhau" type="submit"
                    style="background-color: rgb(249,72,42);color: white; padding: 5px 10px; width: 150px; height: 46px; border-radius: 15px; border-color: rgb(249,72,42);">
                ĐỔI MẬT KHẨU
            </button>
        </div>
    </form>
</div>

<div id="register" class="tabcontent">
    <!--    <h3>Form Đăng Ký</h3>-->
    <form th:object="${nguoidung}" th:action="@{/dangky}" th:method="post" id="formDangKy" name="formDangKy"
          onsubmit="return validateDangKy();">
        <div class="form123 mt-3">
            <input th:field="*{hovaten}" id="hovaten" type="text" placeholder="Họ tên"/>
            <label>Họ tên</label>
            <span id="tenError" style="color: red;"></span>
        </div>
        <div class="form123 mt-4">
            <input type="date" th:field="*{ngaysinh}" onkeydown="return false"/>
            <label>Ngày sinh</label>
            <span id="ngaysinhError" style="color: red;"></span>
        </div>
        <!--        <div class="d-flex mt-4">-->
        <!--            <p style="font-size: 16px; font-weight: bold">Giới tính: </p>-->
        <!--            <div class="form-check" style="margin-left: 10px;">-->
        <!--                <input class="form-check-input" type="radio" th:field="*{gioitinh}" value="1" checked/>-->
        <!--                <label class="form-check-label">-->
        <!--                    Nam-->
        <!--                </label>-->
        <!--            </div>-->
        <!--            <div class="form-check" style="margin-left: 10px;">-->
        <!--                <input class="form-check-input" type="radio" th:field="*{gioitinh}" value="0"/>-->
        <!--                <label class="form-check-label">-->
        <!--                    Nữ-->
        <!--                </label>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="form123 mt-4">
            <input type="text" placeholder="Tên đăng nhập" th:field="*{taikhoan}" id="taikhoan"/>
            <label>Tên đăng nhập</label>
            <span id="taikhoanError" style="color: red;"></span>
        </div>
        <div class="form123 mt-4">
            <input type="text" placeholder="Số điện thoại" th:field="*{sodienthoai}"/>
            <label>Số điện thoại</label>
            <span id="sdtError" style="color: red;"></span>
        </div>
        <div class="form123 mt-4">
            <input type="text" placeholder="Email" th:field="*{email}"/>
            <label>Email</label>
            <span id="emailError" style="color: red;"></span>
        </div>
        <div class="form123 mt-4">
            <input type="password" placeholder="Mật khẩu" th:field="*{matkhau}"/>
            <label>Mật khẩu</label>
            <span id="matkhauError" style="color: red;"></span>
        </div>
        <div class="form123 mt-4">
            <input type="password" id="xacnhanmatkhau" placeholder="Xác nhận mật khẩu"/>
            <label>Xác nhận mật khẩu</label>
            <span id="xacnhanmkError" style="color: red;"></span>
        </div>
        <div class="mt-6 d-flex justify-content-start">
            <button type="submit"
                    style="background-color: rgb(249,72,42);color: white; padding: 5px 10px; width: 120px; height: 46px; border-radius: 15px; border-color: rgb(249,72,42);">
                ĐĂNG KÝ
            </button>
            <p style="padding-left: 15px; margin-top: 10px;">Bạn đã có tài khoản?</p>
            <a href="#" id="loginLink"
               style="color: rgb(249,72,42); padding-left: 5px; margin-top: 10px; text-decoration: none;">Đăng nhập
                ngay</a>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/jsqr"></script>

<script th:inline="javascript">
    var lstEmailFromDb = /*[[${lstEmail}]]*/ [];
    var lstSdtFromDb = /*[[${lstSdt}]]*/ [];
    var lstTaiKhoanFromDb = /*[[${lstTaiKhoan}]]*/ [];
    /*<![CDATA[*/
    var opentab = /*[[${opentab}]]*/ false;
    /*]]>*/
    var dangkySuccess = /*[[${dangkySuccess}]]*/ false;
    if (dangkySuccess === true) {
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });

        Toast.fire({
            icon: "success",
            title: "Đăng ký thành công!"
        });
    }
</script>
<script>
    if (opentab === true) {
        document.getElementById("dangnhap").click();
    } else {
        document.getElementById("defaultOpen").click();
    }
    document.getElementById("formKhoiPhuc").style.display = "none";
    document.getElementById("formXacNhan").style.display = "none";
    document.getElementById("formDoiMatKhau").style.display = "none";

    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    document.getElementById("loginLink").addEventListener("click", function (event) {
        event.preventDefault();
        document.getElementById("dangnhap").click();
    });

    document.getElementById("registerLink").addEventListener("click", function (event) {
        event.preventDefault();
        document.getElementById("defaultOpen").click();
    });
    document.getElementById("khoiphucmk").addEventListener("click", function (event) {
        event.preventDefault();
        document.getElementById("formDangNhap").style.display = "none";
        document.getElementById("formKhoiPhuc").style.display = "block";
    });
    // document.getElementById("btnDoiMatKhau").addEventListener("click", function (event) {
    //     event.preventDefault();
    //     document.getElementById("formDoiMatKhau").style.display = "none";
    //     document.getElementById("formDangNhap").style.display = "block";
    // });

    document.getElementById("btnKhoiPhuc").addEventListener("click", function (event) {
        event.preventDefault();

        var email = document.querySelector("#formKhoiPhuc input[name='emailResetPassword']").value;
        var emailResetError = document.getElementById("emailResetError");
        var btnResendCode = document.getElementById('btnResendCode');

        emailResetError.innerText = '';

        if (email.trim() === '') {
            emailResetError.innerText = 'Vui lòng nhập email';
            return;
        }
        if (/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test(email) === false) {
            emailResetError.innerText = 'Email không hợp lệ';
            return;
        }

        const urlSendCode = `http://localhost:8080/api/send-code?emailResetPassword=${email}`;

        fetch(urlSendCode, { method: 'POST' })
            .then(response => {
                if (!response.ok) {
                    // Xử lý lỗi dựa trên mã trạng thái HTTP
                    if (response.status === 400) {
                        return response.text().then(text => { throw new Error(text); });
                    }
                    throw new Error('Đã xảy ra lỗi khi gửi mã khôi phục.');
                }
                return response.text();
            })
            .then(data => {
                emailResetError.innerText = ''; // Xóa thông báo lỗi cũ
                emailResetError.innerText = data; // Hiển thị thông báo thành công
                document.getElementById("formKhoiPhuc").style.display = "none";
                document.getElementById("formXacNhan").style.display = "block";
                var countdownTimer = document.getElementById("countdownTimer");
                let seconds = 60;
                countdownTimer.innerText = `60 giây`;
                let countdownInterval = setInterval(function() {
                    seconds--;
                    countdownTimer.innerText = `${seconds} giây`;
                    if (seconds <= 0) {
                        clearInterval(countdownInterval);
                        countdownTimer.innerText = 'Hết thời gian';
                        btnResendCode.style.display = 'block';
                    }
                }, 1000);
            })
            .catch(error => {
                emailResetError.innerText = error.message; // Hiển thị thông báo lỗi cho người dùng
            });
    });

    document.getElementById("btnXacNhan").addEventListener("click", function (event) {
        event.preventDefault();

        var email = document.querySelector("#formKhoiPhuc input[name='emailResetPassword']").value;
        var code = document.querySelector("#formXacNhan input[name='codeReset']").value;
        var id = document.querySelector("#formXacNhan input[name='userId']").value;
        var codeResetError = document.getElementById('codeResetError');

        // Xóa thông báo lỗi cũ
        codeResetError.innerText = '';

        if (code.trim() === '') {
            codeResetError.innerText = 'Vui lòng nhập mã xác nhận';
            return;
        }

        fetch(`/api/validate-code`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: new URLSearchParams({ emailResetPassword: email, codeReset: code, userId: id })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Mã xác nhận không hợp lệ.');
                }
                return response.text();
            })
            .then(data => {
                // Xóa thông báo lỗi cũ
                codeResetError.innerText = '';
                document.getElementById("formXacNhan").style.display = "none";
                document.getElementById("formDoiMatKhau").style.display = "block";
            })
            .catch(error => {
                // Hiển thị thông báo lỗi cho người dùng
                codeResetError.innerText = error.message;
            });
    });
    document.getElementById("btnDoiMatKhau").addEventListener("click", function (event) {
        event.preventDefault();

        var email = document.querySelector("#formKhoiPhuc input[name='emailResetPassword']").value;
        var newPassword = document.getElementById("matkhaumoi").value;
        var confirmPassword = document.getElementById("confirmmatkhau").value;
        var maukhaummoiError = document.getElementById('maukhaummoiError');
        var confirmError = document.getElementById('confirmError');

        maukhaummoiError.innerText = '';
        confirmError.innerText = '';

        if (newPassword.trim() === '') {
            maukhaummoiError.innerText = 'Vui lòng nhập mật khẩu mới';
            return;
        }

        if (newPassword.length < 8) {
            maukhaummoiError.innerText = 'Mật khẩu mới phải có ít nhất 8 ký tự';
            return;
        }

        if (/\s/.test(newPassword)) {
            maukhaummoiError.innerText = 'Mật khẩu không được chứa khoảng trắng';
            return;
        }


        if (newPassword !== confirmPassword) {
            confirmError.innerText = 'Mật khẩu xác nhận không khớp';
            return;
        }


        fetch(`/api/change-password`, {
            method: 'POST',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body: new URLSearchParams({emailResetPassword: email, newPassword: newPassword})
        })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => { throw new Error(text); });
                }
                return response.text();
            })
            .then(data => {
                alert(data);
                // document.getElementById("formDoiMatKhau").style.display = "none";
                window.location.href = '/account'
            })
            .catch(error => {
                console.error('Error:', error);
                alert(error.message);
            });
    });

    document.getElementById("btnResendCode").addEventListener("click", function (event) {
        event.preventDefault();

        var email = document.querySelector("#formKhoiPhuc input[name='emailResetPassword']").value;
        var btnResendCode = document.getElementById('btnResendCode');
        var thongBaoResendCode = document.getElementById('thongBaoResendCode');
        btnResendCode.style.display = 'none';
        thongBaoResendCode.style.display = 'block'

        const urlSendCode = `http://localhost:8080/api/send-code?emailResetPassword=${email}`;

        fetch(urlSendCode, { method: 'POST' })
            .then(response => {
                if (!response.ok) {
                    // Xử lý lỗi dựa trên mã trạng thái HTTP
                    if (response.status === 400) {
                        return response.text().then(text => { throw new Error(text); });
                    }
                    throw new Error('Đã xảy ra lỗi khi gửi mã khôi phục.');
                }
                return response.text();
            })
            .then(data => {
                var countdownTimer = document.getElementById("countdownTimer");
                let seconds = 60;
                countdownTimer.innerText = `60 giây`;
                let countdownInterval = setInterval(function() {
                    seconds--;
                    countdownTimer.innerText = `${seconds} giây`;
                    if (seconds <= 0) {
                        clearInterval(countdownInterval);
                        countdownTimer.innerText = 'Hết thời gian';
                        btnResendCode.style.display = 'block';
                        thongBaoResendCode.style.display = 'none';
                    }
                }, 1000);
            })

    })

</script>
<script>
    const specialCharPattern = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
    const numberPattern = /\d/;
    const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    const phoneNumberPattern = /^0[0-9]{9}$/;
    const vietnameseRegex = /[âăđêôơưáàảãạấầẩẫậắằẳẵặéèẻẽẹếềểễệíìỉĩịóòỏõọốồổỗộớờởỡợúùủũụứừửữự]/i;

    function validateDangKy() {
        var tenInput = document.getElementById('hovaten').value.trim();
        var ngaySinhInput = document.getElementById('ngaysinh');
        var taikhoanInput = document.getElementById('taikhoan').value.trim();
        var emailInput = document.getElementById('email').value.trim();
        var sdtInput = document.getElementById('sodienthoai').value.trim();
        var matkhauInput = document.getElementById('matkhau').value.trim();
        var matkhauxnInput = document.getElementById('xacnhanmatkhau').value.trim();

        var ngaySinhValue = new Date(ngaySinhInput.value);
        var today = new Date();

        var ngaysinhError = document.getElementById('ngaysinhError');
        var tenError = document.getElementById('tenError');
        var emailError = document.getElementById('emailError');
        var sdtError = document.getElementById('sdtError');
        var taikhoanError = document.getElementById('taikhoanError');
        var matkhauError = document.getElementById('matkhauError');
        var xacnhanmkError = document.getElementById('xacnhanmkError');

        var isValid = true;

        ngaysinhError.innerText = '';
        tenError.innerText = '';
        emailError.innerText = '';
        sdtError.innerText = '';
        taikhoanError.innerText = '';
        matkhauError.innerText = '';
        xacnhanmkError.innerText = '';

        var age = today.getFullYear() - ngaySinhValue.getFullYear();
        var monthDiff = today.getMonth() - ngaySinhValue.getMonth();
        if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < ngaySinhValue.getDate())) {
            age--;
        }

        if (ngaySinhInput.value === '') {
            ngaysinhError.innerText = 'Ngày sinh không được trống';
            isValid = false;
        } else if (ngaySinhValue > today) {
            ngaysinhError.innerText = 'Ngày sinh không được lớn hơn ngày hiện tại';
            isValid = false;
        } else if (age <= 16) {
            ngaysinhError.innerText = 'Tuổi phải từ 16 trở lên';
            isValid = false;
        } else if (age > 70) {
            ngaysinhError.innerText = 'Tuổi phải từ 70 trở xuống';
        }
        if (tenInput === '') {
            tenError.innerText = 'Họ và tên không được trống';
            isValid = false;
        } else if (specialCharPattern.test(tenInput)) {
            tenError.innerText = 'Họ và tên không được chứa ki tự đặc biệt';
            isValid = false;
        } else if (numberPattern.test(tenInput)) {
            tenError.innerText = 'Họ và tên không được chứa số';
            isValid = false;
        } else if (tenInput.length > 50) {
            tenError.innerText = 'Họ và tên không được quá 50 ký tự';
            isValid = false;
        }
        if (emailInput === '') {
            emailError.innerText = 'Email không được trống';
            isValid = false;
        } else if (!emailPattern.test(emailInput)) {
            emailError.innerText = 'Email không hợp lệ';
            isValid = false;
        } else if (checkTrungEmail() === false) {
            emailError.innerText = 'Email đã tồn tại';
            isValid = false;
        }
        if (sdtInput === '') {
            sdtError.innerText = 'Số điện thoại không được trống';
            isValid = false;
        } else if (!phoneNumberPattern.test(sdtInput)) {
            sdtError.innerText = 'Số điện thoại không hợp lệ';
            isValid = false;
        } else if (checkTrungSdt() === false) {
            sdtError.innerText = 'Số điện thoại đã tồn tại';
            isValid = false;
        }
        if (taikhoanInput === '') {
            taikhoanError.innerText = 'Tài khoản không được trống';
            isValid = false;
        } else if (specialCharPattern.test(taikhoanInput)) {
            taikhoanError.innerText = 'Tài khoản không được chứa ký tự đặc biệt';
            isValid = false;
        } else if (taikhoanInput.length < 5) {
            taikhoanError.innerText = 'Tài khoản phải tối thiểu 5 ký tự';
            isValid = false;
        } else if (vietnameseRegex.test(taikhoanInput)) {
            taikhoanError.innerText = 'Tài khoản không được chứa dấu câu';
            isValid = false;
        } else if (checkTrungTaiKhoan() === false) {
            taikhoanError.innerText = 'Tài khoản đã tồn tại';
            isValid = false;
        }
        if (matkhauInput === '') {
            matkhauError.innerText = 'Mật khẩu không được trống';
            isValid = false;
        } else if (matkhauInput.length < 8) {
            matkhauError.innerText = 'Mật khẩu phải tối thiểu 8 ký tự';
            isValid = false;
        }
        if (matkhauxnInput === '') {
            xacnhanmkError.innerText = 'Mật khẩu xác nhận được trống';
            isValid = false;
        } else if (matkhauxnInput !== matkhauInput) {
            xacnhanmkError.innerText = 'Mật khẩu không khớp';
            isValid = false;
        }

        return isValid;
    }

    function checkTrungEmail() {
        var emailInput = document.getElementById('email').value;
        var isVaLid = true;
        for (var i = 0; i < lstEmailFromDb.length; i++) {
            if (emailInput.toLowerCase().trim() === lstEmailFromDb[i]) {
                isVaLid = false;
                break;
            }
        }
        return isVaLid;
    }

    function checkTrungSdt() {
        var sdtInput = document.getElementById('sodienthoai').value;
        var isVaLid = true;
        for (var i = 0; i < lstSdtFromDb.length; i++) {
            if (sdtInput.trim() === lstSdtFromDb[i]) {
                isVaLid = false;
                break;
            }
        }
        return isVaLid;
    }

    function checkTrungTaiKhoan() {
        var taikhoanInput = document.getElementById('taikhoan').value;
        var isVaLid = true;
        for (var i = 0; i < lstTaiKhoanFromDb.length; i++) {
            if (taikhoanInput.toLowerCase().trim() === lstTaiKhoanFromDb[i]) {
                isVaLid = false;
                break;
            }
        }
        return isVaLid;
    }
</script>

</body>
</html>
