<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<!--thư viện-->
<nav th:replace="~{/layout/head.html}"></nav>
<!--end-->
<body>

<!-- header section start -->
<nav th:replace="~{/layout/header.html}"></nav>
<!-- header section end -->

<!-- page banner area start -->
<nav th:replace="~{/layout/banner.html}"></nav>
<!-- page banner area end -->

<!-- product details area start -->
<section class="product-details section-padding-top">
    <div class="container">
        <div class="row" th:each="spct, stt : ${sanphamchitiet}">
            <div class="col-md-6">
                <div class="left">
                    <!-- Single-pro-slider Big-photo start -->
                    <div class="large-slider zoom-gallery">
                        <div th:id="'carouselExample' + ${spct.id}" class="carousel">
                            <div class="carousel-inner">
                                <th:block th:each="anhs, index : ${spct.anh}">
                                    <div th:classappend="${index.index == 0} ? 'carousel-item active' : 'carousel-item'">
                                        <img th:if="${anhs.tenanh != null}"
                                             th:src="@{'/upload/' + ${anhs.tenanh.substring(anhs.tenanh.lastIndexOf('upload') + 6)}}"
                                             class="d-block w-100 carousel-img rounded-3" alt="Ảnh">
                                    </div>
                                </th:block>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    th:data-bs-target="'#carouselExample' + ${spct.id}"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    th:data-bs-target="'#carouselExample' + ${spct.id}"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right">
                    <div class="singl-pro-title">

                        <h3 th:text="${spct.sanpham.tensanpham}"></h3>
                        <td th:text="'SPCT00000'+${spct.id + 1}" style="font-weight: bold"></td>
                        <h1 style="color: red;font-weight: bold"  th:text="${#numbers.formatDecimal(spct.giatien, 0, 'COMMA', 0, 'POINT') + '&#x20ab;'}"></h1>
                        Kích cỡ:
                        <p>
                            <a style="background-color: rgb(249,72,42);color: white" class="btn" th:text="${spct.kichco.ten}"></a>

                        </p>
                        Số lượng:
                        <p>

                            <input type="number" th:value="${spct.soluong}">
                        </p>
                        <p>Mô tả</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product details area end -->

<!-- related product section start -->
<section class="related-area riding-one">
    <div class="container">
        <div class="related-title">
            <h5>NHỮNG SẢN PHẨM TƯƠNG TỰ</h5>
        </div>
        <div class="row text-center my-5">
            <div class="col-12">
                <div class="related-slider single-products">

                    <div class="product-item-wrap">
                        <div class="product-item">
                            <div class="pro-img">
                                <a href="product-details.html"><img src="../dist/img/bong1.jpg" width="263" height="299" alt="Product" /></a>
                                <div class="tag-n-s">
                                    <span>New</span>
                                </div>
                            </div>
                            <div class="riding-title clearfix">
                                <div class="product-title text-start floatleft">
                                    <a href="#"><h3 class="title">Copenhagen Spitfire Chair</h3></a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star gray-star"></i>
                                    </div>
                                    <p><span>$170</span> <del>$175</del></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-item-wrap">
                        <div class="product-item">
                            <div class="pro-img">
                                <a href="product-details.html"><img src="../dist/img/bong2.jpg" width="263" height="299" alt="Product" /></a>
                            </div>
                            <div class="riding-title clearfix">
                                <div class="product-title text-start floatleft">
                                    <a href="#"><h3 class="title">Copenhagen Spitfire Chair</h3></a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star gray-star"></i>
                                        <i class="fa fa-star gray-star"></i>
                                    </div>
                                    <p><span>$170</span> <del>$175</del></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-item-wrap">
                        <div class="product-item">
                            <div class="pro-img">
                                <a href="product-details.html"><img src="../dist/img/bong3.jpg" width="263" height="299" alt="Product" /></a>
                                <div class="tag-n-s">
                                    <span>Sell</span>
                                </div>
                            </div>
                            <div class="riding-title clearfix">
                                <div class="product-title text-start floatleft">
                                    <a href="#"><h3 class="title">Copenhagen Spitfire Chair</h3></a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star gray-star"></i>
                                    </div>
                                    <p><span>$170</span> <del>$175</del></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-item-wrap">
                        <div class="product-item">
                            <div class="pro-img">
                                <a href="product-details.html"><img src="../dist/img/bong1.jpg" width="263" height="299" alt="Product" /></a>
                                <div class="tag-n-s">
                                    <span>New</span>
                                </div>
                            </div>
                            <div class="riding-title clearfix">
                                <div class="product-title text-start floatleft">
                                    <a href="#"><h3 class="title">Copenhagen Spitfire Chair</h3></a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star gray-star"></i>
                                    </div>
                                    <p><span>$170</span> <del>$175</del></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-item-wrap">
                        <div class="product-item">
                            <div class="pro-img">
                                <a href="product-details.html"><img src="../dist/img/bong1.jpg" width="263" height="299" alt="Product" /></a>
                                <div class="tag-n-s">
                                    <span>New</span>
                                </div>
                            </div>
                            <div class="riding-title clearfix">
                                <div class="product-title text-start floatleft">
                                    <a href="#"><h3 class="title">Copenhagen Spitfire Chair</h3></a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star gray-star"></i>
                                    </div>
                                    <p><span>$170</span> <del>$175</del></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- related product section end -->

<!-- footer section start -->
<nav th:replace="~{/layout/footer.html}"></nav>
<!-- footer section end -->

</body>
</html>
