<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<!--thư viện-->
<nav th:replace="~{/layoutadmin/head.html}"></nav>
<nav th:replace="~{/layout/head.html}"></nav>
<!--end-->
<style>
    /*phantrang*/
    .custom-btn {
        border-color: rgb(249, 72, 42);
        color: black;
        border-radius: 25px;
        margin-left: 5px;
    }

    .custom-btn.active {
        background-color: rgb(249, 72, 42);
        color: white !important;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    /*checkbox*/
    .checkbox-red:checked {
        background-color: red;
    }
</style>
<body>

<!-- header -->
<nav th:replace="~{/layout/header.html}"></nav>
<!-- header end -->

<!-- page banner -->
<!--<nav th:replace="~{/layout/banner.html}"></nav>-->
<!-- page banner end -->

<!-- product content section start -->
<section class="product-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1 pt-5 pt-lg-0">
                <div class="sidebar left-sidebar">
                    <div class="category single-side">
                        <form id="filterForm" th:method="get" th:object="${search2}">
                            <div class="sidebar-title">
                                <h3>SIZE</h3>

                                <div th:each="kichco : ${kc}" class="d-flex align-items-center justify-content-between">
                                    <p class="custom-control custom-switch">
                                        <input type="checkbox" th:field="*{idKichCo2}" th:value="${kichco.id}"
                                               style="color: rgb(249, 72, 42); font-weight: bold;"
                                               class="custom-control-input" th:id="'customSwitch-' + ${kichco.id}"
                                               onchange="filterProducts2()"/>
                                        <label th:text="${kichco.ten}" style="margin-right: 10px;"
                                               class="custom-control-label"
                                               th:for="'customSwitch-' + ${kichco.id}"></label>
                                    </p>
                                    <span class="ml-3">(5)</span>
                                </div>
                            </div>
                            <p></p>
                            <div class="sidebar-title">
                                <h3>THƯƠNG HIỆU</h3>
                                <div th:each="thuonghieu : ${th}"
                                     class="d-flex align-items-center justify-content-between">
                                    <p>
                                        <input type="checkbox" th:field="*{idThuongHieu}" th:value="${thuonghieu.id}"
                                               style="color: rgb(249, 72, 42); font-weight: bold;"
                                               class="form-check-input checkbox checkbox-red"
                                               onchange="filterProducts()">
                                        <label th:text="${thuonghieu.ten}" style="margin-left: 25px;"></label>
                                    </p>
                                    <span class="ml-3" th:text="${'('+soLuongThuongHieu+')'}"></span>
                                </div>

                            </div>
                        </form>
                        <div class="sidebar-title">
                            <h3>Giá tiền</h3>
                            <div class="slidecontainer" style="width: 300px;">
                                <input type="range" min="1" max="100" value="50" style="width: 70%;">
                            </div>
                        </div>

                    </div>
                    <!--ảnh hover-->
                    <div class="sidebar-banner banner-hover">
                        <a href="#"><img src="../../dist/img/sale.jpg" width="263" height="406" alt="Banner"/></a>
                    </div>
                    <!--end-->
                </div>
            </div>

            <div class="col-lg-9 order-1 order-lg-2">
                <div class="shop-menu clearfix">
                    <div class="left floatleft">
                        <div style="margin-left: auto; margin-right: 20px;">
                            <div style="position: relative;">
                                <input class="form-control" type="search" placeholder="Tìm kiếm sản phẩm..."
                                       aria-label="Search" style="width: 784px; padding-right: 40px;">
                                <span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%);">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
               viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg>
        </span>
                            </div>
                        </div>
                    </div>
                    <div class="right floatright">
                        <!--tăng dần, giảm dần-->
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sắp xếp theo giá
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" th:href="@{/customer/sanphamnam/sap-xep-tangdan}"
                                   style="font-family:'Bahnschrift">Tăng dần</a>
                                <a class="dropdown-item" th:href="@{/customer/sanphamnam/sap-xep-giamdan}"
                                   style="font-family:'Bahnschrift">Giảm dần</a>
                            </div>
                        </div>
                        <!--end-->
                    </div>
                </div>
                <div class="tab-content">
                    <!--nội dung-->
                    <div class="tab-pane fade text-center active show" id="gird">
                        <div class="single-products row">
                            <div class="col-md-3" th:each="sp, stt : ${listnam.content}">
                                <div class="product-item margin40">
                                    <div class="pro-img">
                                        <a th:href="@{/detailsanphamCustomer/{id}(id=${sp[0]})}">
                                            <img th:if="${sp[6] != null}"
                                                 th:src="@{'/upload/' + ${sp[6].substring(sp[6].lastIndexOf('upload') + 6)}}"
                                                 class="d-block w-100 carousel-img rounded-3" alt="Ảnh">
                                        </a>
                                        <div class="tag-n-s">
                                            <span>New</span>
                                        </div>
                                        <div class="actions-btn">
                                            <ul class="clearfix">
                                                <li>
                                                    <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-heart"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view"><i
                                                            class="fa fa-eye"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-title">
                                        <a href="#"><h3 class="title" th:text="${sp[1]}"></h3></a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star gray-star"></i>
                                        </div>
                                        <p>
                                            <span style="color: red;font-weight: bold"
                                                  th:text="${#numbers.formatDecimal(sp[5], 0, 'COMMA', 0, 'POINT') + '&#x20ab;'}"></span>
                                            <!--                                    <del >$170.00</del>-->
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!---end-->
                        </div>
                        <div th:if="${listnam.empty}">
                            <div>
                                <img src="../../dist/img/norecord.png" style="width: 250px;height: 150px">
                            </div>
                            <div style="margin-left: 10px">Không tìm thấy kết quả</div>
                        </div>
                    </div>
                    <!--end-->
                    <!--phân trang-->
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Nút trang trước -->
                        <a th:href="@{/customer/sanphamnam(p=${listnam.number-1})}" class="text-decoration-none mx-2"
                           th:classappend="${listnam.number == 0} ? 'disabled' : ''" style="color: black;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                            </svg>
                        </a>

                        <!-- Các trang -->
                        <div th:if="${listnam.totalPages > 0}" class="d-flex mx-2">
                            <div th:each="i : ${#numbers.sequence(0, listnam.totalPages-1)}">
                                <a th:href="@{/customer/sanphamnam(p=${i})}"
                                   th:classappend="${i == listnam.number} ? 'active' : ''"
                                   class="text-decoration-none btn custom-btn mx-1"
                                   th:text="${i + 1}"></a>
                            </div>
                        </div>

                        <!-- Nút trang sau -->
                        <a th:href="@{/customer/sanphamnam(p=${listnam.number+1})}" class="text-decoration-none mx-2"
                           th:classappend="${listnam.number + 1 >= listnam.totalPages} ? 'disabled' : ''" style="color: black;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                            </svg>
                        </a>
                    </div>

                </div>
            </div>
        </div>


        <h3 style="margin-top: 30px;color:rgb(249,72,42);font-family: 'Lucida Sans Typewriter' " class="text-center">CÁC
            SẢN PHẨM NỔI BẬT</h3>
        <hr class="border border-danger border opacity-50">
        <div class="tab-content">
            <!--nội dung-->
            <div class="tab-pane fade text-center active show" id="gird">
                <div class="single-products row">
                    <div class="col-md-3" th:each="sp, stt : ${page}">
                        <div class="product-item margin40">
                            <div class="pro-img">
                                <a th:href="@{/detailsanphamCustomer/{id}(id=${sp[0]})}">
                                    <img th:if="${sp[6] != null}"
                                         th:src="@{'/upload/' + ${sp[6].substring(sp[6].lastIndexOf('upload') + 6)}}"
                                         class="d-block w-100 carousel-img rounded-3" alt="Ảnh">
                                </a>
                                <div class="tag-n-s">
                                    <span>New</span>
                                </div>
                                <div class="actions-btn">
                                    <ul class="clearfix">
                                        <li>
                                            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view"><i
                                                    class="fa fa-eye"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-title">
                                <a href="#"><h3 class="title" th:text="${sp[1]}"></h3></a>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star gray-star"></i>
                                </div>
                                <p>
                                    <span style="color: red;font-weight: bold"
                                          th:text="${#numbers.formatDecimal(sp[5], 0, 'COMMA', 0, 'POINT') + '&#x20ab;'}"></span>
                                    <!--                                    <del >$170.00</del>-->
                                </p>
                            </div>
                        </div>
                    </div>
                    <!---end-->
                </div>
            </div>
            <!--end-->
        </div>

        <!--những sản phẩm đang được giảm giá-->
        <h3 style="margin-top: 30px;color:rgb(249,72,42);font-family: 'Lucida Sans Typewriter'" class="text-center">CÁC
            SẢN PHẨM MỚI NHẤT</h3>
        <hr class="border border-danger border opacity-50">
        <div class="tab-content">
            <!--nội dung-->
            <div class="tab-pane fade text-center active show" id="gird">
                <div class="single-products row">
                    <div class="col-md-3" th:each="sp, stt : ${page2}">
                        <div class="product-item margin40">
                            <div class="pro-img">
                                <a th:href="@{/detailsanphamCustomer/{id}(id=${sp[0]})}">
                                    <img th:if="${sp[6] != null}"
                                         th:src="@{'/upload/' + ${sp[6].substring(sp[6].lastIndexOf('upload') + 6)}}"
                                         class="d-block w-100 carousel-img rounded-3" alt="Ảnh">
                                </a>
                                <div class="tag-n-s">
                                    <span>New</span>
                                </div>
                                <div class="actions-btn">
                                    <ul class="clearfix">
                                        <li>
                                            <a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view"><i
                                                    class="fa fa-eye"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-title">
                                <a href="#"><h3 class="title" th:text="${sp[1]}"></h3></a>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star gray-star"></i>
                                </div>
                                <p>
                                    <span style="color: red;font-weight: bold"
                                          th:text="${#numbers.formatDecimal(sp[5], 0, 'COMMA', 0, 'POINT') + '&#x20ab;'}"></span>
                                    <!--                                    <del >$170.00</del>-->
                                </p>
                            </div>
                        </div>
                    </div>
                    <!---end-->
                </div>
            </div>
            <!--end-->
        </div>
        <!--end-->
    </div>
</section>
<!-- product content section end -->

<!-- footer start -->
<nav th:replace="~{/layout/footer.html}"></nav>
<!--script-->
<nav th:replace="~{/layoutadmin/script.html}"></nav>
<!-- footer end -->

</body>
</html>

<script th:inline="javascript">
    /*<![CDATA[*/
    function filterProducts() {
        var form = document.getElementById('filterForm');
        form.submit();
    }

    function filterProducts2() {
        var form = document.getElementById('filterForm');
        form.submit();
    }

    /*]]>*/
</script>