<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<!--thư viện-->
<nav th:replace="~{/layout/head.html}"></nav>
<!--end-->
<body>

<!-- header -->
<nav th:replace="~{/layout/header.html}"></nav>
<!-- header end -->

<!-- product content section start -->
<section class="product-content section-padding">
    <div class="container">
        <h1 class="text-center">CỬA HÀNG FSPORT</h1>
        <h6 class="text-center"><a th:href="@{/customer/trangchu}">HOME</a>/ CỬA HÀNG FSPORT</h6>

        <hr class="border border-danger border opacity-50">
        <div class="d-flex">
            <h5>Chào mừng bạn đến với [FSPORT] - Nơi bạn tìm thấy những đôi giày hoàn hảo phản ánh phong cách và đẳng cấp của bạn!</h5>
        </div>
        <br>
        <div class="d-flex">
            <h5>Lịch Sử và Quá Trình Phát Triển</h5>
        </div>
        <br>
        <div class="d-flex">
            <h5>Chúng tôi đã khởi đầu từ một cửa hàng nhỏ tại trung tâm thành phố, với mong muốn mang lại cho mọi người những sản phẩm giày chất lượng và phục vụ tận tình. Từ đó đến nay, [FSPORT] đã trở thành điểm đến lý tưởng cho những người yêu thời trang và đam mê giày dép trên khắp đất nước.</h5>
        </div>
        <br>
        <div class="d-flex">
            <h5>Sứ Mệnh và Tầm Nhìn</h5>
        </div>
        <br>
        <div class="d-flex">
            <h5>Sứ mệnh của chúng tôi là mang lại niềm vui và tự tin cho khách hàng thông qua việc cung cấp những sản phẩm giày chất lượng cao và dịch vụ tận tình nhất. Chúng tôi không ngừng nỗ lực để trở thành điểm đến hàng đầu cho những người yêu thời trang trên toàn thế giới.</h5>
        </div>
        <br>
        <div class="d-flex">
            <h5>Giá Trị Cốt Lõi:</h5>
        </div>
        <br>
        <div class="d-flex">
            <h6>Chất lượng hàng đầu
                Dịch vụ khách hàng tận tình
                Sự đa dạng và phong phú trong sản phẩm
                Cam kết với cộng đồng và môi trường
                Đội Ngũ Nhân Viên</h6>
        </div>
        <br>
        <div class="d-flex">
            <h6>Đội ngũ nhân viên của chúng tôi không chỉ là những chuyên gia về sản phẩm mà còn là những người đam mê thời trang và luôn sẵn lòng hỗ trợ bạn tìm ra đôi giày hoàn hảo nhất cho phong cách của bạn.</h6>
        </div>
        <br>
        <div class="d-flex">
            <h5>Sản Phẩm và Dịch Vụ</h5>
        </div>

        <div class="d-flex">
            <h6>Tại [FSPORT], chúng tôi cung cấp một loạt các sản phẩm giày từ các thương hiệu hàng đầu trên thế giới. Khách hàng có thể yên tâm về chất lượng và tính đa dạng của sản phẩm, cũng như dịch vụ tư vấn chuyên nghiệp từ đội ngũ của chúng tôi.</h6>
        </div>
        <div class="d-flex">
            <h6>Theo dõi chúng tôi trên mạng xã hội: [Liên kết đến các trang mạng xã hội]
                Đánh Giá và Chứng Nhận</h6>
        </div>
        <div class="d-flex">
            <h6>Chúng tôi tự hào về những đánh giá tích cực từ khách hàng và các giải thưởng đã nhận được, là minh chứng cho sự cam kết của chúng tôi đối với chất lượng và dịch vụ.
            </h6>
        </div>

        <div class="d-flex">
            <h5>Chính Sách và Cam Kết</h5>
        </div>
        <div class="d-flex">
            <h6>Chúng tôi cam kết đảm bảo sự hài lòng và tin tưởng của khách hàng thông qua chính sách đổi trả hàng linh hoạt và cam kết bảo vệ quyền lợi của họ.
            </h6>
        </div>
        <div class="d-flex">
            <h6>Hãy đến với [FSPORT] hôm nay để trải nghiệm không gian mua sắm thú vị và tìm kiếm những đôi giày phản ánh phong cách riêng của bạn!
            </h6>
        </div>

        <!--end-->
        <hr class="border border-danger border opacity-50">
        <div class="tab-content">
            <!--nội dung-->
            <div class="tab-pane fade text-center active show" id="gird">
                <div class="single-products row" >
                    <div class="col-md-3">
                        <div class="product-item margin40">
                            <div class="pro-img">
                                <img src="/dist/img/cuahang.jpg">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="product-item margin40">
                            <div class="pro-img">
                                <img src="/dist/img/cuahang.jpg">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="product-item margin40">
                            <div class="pro-img">
                                <img src="/dist/img/cuahang.jpg">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="product-item margin40">
                            <div class="pro-img">
                                <img src="/dist/img/cuahang.jpg">
                            </div>
                        </div>
                    </div>
                    <!---end-->
                </div>
            </div>
            <!--end-->
        </div>
    </div>


</section>
<!-- product content section end -->
<!-- footer start -->
<nav th:replace="~{/layout/footer.html}"></nav>
<!-- footer end -->

</body>
</html>

